﻿@model Oss.Hrms.Models.ViewModels.Attendance.VM_HRMS_Attendance_Remarks
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
    ViewBag.Title = "Edit Attendance Remarks";
}

@using (Html.BeginForm("EditAttendanceRemarks", "Attendance", FormMethod.Post, new { data_server = true, id = "EditAttendanceRemarks" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.hrms_attendance_remarks.ID)
        <div class="form-group">
            @Html.LabelFor(model => model.hrms_attendance_remarks.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.hrms_attendance_remarks.Remarks, new { @class = "form-control text-box single-line" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-7">
            </div>
            <div class="col-md-5">

                <input type="submit" value="Update" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
            </div>
        </div>
    </div>
}






