﻿@using System.Web.UI.WebControls
@model Oss.Hrms.Models.ViewModels.Attendance.VM_HRMS_Employee_Shift_Assign
@{
    ViewBag.Title = "EmployeeAttendanceShifing";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
@using (Html.BeginForm("EmployeeAttendanceShifing", "Attendance", FormMethod.Post, new { id = "EmployeeAttendanceShifing", data_server = "true", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="panel panel-default border-top border-blue">
        <div class="panel-heading pad5A">
            <h3 class="panel-title">Attendance Shifting</h3>
        </div>
        <div id="divPanelbody" class="panel-body" style="min-height: 45em">
            <div class="row ">
                <div class="col-md-3">
                    <div class="form-group">
                        @* @Html.LabelFor(model => model.StartDate, new { @class = "control-label" })*@
                        <label class = "control-label"> Attendance Date</label>
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        <div class="input-group date" @*data-datepicker-startdate="true"*@>
                            @Html.TextBoxFor(model => model.StartDate, new { Value = "", @class = "form-control calendarControl", autocomplete = "off" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.EndDate, new { @class = "control-label" })*@
                        <label class="control-label"> Shifting Date</label>
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        <div class="input-group date" @*data-datepicker-startdate="true"*@>
                            @Html.TextBoxFor(model => model.EndDate, new { Value = "", @class = "form-control calendarControl", autocomplete = "off" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group mrg25T">
                        <input type="submit" value="Shift Attendance" id="attendanceShifting" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function() {
        });
    </script>
}


