﻿
@{
    ViewBag.Title = "SyncDailyAttendance";
}
@using (Html.BeginForm("SyncDailyAttendances", "Attendance", FormMethod.Post, new { data_server = "true", id = "editemployeeattendance" }))
{
    <div class="panel panel-default content-box border-top border-green">
        <div class="panel-heading">
            <h3 class="panel-title">Sync Daily Attendance</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="ShiftTypeId" class="control-label ">Shift Name</label>&nbsp;
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.DropDownList("ShiftTypeId", ViewBag.ShiftTypeList as IEnumerable<SelectListItem>, new { @class = "form-control myselect2", style = "width:100%" })

                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="form-group">

                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <input type="submit" value="Sync Attendance (@DateTime.Now.ToShortTimeString())" class="btn btn-warning" style="width:100%" />
                        @*<input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />*@
                    </div>

                    <div class="col-md-4"></div>
                </div>
            </div>
           
        </div>

    </div>
}