﻿
@using (Html.BeginForm("SysncAttendanceHistory", "Attendance", FormMethod.Post, new { data_server = "true", id = "editemployeeattendance" }))
{
    <div class="panel panel-default content-box border-top border-green">
        <div class="panel-heading">
            <h3 class="panel-title">Sync Daily Attendance</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="ShiftTypeId" class="control-label ">Date</label>&nbsp;
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        <div class="input-group date">
                            <input type="text" autocomplete="off" class="calendarControl form-control" name="date" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="ShiftTypeId" class="control-label ">Shift Name</label>&nbsp;
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.DropDownList("shiftTypeId", ViewBag.ShiftTypeList as IEnumerable<SelectListItem>, new { @class = "form-control myselect2", style = "width:100%" })

                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="form-group">

                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <input type="submit" value="Sync Attendance History" class="btn btn-warning" style="width:100%" />
                        @*<input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />*@
                    </div>

                    <div class="col-md-4"></div>
                </div>
            </div>

        </div>

    </div>
}