﻿@model Oss.Hrms.Models.ViewModels.Attendance.VM_HRMS_Employee_Shift_Assign
@{
    ViewBag.Title = "ViewNotShiftAssignInfo";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">Shift Not Assign Employee List </h3>
    </div>
    <div class="panel-body">
        <div id="addform">
            @using (Html.BeginForm("ViewNotShiftAssignInfo", "Attendance", FormMethod.Post, new { data_server = "true", id = "ViewNotShiftAssignInfo" }))
            {
                <div class="row ">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.StartDate, new { @class = "control-label" })
                            &nbsp; <span><i class="ion-star font-red"></i></span>
                            <div class="input-group date" @*data-datetimepicker-startdate="true"*@>
                                @Html.TextBoxFor(model => model.StartDate, new { Value = "", @class = "form-control calendarControl", autocomplete = "off" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.EndDate, new { @class = "control-label" })
                            &nbsp; <span><i class="ion-star font-red"></i></span>
                            <div class="input-group date" @*data-datetimepicker-startdate="true"*@>
                                @Html.TextBoxFor(model => model.EndDate, new { Value = "", @class = "form-control calendarControl", autocomplete = "off" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group mrg25T">
                            <input type="submit" value="View Shift " id="btnviewshift" class="btn btn-primary" />
                        </div>
                    </div>
                </div>

            }
        </div>
        <div id="viewform">
            <div class="col-md-12 mrg10T">
                @{
                    int Sl = 0;
                }

                @if (Model.DataListHrmsEmployeeShiftAssigns != null && Model.DataListHrmsEmployeeShiftAssigns.Any())
                {
                    <div class="box">
                        <div class="box-body table-responsive">
                            <table id="table2" class="table table-hover table-responsive table-bordered nowrap font-black">
                                <thead>
                                    <tr>
                                        <th>
                                            SL
                                        </th>
                                        @*<th>
                                            @Html.DisplayNameFor(model => model.Section_Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CardTitle)
                                        </th>*@
                                        <th>
                                            @Html.DisplayNameFor(model => model.EmployeeIdentity)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DesignationName)
                                        </th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>SL</th>
                                        @*<th>Section Name</th>
                                        <th>Card Title</th>*@
                                        <th>Employee ID</th>
                                        <th>Name</th>
                                        <th>Designation</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var item in Model.DataListHrmsEmployeeShiftAssigns)
                                    {
                                        <tr>
                                            <td><b>@(++Sl).</b></td>
                                            @*<td>
                                                @Html.DisplayFor(modelItem => item.Section_Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CardTitle)
                                            </td>*@
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EmployeeIdentity)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DesignationName)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                }

            </div>

        </div>



    </div>
</div>
