﻿@model Oss.Hrms.Models.ViewModels.HRMS.VM_HRMS_Experience

@{
    ViewBag.Title = "AddExperience";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}

<div class="col-md-12">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="">@Html.ActionLink("Employee", "AddEmployee", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Spouse", "AddSpouse", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Child", "AddChildren", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Education", "AddEducation", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Training", "AddTraining", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="active">@Html.ActionLink("Experience", "AddExperience", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Skill", "AddSkill", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Reference", "AddReference", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Hobby", "AddHobby", "EmployeeRecord", new { @class = "elements" }, null)</li>
            @*<li class="">@Html.ActionLink("Salary", "AddSalary", "EmployeeRecord", new { @class = "elements" }, null)</li>*@
            <li class="">@Html.ActionLink("Facility", "AddFacility", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Employee Setting", "AddLinkToEmployee", "EmployeeRecord", new { @class = "elements" }, null)</li>
        </ul>
    </div>
</div>
<br />
<br />
<br />
@using (Html.BeginForm("AddExperience","EmployeeRecord",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="panel panel-default border-top border-blue">
        <div class="panel-heading pad5A">
            <h3 class="panel-title">Experience Information</h3>
        </div>
        <div id="divPanelbody" class="panel-body" @*style="min-height: 45em"*@>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Employee_Id, htmlAttributes: new { @class = "control-label " })
                        @Html.DropDownListFor(model => model.Employee_Id, ViewBag.Employee as IEnumerable<SelectListItem>,
                                                  "Select Employee Name", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Employee_Id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Company_Name, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Company_Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Company_Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Designation, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.Department, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Responsibility, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Responsibility, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Responsibility, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Job_Start_Date, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group date">
                            @Html.TextBoxFor(model => model.Job_Start_Date, new { @class = "form-control calendarControl" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Job_Start_Date, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Job_End_Date, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group date">
                            @Html.TextBoxFor(model => model.Job_End_Date, new { @class = "form-control calendarControl" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Job_End_Date, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div>
                <div class="form-group">
                    <div class="col-md-offset-11 col-md-12">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {

        
            //$('[data-datetimepicker-startdate]').datepicker({

            //});

            //$('[data-datetimepicker-startdate]').datetimepicker({
            //    //minDate: currentDate,
            //    format: 'MM-DD-YYYY'
            //    //format: 'YYYY-MM-DD'
            //}).on('dp.change', function (ev) {
            //    // $('#date-daily').change();
            //    var date = ev.date._d;
            //    // $('[data-datetimepicker-endate]').data("DateTimePicker").minDate(ev.date);
            //    // var date = moment(val).format('DD MMMM YYYY') + ' (' + moment(val).fromNow() + ')';
            //    var stdate = moment(date).format('MM/DD/YYYY');
            //    //$("#hidStartdate").val(stdate);
            //    var elemId = $(this).attr('data-startdate-model');
            //    $("#" + elemId).val(stdate);
            //});

        });
    </script>
}
