﻿@model Oss.Hrms.Models.ViewModels.HRMS.VM_HRMS_LinkToEmployee

@{
    ViewBag.Title = "LinkCreate";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<div class="col-md-12">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="">@Html.ActionLink("Employee", "AddEmployee", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Spouse", "AddSpouse", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Child", "AddChildren", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Education", "AddEducation", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Training", "AddTraining", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Experience", "AddExperience", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Skill", "AddSkill", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Reference", "AddReference", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Hobby", "AddHobby", "EmployeeRecord", new { @class = "elements" }, null)</li>
            @*<li class="">@Html.ActionLink("Salary", "AddSalary", "EmployeeRecord", new { @class = "elements" }, null)</li>*@
            <li class="">@Html.ActionLink("Facility", "AddFacility", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="active">@Html.ActionLink("Employee Setting", "AddLinkToEmployee", "EmployeeRecord", new { @class = "elements" }, null)</li>
        </ul>
    </div>
</div>
<br />
<br />
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="panel panel-default border-top border-blue">
        <div class="panel-heading pad5A">
            <h3 class="panel-title">Link Employee Information</h3>
        </div>
        <div id="divPanelbody" class="panel-body" @*style="min-height: 45em"*@>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmployeeId, htmlAttributes: new {@class = "control-label"})
                        @Html.DropDownListFor(model => model.EmployeeId, ViewBag.Employee as IEnumerable<SelectListItem>,
                            "Select Employee Name", new {@class = "form-control myselect2"})
                        @Html.ValidationMessageFor(model => model.EmployeeId, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.LineManagerId1, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.LineManagerId1, ViewBag.Employee as IEnumerable<SelectListItem>,
             "Select Employee Name", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.LineManagerId1, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.LineManagerId2, htmlAttributes: new {@class = "control-label"})
                        @Html.DropDownListFor(model => model.LineManagerId2, ViewBag.Employee as IEnumerable<SelectListItem>,
                            "Select Employee Name", new {@class = "form-control myselect2"})
                        @Html.ValidationMessageFor(model => model.LineManagerId2, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.LineManagerId3, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.LineManagerId3, ViewBag.Employee as IEnumerable<SelectListItem>,
             "Select Employee Name", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.LineManagerId3, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-offset-11 col-md-12">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
