﻿@model Oss.Hrms.Models.ViewModels.HRMS.VM_HRMS_Salary

@{
    ViewBag.Title = "AddSalary";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<div class="col-md-12">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="">@Html.ActionLink("Employee", "AddEmployee", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Spouse", "AddSpouse", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Child", "AddChildren", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Education", "AddEducation", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Training", "AddTraining", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Experience", "AddExperience", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Skill", "AddSkill", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Reference", "AddReference", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Hobby", "AddHobby", "EmployeeRecord", new { @class = "elements" }, null)</li>
            @*<li class="active">@Html.ActionLink("Salary", "AddSalary", "EmployeeRecord", new { @class = "elements" }, null)</li>*@
            <li class="">@Html.ActionLink("Facility", "AddFacility", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Employee Setting", "AddLinkToEmployee", "EmployeeRecord", new { @class = "elements" }, null)</li>
        </ul>
    </div>
</div>
<br />
<br />
<br />
@using (Html.BeginForm("AddSalary","EmployeeRecord",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="panel panel-default border-top border-blue">
        <div class="panel-heading pad5A">
            <h3 class="panel-title">Create Employee Salary</h3>
        </div>
        <div id="divPanelbody" class="panel-body" @*style="min-height: 45em"*@>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Employee_Id, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.Employee_Id, ViewBag.Employee as IEnumerable<SelectListItem>,
                            "Select Employee", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Employee_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-6" style="padding-top:25px;">
                            <input type="submit" value="Load" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
}
@if (Model.EODRecordList != null)
{
    using (Html.BeginForm("SaveSalary", "EmployeeRecord", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Employee_Id)
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default border-top border-blue">
                    <div class="panel-heading pad5A">
                        <h3 class="panel-title">Employee Salary Information</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Salary_Grade, htmlAttributes: new { @class = "control-label " })
                                    @Html.DropDownListFor(model => model.Salary_Grade, ViewBag.SalaryGrade as IEnumerable<SelectListItem>, "Please Select a Grade", new { @class = "form-control myselect2" })
                                    @Html.ValidationMessageFor(model => model.Salary_Grade, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Joining_Date, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group date">
                                        @Html.TextBoxFor(model => model.Joining_Date, new { @class = "form-control calendarControl" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Joining_Date, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Joining_Salary, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Joining_Salary, new { htmlAttributes = new { @class = "form-control", data_input_numeric = true } })
                                    @Html.ValidationMessageFor(model => model.Joining_Salary, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Payment_Mode, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Payment_Mode, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Payment_Mode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Bank_Name, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Bank_Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Bank_Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Account_No, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Account_No, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Account_No, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div  class="panel panel-default border-top border-blue">
                    <div class="panel-heading pad5A">
                        <h3 class="panel-title">Payroll Information</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="box-body table-responsive">
                                <table class="table table-hover table-responsive table-bordered nowrap font-black">
                                    <tr>
                                        <th>
                                            Salary Head
                                        </th>
                                        <th>
                                            Amount
                                        </th>
                                    </tr>
                                    @for (int item = 0; Model.EODRecordList.Count > item; item++)
                                    {
                                        <tr>
                                            <td>
                                                @Html.HiddenFor(model => model.EODRecordList[item].EODRecordID)
                                                @Html.HiddenFor(model => model.EODRecordList[item].EmployeeID)
                                                @Html.HiddenFor(model => model.EODRecordList[item].EODRefFK)
                                                @Html.DisplayFor(model => model.EODRecordList[item].SalaryItem, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.EODRecordList[item].Amount, new { htmlAttributes = new { @class = "form-control" } })
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")  
}
