﻿@model Oss.Hrms.Models.ViewModels.HRMS.VM_HRMS_Salary

@{
    ViewBag.Title = "EditSalary";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}

@using (Html.BeginForm("EditSalary","EmployeeRecord",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)   
    <div class="panel panel-default border-top border-blue">
        <div class="panel-heading pad5A">
            <h3 class="panel-title">Employee Basic Information</h3>
        </div>
        <div id="divPanelbody" class="panel-body" style="min-height: 45em">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Employee_Id, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.Employee_Id, ViewBag.Employee as IEnumerable<SelectListItem>,
                                 "Select Employee", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Employee_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    @*<div class="form-group">
                        @Html.LabelFor(model => model.Salary_Grade, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.Salary_Grade, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Salary_Grade, "", new { @class = "text-danger" })
                    </div>*@
                    <div class="form-group">
                        @Html.LabelFor(model => model.Salary_Grade, htmlAttributes: new { @class = "control-label " })
                        @Html.DropDownListFor(model => model.Salary_Grade, ViewBag.SalaryGrade as IEnumerable<SelectListItem>, "Please Select a Grade", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Salary_Grade, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Joining_Date, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group date" >
                            @Html.TextBoxFor(model => model.Joining_Date, "{0:MM/dd/yyyy}", new { @class = "form-control calendarControl" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Joining_Date, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Joining_Salary, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Joining_Salary, new { htmlAttributes = new { @class = "form-control", data_input_numeric = true } })
                        @Html.ValidationMessageFor(model => model.Joining_Salary, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Payment_Mode, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Payment_Mode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Payment_Mode, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Bank_Name, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Bank_Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Bank_Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Account_No, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Account_No, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Account_No, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Current_Salary, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Current_Salary, new { htmlAttributes = new { @class = "form-control", data_input_numeric = true } })
                        @Html.ValidationMessageFor(model => model.Current_Salary, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="box-body table-responsive">
                    <table class="table table-hover table-responsive table-bordered nowrap font-black">
                        <tr>
                            <th>
                                Salary Head
                            </th>
                            <th>
                                Amount
                            </th>
                        </tr>
                        @for (int item = 0; Model.EODRecordList.Count > item; item++)
                        {
                            <tr>
                                <td>
                                    @Html.HiddenFor(model => model.EODRecordList[item].EODRecordID)
                                    @Html.HiddenFor(model => model.EODRecordList[item].EmployeeID)
                                    @Html.DisplayFor(model => model.EODRecordList[item].SalaryItem, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.EODRecordList[item].Amount, new { htmlAttributes = new { @class = "form-control" } })
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-offset-11 col-md-12">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

        <script>
        $(document).ready(function () {

            
            $('[data-datetimepicker-startdate]').datepicker({
                format: 'MM-DD-YYYY'
            });

            //$('[data-datetimepicker-startdate]').datetimepicker({
            //    //minDate: currentDate,
            //    format: 'MM-DD-YYYY'
            //    //format: 'YYYY-MM-DD'
            //}).on('dp.change', function (ev) {
            //    // $('#date-daily').change();
            //    var date = ev.date._d;
            //    // $('[data-datetimepicker-endate]').data("DateTimePicker").minDate(ev.date);
            //    // var date = moment(val).format('DD MMMM YYYY') + ' (' + moment(val).fromNow() + ')';
            //    var stdate = moment(date).format('MM/DD/YYYY');
            //    //$("#hidStartdate").val(stdate);
            //    var elemId = $(this).attr('data-startdate-model');
            //    $("#" + elemId).val(stdate);
            //});

        });
        </script>
    }
