﻿@using System.Web.UI.WebControls
@model Oss.Hrms.Models.ViewModels.HRMS.VMEmployee

@{
    ViewBag.Title = "EditEmployee";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
@*<div class="col-md-12">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active">@Html.ActionLink("Employee", "AddEmployee", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Spouse", "AddSpouse", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Child", "AddChildren", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Education", "AddEducation", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Training", "AddTraining", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Experience", "AddExperience", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Skill", "AddSkill", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Reference", "AddReference", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Hobby", "AddHobby", "EmployeeRecord", new { @class = "elements" }, null)</li>
            @*<li class="">@Html.ActionLink("Salary", "AddSalary", "EmployeeRecord", new { @class = "elements" }, null)</li>*@
            @*<li class="">@Html.ActionLink("Facility", "AddFacility", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Employee Setting", "AddLinkToEmployee", "EmployeeRecord", new { @class = "elements" }, null)</li>
        </ul>
    </div>
</div>
<br />
<br />
<br />*@
@using (Html.BeginForm("EditEmployee", "EmployeeRecord", FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

<div class="panel panel-default border-top border-blue">
    <div class="panel-heading pad5A">
        <h3 class="panel-title">Employee Basic Information</h3>
    </div>
    <div id="divPanelbody" class="panel-body" style="min-height: 45em">
        <div class="row">
            @*<div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.CardTitle, new { @class = "control-label " })
                    &nbsp; <span><i class="ion-star font-red"></i></span>
                    @Html.DropDownListFor(model => model.CardTitle, ViewBag.Designations as IEnumerable<SelectListItem>,
                        "Select Designation", new { @class = "form-control myselect2" })
                    @Html.ValidationMessageFor(model => model.CardTitle, "", new { @class = "text-danger" })
                </div>
            </div>*@
            @*<div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.CardTitle, new { @class = "control-label " })&nbsp;
                    &nbsp; <span><i class="ion-star font-red"></i></span>
                    @Html.TextBoxFor(model => model.CardTitle, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CardTitle, "", new { @class = "text-danger" })
                </div>
            </div>*@
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.EmployeeIdentity, new { @class = "control-label " })&nbsp;
                    &nbsp; <span><i class="ion-star font-red"></i></span>
                    @*<div class="col-md-10">*@
                    @Html.TextBoxFor(model => model.EmployeeIdentity, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EmployeeIdentity, "", new { @class = "text-danger" })
                    @*</div>*@
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.CardNo, new { @class = "control-label " })&nbsp;
                    &nbsp; <span><i class="ion-star font-red"></i></span>
                    @Html.TextBoxFor(model => model.CardNo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CardNo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label " })&nbsp;
                    <span><i class="ion-star font-red"></i></span>
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Father_Name, new { @class = "control-label " })&nbsp;
                    @Html.TextBoxFor(model => model.Father_Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Father_Name, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row ">
            @*<div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name_BN, new { @class = "control-label " })&nbsp;
                    <span><i class="ion-star font-red"></i></span>
                    @Html.TextBoxFor(model => model.Name_BN, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name_BN, "", new { @class = "text-danger" })
                </div>
            </div>*@
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Mother_Name, new { @class = "control-label " })&nbsp;
                    @Html.TextBoxFor(model => model.Mother_Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Mother_Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.DOB, new { @class = "control-label" })
                    &nbsp; <span><i class="ion-star font-red"></i></span>
                    <div class="input-group date">
                        @Html.TextBoxFor(model => model.DOB, "{0:yyyy-MM-dd}", new { @class = "form-control calendarControl", autocomplete = "off" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Gender, new { @class = "control-label " })
                    &nbsp; <span><i class="ion-star font-red"></i></span>
                    @{ var listItemsGn = new List<ListItem>
                                                                                                                                                                                                   {
                                                                                                                                                                                                       new ListItem {Text = "Male", Value = "Male"},
                                                                                                                                                                                                       new ListItem {Text = "Female", Value = "Female"}
                                                                                                                                                                                                   }; }
                    @Html.DropDownList("Gender", new SelectList(listItemsGn, "Value", "Text"), "Select Gender",
                  new { @class = "form-control myselect2" })
                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Designation_Id, new { @class = "control-label " })
                    &nbsp; <span><i class="ion-star font-red"></i></span>
                    @Html.DropDownListFor(model => model.Designation_Id, ViewBag.Designations as IEnumerable<SelectListItem>,
                  "Select Designation", new { @class = "form-control myselect2" })
                    @Html.ValidationMessageFor(model => model.Designation_Id, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">

            @*<div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Country_Id, new { @class = "control-label " })&nbsp;
                    &nbsp; <span><i class="ion-star font-red"></i></span>
                    @Html.DropDownListFor(model => model.Country_Id, ViewBag.Coutries as IEnumerable<SelectListItem>,
                  "Select Business Unit", new { @class = "form-control myselect2" })
                    @Html.ValidationMessageFor(model => model.Country_Id, "", new { @class = "text-danger" })
                </div>
            </div>*@
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Business_Unit_Id, new { @class = "control-label " })&nbsp;
                    &nbsp; <span><i class="ion-star font-red"></i></span>
                    @Html.DropDownListFor(model => model.Business_Unit_Id, ViewBag.BUnits as IEnumerable<SelectListItem>,
                  "Select Business Unit", new { @class = "form-control myselect2" })
                    @Html.ValidationMessageFor(model => model.Business_Unit_Id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Department_Id, new { @class = "control-label " })&nbsp;
                    &nbsp; <span><i class="ion-star font-red"></i></span>
                    @Html.DropDownListFor(model => model.Department_Id, ViewBag.Departments as IEnumerable<SelectListItem>,
                  "Select Department", new { @class = "form-control myselect2" })
                    @Html.ValidationMessageFor(model => model.Department_Id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Blood_Group, new { @class = "control-label " })&nbsp;
                    @{ var listItemBloodGroup = new List<ListItem>
                                                                                                                                                                                       {
                                                                                                                                                                                           new ListItem {Text = "A+(ve)", Value = "A+(ve)"},
                                                                                                                                                                                           new ListItem {Text = "A-(ve)", Value = "A-(ve)"},
                                                                                                                                                                                           new ListItem {Text = "B+(ve)", Value = "B+(ve)"},
                                                                                                                                                                                           new ListItem {Text = "B-(ve)", Value = "B-(ve)"},
                                                                                                                                                                                           new ListItem {Text = "AB+(ve)", Value = "AB+(ve)"},
                                                                                                                                                                                           new ListItem {Text = "AB-(ve)", Value = "AB-(ve)"},
                                                                                                                                                                                           new ListItem {Text = "O+(ve)", Value = "O+(ve)"},
                                                                                                                                                                                           new ListItem {Text = "O-(ve)", Value = "O-(ve)"}
                                                                                                                                                                                       }; }
                    @Html.DropDownListFor(model => model.Blood_Group, new SelectList(listItemBloodGroup, "Value", "Text"), "Select Blood Group",
                  new { @class = "form-control myselect2" })
                    @Html.ValidationMessageFor(model => model.Blood_Group, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Joining_Date, new { @class = "control-label" })
                    &nbsp; <span><i class="ion-star font-red"></i></span>
                    <div class="input-group date">
                        @Html.TextBoxFor(model => model.Joining_Date, "{0:yyyy-MM-dd}", new { @class = "form-control calendarControl", autocomplete = "off" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Joining_Date, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            @*<div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Unit_Id, new { @class = "control-label " })&nbsp;
                    &nbsp; <span><i class="ion-star font-red"></i></span>
                    @Html.DropDownListFor(model => model.Unit_Id, new SelectList(string.Empty, "Value", "Text"), "Select Unit",
                  new { @class = "form-control myselect2" })
                    @Html.ValidationMessageFor(model => model.Unit_Id, "", new { @class = "text-danger" })
                </div>
            </div>*@


            @*<div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Section_Id, new { @class = "control-label " })&nbsp;
                    &nbsp; <span><i class="ion-star font-red"></i></span>
                    @Html.DropDownListFor(model => model.Section_Id, new SelectList(string.Empty, "Value", "Text"),
                  "Select Section", new { @class = "form-control myselect2" })
                    @Html.ValidationMessageFor(model => model.Section_Id, "", new { @class = "text-danger" })
                </div>
            </div>*@
            @*<div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.LineId, new { @class = "control-label " })&nbsp;
                    &nbsp; <span><i class="ion-star font-red"></i></span>
                    @Html.DropDownListFor(model => model.LineId, ViewBag.Line as IEnumerable<SelectListItem>,
                  "Select Line", new { @class = "form-control myselect2" })
                    @Html.ValidationMessageFor(model => model.LineId, "", new { @class = "text-danger" })
                </div>
            </div>*@
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Religion, new { @class = "control-label " })&nbsp;
                    @{ var listItemReligion = new List<ListItem>
                                                                                                                                                                                                       {
                                                                                                                                                                                                           new ListItem {Text = "Islam", Value = "Islam"},
                                                                                                                                                                                                           new ListItem {Text = "Hindu", Value = "Hindu"},
                                                                                                                                                                                                           new ListItem {Text = "Christian", Value = "Christian"},
                                                                                                                                                                                                           new ListItem {Text = "Other", Value = "Other"}
                                                                                                                                                                                                       }; }
                    @Html.DropDownListFor(model => model.Religion, new SelectList(listItemReligion, "Value", "Text"), "Select Religion",
                  new { @class = "form-control myselect2" })
                    @Html.ValidationMessageFor(model => model.Religion, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.NID_No, new { @class = "control-label " })
                    &nbsp; <span><i class="ion-star font-red"></i></span>
                    @Html.TextBoxFor(model => model.NID_No, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NID_No, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Mobile_No, new { @class = "control-label " })
                    &nbsp; <span><i class="ion-star font-red"></i></span>
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.Mobile_No, new { @class = "form-control" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-phone"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Mobile_No, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Email_Id, new { @class = "control-label " })&nbsp;
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.Email_Id, new { @class = "form-control" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Email_Id, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Marital_Status, new { @class = "control-label " })&nbsp;
                    @{ var listItemMaritalStatusList = new List<ListItem>
                                                                                                                                                                                                                                                                           {
                                                                                                                                                                                                                                                                               new ListItem {Text = "Single", Value = "Single"},
                                                                                                                                                                                                                                                                               new ListItem {Text = "Married", Value = "Married"},
                                                                                                                                                                                                                                                                               new ListItem {Text = "Widow", Value = "Widow"}
                                                                                                                                                                                                                                                                           }; }
                    @Html.DropDownListFor(model => model.Marital_Status, new SelectList(listItemMaritalStatusList, "Value",
                              "Text"), "Select Marital Status", new { @class = "form-control myselect2" })

                    @Html.ValidationMessageFor(model => model.Marital_Status, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Emergency_Contact_No, new { @class = "control-label " })&nbsp;
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.Emergency_Contact_No, new { @class = "form-control", data_input_numeric = "true" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-phone"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Emergency_Contact_No, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.RelationWithEmergencyPerson, new { @class = "control-label " })&nbsp;
                    @{ var listrelationList = new List<ListItem>
                                                                                                                                                                                                                                                                           {
                                                                                                                                                                                                                                                                               new ListItem {Text = "Father", Value = "1"},
                                                                                                                                                                                                                                                                               new ListItem {Text = "Mother", Value = "2"},
                                                                                                                                                                                                                                                                                new ListItem {Text = "Brother", Value = "3"},
                                                                                                                                                                                                                                                                               new ListItem {Text = "Sister", Value = "4"},
                                                                                                                                                                                                                                                                               new ListItem {Text = "Spouse", Value = "5"},
                                                                                                                                                                                                                                                                               new ListItem {Text = "Other", Value = "6"}
                                                                                                                                                                                                                                                                           }; }
                    @Html.DropDownListFor(model => model.RelationWithEmergencyPerson, new SelectList(listrelationList, "Value",
                              "Text"), "Select Relation", new { @class = "form-control myselect2" })

                    @Html.ValidationMessageFor(model => model.RelationWithEmergencyPerson, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Employement_Type, new { @class = "control-label " })&nbsp;
                    @{ var listItems = new List<ListItem>
                                                                                                                                                                                                                                                                                           {
                                                                                                                                                                                                                                                                                               new ListItem {Text = "Permanent", Value = "Permanent"},
                                                                                                                                                                                                                                                                                               new ListItem {Text = "Contactual", Value = "Contactual"},
                                                                                                                                                                                                                                                                                               new ListItem {Text = "Trainee", Value = "Trainee"},
                                                                                                                                                                                                                                                                                               new ListItem {Text = "On Probation", Value = "On Probation"}
                                                                                                                                                                                                                                                                                           }; }
                    @Html.DropDownListFor(model => model.Employement_Type, new SelectList(listItems, "Value",
                              "Text")
, new { @class = "form-control myselect2" })

                    @Html.ValidationMessageFor(model => model.Employement_Type, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.TraineePeriod, new { @class = "control-label " })&nbsp;

                    @Html.TextBoxFor(model => model.TraineePeriod, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TraineePeriod, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.TraineeConfirmationDate, new { @class = "control-label" })
                    &nbsp;
                    <div class="input-group date">
                        @Html.TextBoxFor(model => model.TraineeConfirmationDate, "{0:yyyy-MM-dd}", new { @class = "form-control calendarControl", autocomplete = "off" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.TraineeConfirmationDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.ProbationPeriod, new { @class = "control-label " })&nbsp;

                    @Html.TextBoxFor(model => model.ProbationPeriod, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProbationPeriod, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.ProbationConfirmationDate, new { @class = "control-label" })
                    &nbsp;
                    <div class="input-group date">
                        @Html.TextBoxFor(model => model.ProbationConfirmationDate, "{0:yyyy-MM-dd}", new { @class = "form-control calendarControl", autocomplete = "off" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.ProbationConfirmationDate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.SupervisorFk, new { @class = "control-label " })
                    @Html.DropDownListFor(model => model.SupervisorFk, ViewBag.Employee as IEnumerable<SelectListItem>,
     "Select Supervisor", new { @id = "EmployeeId", @class = "form-control  myselect2" })
                    @Html.ValidationMessageFor(model => model.SupervisorFk, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Present_Address, new { @class = "control-label " })
                    @Html.TextAreaFor(model => model.Present_Address, new { @class = "form-control", rows = "3" })
                    @Html.ValidationMessageFor(model => model.Present_Address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Permanent_Address, new { @class = "control-label " })

                    @Html.TextAreaFor(model => model.Permanent_Address, new { @class = "form-control", rows = "3" })
                    @Html.ValidationMessageFor(model => model.Permanent_Address, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div>
            <div class="form-group">
                <div class="col-md-offset-11 col-md-12">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {

            $('.calendarControl').datepicker({
                autoclose: true,
                format: "yyyy/m/d"
            });





            /*
                This is used for cascding dropdown. Which will change upon Business Unit. If Business Unit is selected
                then the Units will appear according to selected Busines Unit.
                */
            $("#Business_Unit_Id").change(function () {

                $("#Unit_Id").empty();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetUnitList")",
                    datatype: "Json",
                    data: { bUnitId: $("#Business_Unit_Id").val() },
                    success: function (data) {
                        var items = "";
                        items += "<option value = '' disabled selected>Please select Category</option>";
                        $.each(data, function (index, value) {
                            items += ('<option value="' + value.ID + '">'
                                + value.UnitName + '</option>');
                        });
                        $("#Unit_Id").html(items);
                    }
                });
            });

            /*
                *  This is used for cascding dropdown. Which will change upon Department. If Department is selected
                        then the Sections will appear according to selected Busines Unit.
                */


            $("#Department_Id").change(function () {

                $("#Section_Id").empty();

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetSectionList")",
                    datatype: "Json",
                    data: { deptId: $("#Department_Id").val() },
                    success: function (data) {
                        var items = "";
                        items += "<option value = '' disabled selected>Please select Section</option>";
                        $.each(data, function (index, value) {
                            items += ('<option value="' + value.ID + '">'
                                + value.SectionName + '</option>');
                        });
                        $("#Section_Id").html(items);
                    }
                });
            });






            /*
             This is used for cascding dropdown. Which will change upon Present District. If District is selected
             then the Police Station will appear according to selected District.
             */
            $('#PresentDistrict_ID').select2().on("select2-selecting", function (e) {

                if (e.val !== "") {
                    getPoliceStationList(e.val, "PresentPoliceStation_ID");
                    //  getUnitlistforAddDepartment(e.object.text, "ddlUnitNameforUpdateEmployeeInfo");
                    ///  $('#hidBusinessUnit').val(e.object.text);

                } else {
                    //
                }
            }).on("change", function (e) {


                if (e.val !== "0") {
                }
            });



            /*
             This is used for cascding dropdown. Which will change upon Present District. If District is selected
             then the Police Station will appear according to selected District.
             */
            $('#PresentPoliceStation_ID').select2().on("select2-selecting", function (e) {
                if (e.val !== "") {
                    getPostOfficeList(e.val, "PresentPostOffice_ID");
                } else {
                    //
                }
            }).on("change", function (e) {


                if (e.val !== "0") {
                }
            });


            /*
            This is used for cascding dropdown. Which will change upon Present District. If District is selected
            then the Police Station will appear according to selected District.
            */
            $('#PresentPostOffice_ID').select2().on("select2-selecting", function (e) {
                if (e.val !== "") {
                    getVillageList(e.val, "PresentVillage_ID");
                } else {
                    //
                }
            }).on("change", function (e) {


                if (e.val !== "0") {
                }
            });



            /*
          This is used for cascding dropdown. Which will change upon Present District. If District is selected
          then the Police Station will appear according to selected District.
          */
            $('#PresentVillage_ID').select2().on("select2-selecting", function (e) {
                if (e.val !== "") {
                    ///  getVillageList(e.val, "PresentVillage_ID");
                } else {
                    //
                }
            }).on("change", function (e) {


                if (e.val !== "0") {
                }
            });
            //






            /*
             This is used for cascding dropdown. Which will change upon Present District. If District is selected
             then the Police Station will appear according to selected District.
             */
            $('#PermanentDistrict_ID').select2().on("select2-selecting", function (e) {

                if (e.val !== "") {
                    getPoliceStationList(e.val, "PermanentPoliceStation_ID");

                } else {
                    //
                }
            }).on("change", function (e) {


                if (e.val !== "0") {
                }
            });



            /*
             This is used for cascding dropdown. Which will change upon Present District. If District is selected
             then the Police Station will appear according to selected District.
             */
            $('#PermanentPoliceStation_ID').select2().on("select2-selecting", function (e) {
                if (e.val !== "") {
                    getPostOfficeList(e.val, "PermanentPostOffice_ID");
                } else {
                    //
                }
            }).on("change", function (e) {


                if (e.val !== "0") {
                }
            });


            /*
            This is used for cascding dropdown. Which will change upon Present District. If District is selected
            then the Police Station will appear according to selected District.
            */
            $('#PermanentPostOffice_ID').select2().on("select2-selecting", function (e) {
                if (e.val !== "") {
                    getVillageList(e.val, "PermanentVillage_ID");
                } else {
                    //
                }
            }).on("change", function (e) {


                if (e.val !== "0") {
                }
            });



            /*
          This is used for cascding dropdown. Which will change upon Present District. If District is selected
          then the Police Station will appear according to selected District.
          */
            $('#PermanentVillage_ID').select2().on("select2-selecting", function (e) {
                if (e.val !== "") {
                    ///  getVillageList(e.val, "PresentVillage_ID");
                } else {
                    //
                }
            }).on("change", function (e) {


                if (e.val !== "0") {
                }
                });


            /*
        This is used for cascding dropdown. Which will change upon Present District. If District is selected
        then the Police Station will appear according to selected District.
        */
            //$('#PermanentVillage_ID').select2().on("select2-selecting", function (e) {
            //    if (e.val !== "") {
            //        ///  getVillageList(e.val, "PresentVillage_ID");
            //    } else {
            //        //
            //    }
            //}).on("change", function (e) {


            //    if (e.val !== "0") {
            //    }
            //});


            $('#ddlPresentStatus').select2().on("select2-selecting", function (e) {
                //TODO: step2 loading mathod
                //alert('ok go');
                if (e.val === "1") {
                    $('#divEmployeelist').addClass("hide");
                }
                else if (e.val === "2") {
                    $('#divEmployeelist').removeClass("hide");
                }
                else if (e.val === "3") {
                    $('#divEmployeelist').removeClass("hide");
                }
                else if (e.val === "4") {
                    $('#divEmployeelist').removeClass("hide");
                }
            }).on("change", function (e) {


                if (e.val !== "0") {
                    //
                }
            });




            function getPoliceStationList(Id, elemid) {
                if (Id !== "" && elemid !== "") {
                    $.ajax({
                        url: "@Url.Action("GetPoliceStationList1", "EmployeeRecord")",
                        //  data: { districtid: $("#PresentDistrict_ID").val() },
                        data: { districtid: Id },
                        type: "POST",
                        dataType: "json",
                        success: function (data) {
                            var newOptions = data.list;
                            console.log("test :", newOptions);
                            var $el = $("#" + elemid);
                            $el.empty(); // remove old options
                            $.each(newOptions, function (value, key) {
                                $el.append($("<option></option>").attr("value", key.Value).text(key.Text));
                            });
                        },
                        error: function (xhr, status) {
                            alert(status);
                            console.log('status', status);
                        }
                    });
                } else {
                    alert('Select District');
                }
            }



            function getPostOfficeList(Id, elemid) {
                if (Id !== "" && elemid !== "") {
                    $.ajax({
                        url: "@Url.Action("GetPostOfficeList1", "EmployeeRecord")",
                        //  data: { districtid: $("#PresentDistrict_ID").val() },
                        data: { id: Id },
                        type: "POST",
                        dataType: "json",
                        success: function (data) {
                            var newOptions = data.list;
                            console.log("test :", newOptions);
                            var $el = $("#" + elemid);
                            $el.empty(); // remove old options
                            $.each(newOptions, function (value, key) {
                                $el.append($("<option></option>").attr("value", key.Value).text(key.Text));
                            });
                        },
                        error: function (xhr, status) {
                            alert(status);
                            console.log('status', status);
                        }
                    });
                } else {
                    alert('Select Police Station');
                }
            }



            function getVillageList(Id, elemid) {
                if (Id !== "" && elemid !== "") {
                    $.ajax({
                        url: "@Url.Action("GetVillageList1", "EmployeeRecord")",
                        data: { id: Id },
                        type: "POST",
                        dataType: "json",
                        success: function (data) {
                            var newOptions = data.list;
                            console.log("test :", newOptions);
                            var $el = $("#" + elemid);
                            $el.empty(); // remove old options
                            $.each(newOptions, function (value, key) {
                                $el.append($("<option></option>").attr("value", key.Value).text(key.Text));
                            });
                        },
                        error: function (xhr, status) {
                            alert(status);
                            console.log('status', status);
                        }
                    });
                } else {
                    alert('Select Post Office');
                }
            }
        });
    </script>
}
