﻿@using Oss.Hrms.Models.ViewModels.HRMS
@{
    ViewBag.Title = "EmployeeExpenseList";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}

<div class="panel panel-default border-top border-blue">
    <div class="panel-heading pad5A">
        @{
            if (@ViewBag.Status == 0)
            {
                <h3 class="panel-title">Pending Employee Expense Claim</h3>
            }
            else if (@ViewBag.Status == 1)
            {
                <h3 class="panel-title">Approved Employee Expense Claim</h3>
            }
        }

    </div>
    <div id="divPanelbody" class="panel-body" @*style="min-height: 45em"*@>
        @using (Html.BeginForm("ExpenseListForManagement", "EmployeeRecord", FormMethod.Post, new { id = "frmsearch" }))
        {
            <input  type="hidden" name="status" value="@ViewBag.Status"/>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">From Date</label>
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        <div class="input-group date">
                            <input name="fromDate" type="text" class="form-control calendarControl" required="required" autocomplete="off"  />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">To Date</label>
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        <div class="input-group date">
                            <input name="toDate" type="text" class="form-control calendarControl" required="required" autocomplete="off" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="submit" name="command" value="Search"  class="btn btn-primary" style="text-align:center;margin-top:24px"/>
                    </div>
                </div>
            </div>
            <div id="viewform">
                <div class="col-md-12 mrg10T">
                    @{
                        int Sl = 0;
                    }
                    @{
                        List<VmExpense> listfbinfo = ViewBag.expenselist as List<VmExpense>;
                        if (listfbinfo != null && listfbinfo.Any())
                        {
                            <div class="box">
                                <div class="box-body table-responsive">
                                    <table id="table2" class="table table-hover table-responsive table-bordered nowrap font-black">
                                        <thead>
                                            <tr>
                                                <th>
                                                    SL
                                                </th>
                                                <th>
                                                    Name
                                                </th>
                                                <th>
                                                    Amount
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                decimal amt = 0;
                                                foreach (var item in listfbinfo)
                                                {

                                                    amt = amt + item.Amount;

                                                    <tr>
                                                        <td><b>@(++Sl).</b></td>
                                                        @*<td>
                                                            @Html.DisplayFor(modelItem => item.CardTitle)
                                                        </td>*@
                                                        <td>
                                                            @item.Name
                                                        </td>
                                                        <td>
                                                            <a href="@Url.Action("ExpenseDetailsReport","EmployeeRecord",new { fromDate=item.FromDate,toDate=item.ToDate,employeeid=item.EmployeeId,status=ViewBag.Status})" target="_blank"> @item.Amount</a>
                                                        </td>


                                                        <td>
                                                            @*<a href="@Url.Action("DeleteExpense", "EmployeeRecord", new RouteValueDictionary(new {id = item.ID}))" data-tooltip="tooltip" title="Delete Expense" data-placement="top"><i class="glyphicon glyphicon-trash"></i></a>*@
                                                        </td>

                                                    </tr>


                                                }
                                            }
                                            <tr>
                                                <th colspan="2" style="text-align:center">
                                                    Total
                                                </th>
                                                <th>
                                                    @amt
                                                </th>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            
            <input type="submit" class="btn btn-success" style="width:100%" name="command" value="Approve" />
        }
    </div>
</div>