﻿@using Oss.Hrms.Models.Entity.HRMS
@{
    ViewBag.Title = "EmployeeExpenseList";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}

<div class="panel panel-default border-top border-blue">
    <div class="panel-heading pad5A">
        <h3 class="panel-title">Employee Expense Claim</h3>
    </div>
    <div id="divPanelbody" class="panel-body" @*style="min-height: 45em"*@>
        @using (Html.BeginForm("ExpenseList", "EmployeeRecord", FormMethod.Post, new { id = "frmsearch" }))
        {
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">From Date</label>
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        <div class="input-group date">
                            <input name="fromDate" type="text" class="form-control calendarControl" required="required" autocomplete="off"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">To Date</label>
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        <div class="input-group date">
                            <input name="toDate" type="text" class="form-control calendarControl" required="required" autocomplete="off"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="submit" value="Search" class="btn btn-primary" style="text-align:center;margin-top:24px" />
                    </div>
                </div>
            </div>
        }

        <div id="viewform">
            <div class="col-md-12 mrg10T">
                @{
                    int Sl = 0;
                }
                @{
                    List<HRMS_ExpenseClaim> listfbinfo = ViewBag.expenselist as List<HRMS_ExpenseClaim>;
                    if (listfbinfo != null && listfbinfo.Any())
                    {
                        <div class="box">
                            <div class="box-body table-responsive">
                                <table id="table" class="table table-hover table-responsive table-bordered nowrap font-black">
                                    <thead>
                                        <tr>
                                            <th>
                                                SL
                                            </th>
                                            <th>
                                                Date
                                            </th>
                                            <th>
                                                Claim Type
                                            </th>
                                            <th>
                                                Amount
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                            <th>
                                                Remarks
                                            </th>
                                            <th>Status</th>
                                            <th>
                                                Action
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @{
                                            decimal amt = 0;
                                            foreach (var item in listfbinfo)
                                            {
                                                amt = amt + item.Expense;
                                                <tr>
                                                    <td><b>@(++Sl).</b></td>
                                                    @*<td>
                                                            @Html.DisplayFor(modelItem => item.CardTitle)
                                                        </td>*@
                                                    <td>
                                                        @item.Date.ToString("dd MMM yyyy")
                                                    </td>


                                                    @{
                                                        if (item.ExpenseTypeId == 1)
                                                        {
                                                            <td>Due</td>
                                                        }
                                                        else
                                                        {
                                                            <td>Advance</td>
                                                        }
                                                    }
                                                    <td>
                                                        @item.Expense
                                                    </td>
                                                    <td>
                                                        @item.Description
                                                    </td>
                                                    <td>
                                                        @item.Remarks
                                                    </td>

                                                    <td>
                                                        @{
                                                            if (item.ApprovalStatus == 0)
                                                            {
                                                                <label class="label label-default">Pending</label>
                                                            }
                                                            if (item.ApprovalStatus == 1)
                                                            {
                                                                <label class="label label-success">Approved</label>
                                                            }
                                                            if (item.ApprovalStatus == 2)
                                                            {
                                                                <label class="label label-danger">Reject</label>
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        <a href="@Url.Action("EditExpense", "EmployeeRecord", new RouteValueDictionary(new { id = item.ID }))" onclick="target = '_blank';" data-tooltip="tooltip" title="Update Expense" data-placement="top"><i class="fa fa-edit"></i></a>
                                                        <a href="@Url.Action("DeleteExpense", "EmployeeRecord", new RouteValueDictionary(new { id = item.ID }))" data-tooltip="tooltip" title="Delete Expense" data-placement="top"><i class="glyphicon glyphicon-trash"></i></a>
                                                    </td>

                                                </tr>

                                            }

                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="3" style="text-align:center">Total</th>
                                            <th colspan="4">@amt</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

    </div>
</div>