﻿@using Oss.Hrms.Models.Entity.HRMS
@{
    ViewBag.Title = "EmployeeExpenseList";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}

<div class="panel panel-default border-top border-blue">
    <div class="panel-heading pad5A">
        <h3 class="panel-title">Employee Expense Claim </h3>
    </div>
    <div id="divPanelbody" class="panel-body" @*style="min-height: 45em"*@>

        <div id="viewform">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <div class="col-md-5"><h5 style="font-weight:bold">Employee Name :</h5></div>
                        <div class="col-md-7"><h5>@ViewBag.Employee.Name</h5></div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-6"><h5 style="font-weight:bold">Employee ID :</h5></div>
                        <div class="col-md-6"><h5>@ViewBag.Employee.EmployeeIdentity</h5></div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-6"><h5 style="font-weight:bold">From Date :</h5></div>
                        <div class="col-md-6"><h5>@Convert.ToDateTime(ViewBag.FromDate.ToString()).ToShortDateString()</h5></div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-6"><h5 style="font-weight:bold">To Date :</h5></div>
                        <div class="col-md-6"><h5>@Convert.ToDateTime(ViewBag.ToDate.ToString()).ToShortDateString()</h5></div>
                    </div>


                </div>
            </div>
            <div class="col-md-12 mrg10T">
                @{
                    int Sl = 0;
                }
                @{
                    List<HRMS_ExpenseClaim> listfbinfo = ViewBag.expenselist as List<HRMS_ExpenseClaim>;
                    if (listfbinfo != null && listfbinfo.Any())
                    {
                        <div class="box">
                            <div class="box-body table-responsive">
                                <table id="table2" class="table table-hover table-responsive table-bordered nowrap font-black">
                                    <thead>
                                        <tr>
                                            <th>
                                                SL
                                            </th>
                                            <th>
                                                Date
                                            </th>
                                            <th>
                                                Claim Type
                                            </th>
                                            <th>
                                                Amount
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                            <th>
                                                Remarks
                                            </th>

                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        @{
                                            decimal amt = 0;
                                            foreach (var item in listfbinfo)
                                            {
                                                amt = amt + item.Expense;
                                                <tr>
                                                    <td><b>@(++Sl).</b></td>
                                                    @*<td>
                                                            @Html.DisplayFor(modelItem => item.CardTitle)
                                                        </td>*@
                                                    <td>
                                                        @item.Date.ToString("dd MMM yyyy")
                                                    </td>


                                                    @{
                                                        if (item.ExpenseTypeId == 1)
                                                        {
                                                            <td>Due</td>
                                                        }
                                                        else
                                                        {
                                                            <td>Advance</td>
                                                        }
                                                    }
                                                    <td>
                                                        @item.Expense
                                                    </td>
                                                    <td>
                                                        @item.Description
                                                    </td>
                                                    <td>
                                                        @item.Remarks
                                                    </td>


                                                </tr>


                                            }
                                            <tr>
                                                <th colspan="3" style="text-align:center">Total</th>
                                                <th>@amt</th>
                                                <th colspan="2"></th>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>