﻿@using Oss.Hrms.Models.Entity.HRMS
@{
    /**/

    Layout = null;
}
<style>
    h4 {
        border-bottom: 2px solid black;
        display: inline;
    }

    .trclass {
        border: 1px solid #000;
        font-size: 13px;
        font-weight: 800
    }

    .container {
        height: 50px;
        text-align: center;
        font-size: 13px;
        font-weight: 700;
    }

    #page {
        width: 900px;
        margin: 0 auto;
        font-size: 12px;
    }

    @@media print {
        #print, #print * {
            display: none !important;
        }
        /*#tblData td:last-child {
            display: none
        }*/
    }
</style>
<script>
    function printDiv() {
        window.print();
    }
</script>
@Styles.Render("~/Assets/bootstrap/css/bootstrap.min.css")
<div id="page">
    <div>
        <table style="width: 100%">
            <tr>
                <td style="width: 15%"></td>
                <td style="width: 70%; text-align: center">
                    <h2>Expense Details</h2>
                    <br />
                    <h4>(From @ViewBag.FromDate.ToString("dd MMM yyyy") To @ViewBag.ToDate.ToString("dd MMM yyyy"))</h4>
                </td>
                <td style="width: 15%">
                    <span id="print" style="float: right;  vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
                        Print
                    </span>
                </td>
            </tr>
        </table>

        <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
        <div>
            <table style="width:100%">
                <tr>
                    <td style="width:14%;font-weight:bold">Name</td>
                    <td style="width:1%;font-weight:bold">: </td>
                    <td style="width:39%;">
                        @ViewBag.Employee.Name
                    </td>
                    <td style="width:14%;font-weight:bold">ID</td>

                    <td style="width:1%;font-weight:bold">: </td>
                    <td style="width:39%;">
                        @ViewBag.Employee.EmployeeIdentity
                    </td>

                </tr>
                <tr>
                    <td style="width:14%;font-weight:bold">Designation</td>
                    <td style="width:1%;font-weight:bold">: </td>
                    <td style="width:39%;">
                        @ViewBag.Designation.Name
                    </td>
                    <td style="width:14%;font-weight:bold">Department</td>
                    <td style="width:1%;font-weight:bold">: </td>
                    <td style="width:39%;">
                        @ViewBag.Department.DeptName
                    </td>
                </tr>
            </table>
        </div>
        <br />

        <div style="width: 100%; border: 1px solid #000">

            <table id="tblData" style="width: 100%;" cellspacing="0" rules="all" border="1">
                <thead>
                    <tr>
                        <th colspan="3" style="text-align:center"> Particulars</th>
                        <th colspan="2" style="text-align:center">Amount</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th style="text-align:center;width:5%">
                            SL
                        </th>
                        <th style="text-align:center;width:15%">
                            Date
                        </th>
                        <th style="text-align:center;width:40%">
                            Description
                        </th>
                        <th style="text-align:center;width:10%">
                            Due
                        </th>
                        <th style="text-align:center;width:10%">
                            Advanced
                        </th>
                        <th style="text-align:center;width:10%">
                            Remarks
                        </th>
                        @if (ViewBag.Status == 0)
                        {
                            <th style="text-align:center;width:10%" class="hidden-print">Action</th>
                        }


                    </tr>
                </thead>

                <tbody>
                    @{
                        int Sl = 0;
                        List<HRMS_ExpenseClaim> listfbinfo = ViewBag.expenselist as List<HRMS_ExpenseClaim>;
                        decimal aamt = 0;
                        decimal damt = 0;
                        foreach (var item in listfbinfo)
                        {

                    <tr>
                        <td style="padding-left:1px"><b>@(++Sl).</b></td>



                        @*<td>
            @Html.DisplayFor(modelItem => item.CardTitle)
        </td>*@
                        <td style="padding-left:1px">
                            @item.Date.ToString("dd MMM yyyy")
                        </td>
                        <td style="padding-left:1px">
                            @item.Description
                        </td>
                        @{
                            if (item.ExpenseTypeId == 1)
                            {
                                damt = damt + item.Expense;
                                <td style="text-align:right;padding-left:1px">
                                    @item.Expense

                                </td>
                                <td style="text-align:right;padding-left:1px">
                                    0.00
                                </td>
                            }
                            else
                            {
                                aamt = aamt + item.Expense;
                                <td style="text-align:right;padding-left:1px">
                                    0.00
                                </td>
                                <td style="text-align:right;padding-left:1px">
                                    @item.Expense
                                </td>
                            }
                        }

                        <td style="padding-left:1px">
                            @item.Remarks
                        </td>
                        @if (ViewBag.Status == 0)
                        {
                            <td style="text-align:center" class="hidden-print">
                                <a href="@Url.Action("RejectClaim","EmployeeRecord",new { claimid=item.ID,fromDate=ViewBag.FromDate,toDate=ViewBag.ToDate,employeeid=item.EmployeeFk})" class="glyphicon glyphicon-remove"></a>
                            </td>
                        }
                    </tr>

                        }
                        <tr>
                            <th colspan="3" style="text-align:center">Total</th>
                            <th style="text-align:right">@damt</th>
                            <th style="text-align:right">@String.Format("{0:0.00}", @aamt)</th>
                            <th></th>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="5" style="text-align:right;font-size:18px">Grand Total (Due-Advanced)</th>
                        <th style="text-align:center;font-size:18px">@(damt - aamt)</th>

                    </tr>
                </tfoot>
            </table>

        </div>

        <table style="width: 100%">
            <tbody>
                <tr>
                    <td style="width: 50%; text-align: center; padding-top: 70px"><span style="border-top: 2px solid #000">Director & HR</span></td>
                    <td style="width: 50%; text-align: center; padding-top: 70px"><span style="border-top: 2px solid #000">Account</span></td>

                </tr>
            </tbody>
        </table>


    </div>
</div>