﻿@using System.Web.UI.WebControls
@model Oss.Hrms.Models.Entity.HRMS.HRMS_ExpenseClaim

@{
    ViewBag.Title = "EmployeeExpense";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}

<div class="panel panel-default border-top border-blue">
    <div class="panel-heading pad5A">
        <h3 class="panel-title">Employee Expense Claim</h3>
    </div>
    <div id="divPanelbody" class="panel-body" @*style="min-height: 45em"*@>
        @using (Html.BeginForm("ExpenseEntry", "EmployeeRecord", FormMethod.Post, new { id = "frmsearch" }))
        {
            @Html.HiddenFor(x=>x.ID)
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Date, new { @class = "control-label " })
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        <div class="input-group date">
                            @Html.TextBoxFor(model => model.Date, new { @class = "form-control calendarControl",@autocomplete = "off" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ExpenseTypeId, new { @class = "control-label " })
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @{ var listItemsGn = new List<ListItem>
                                                                  {
                                                                      new ListItem {Text = "Due", Value = "1"},
                                                                      new ListItem {Text = "Advance", Value = "2"}
                                                                  }; }
                        @Html.DropDownListFor(model=>model.ExpenseTypeId, new SelectList(listItemsGn, "Value", "Text"), "Select Claim Type",
                      new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.ExpenseTypeId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Expense, new { @class = "control-label " })&nbsp;
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.TextBoxFor(model => model.Expense, new { @class = "form-control", @type = "number" })
                        @Html.ValidationMessageFor(model => model.Expense, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, new { @class = "control-label " })&nbsp;
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = "3" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Remarks, new { @class = "control-label " })
                        @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", @rows = "3" })
                        @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Save" class="btn btn-primary" style="width:100%" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>