﻿@using System.Web.UI.WebControls
@model Oss.Hrms.Models.ViewModels.HRMS.VMEmployee

@{
    ViewBag.Title = "ViewEmployees";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}

@*<div class="col-md-12">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active">@Html.ActionLink("Employee", "IndexEmployees", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Spouse", "IndexSpouse", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Child", "IndexChild", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Education", "IndexEducation", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Training", "IndexTraining", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Experience", "IndexExperience", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Skill", "IndexSkill", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Reference", "IndexReference", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Hobby", "IndexHobby", "EmployeeRecord", new { @class = "elements" }, null)</li>
            @*<li class="">@Html.ActionLink("Salary", "IndexSalary", "EmployeeRecord", new { @class = "elements" }, null)</li>*@
@*<li class="">@Html.ActionLink("Facility", "IndexFacility", "EmployeeRecord", new { @class = "elements" }, null)</li>
                <li class="">@Html.ActionLink("Employee Setting", "IndexLinkToEmployee", "EmployeeRecord", new { @class = "elements" }, null)</li>
            </ul>
        </div>
    </div>
    <br />
    <br />
    <br />*@
<div class="panel panel-default border-top border-blue">
    <div class="panel-heading pad5A">
        <h3 class="panel-title">Employee Information</h3>
    </div>
    <div id="divPanelbody" class="panel-body" @*style="min-height: 45em"*@>
        @using (Html.BeginForm("IndexEmployees", "EmployeeRecord", FormMethod.Post, new { id = "frmsearch" }))
        {
            <div class="row">
                <div class="col-md-offset-3">
                    <div class="col-md-5">

                        <div class="form-group ">
                            <label class="control-label">Type</label> &nbsp; <span><i class="ion-star font-red"></i></span>
                            <span><i class="ion-star font-red"></i></span>
                            @{
                                var listItems = new List<ListItem>
                                                                                                                                                                                                                                                                                              {
                                                                                                                                                new ListItem {Text = "Active", Value = "1", Selected = true},
                                                                                                                                                new ListItem {Text = "Inactive", Value = "0"},

                                                                                                                                                                                                                                                                                                  new ListItem {Text = "Resigned", Value = "2"},
                                                                                                                                                                                                                                                                                                  new ListItem {Text = "Terminated", Value = "3"}
                                                                                                                                                                                                                                                                                              };
                            }
                            @Html.DropDownList("Status", new SelectList(listItems, "Value", "Text"), new { @class = "form-control myselect2", style = "width:100%" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" style="margin-top:25px">
                            <input type="submit" value="Search" id="btnviewshift" class="btn btn-primary">
                        </div>
                    </div>
                </div>
            </div>

        }
        <div class="row">
            <div class="box-body table-responsive">
                <table id="tablehrms" class="table table-hover table-responsive table-bordered nowrap font-black">
                    <thead>
                        <tr>
                            <th>SL#</th>
                            <th>
                                Basic Info
                            </th>
                            <th> Image</th>
                            <th>
                                Contact Info
                            </th>
                            <th>
                                Status
                            </th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    @{
                        int i = 0;
                    }
                    <tbody>
                        @foreach (var item in Model.VmEmployees)
                        {
                            i = i + 1;
                            <tr>
                                <td>@i</td>
                                <td>
                                    <label>Employee Id: &nbsp;</label>@Html.DisplayFor(modelItem => item.EmployeeIdentity) <br />
                                    <label>Punch Card No: &nbsp;</label>@Html.DisplayFor(modelItem => item.CardNo) <br />
                                    <label>Name: &nbsp;</label>@Html.DisplayFor(modelItem => item.Name)<br />
                                    @*<label>Name_BN: &nbsp;</label>@Html.DisplayFor(modelItem => item.Name_BN) <br />*@
                                    <label>Designation: &nbsp;</label>@Html.DisplayFor(modelItem => item.Designation_Name) <br />
                                    <label>Supervisor: &nbsp;</label><strong>@Html.DisplayFor(modelItem => item.Supervisor)</strong>
                                </td>
                                @{
                                    var str = "";
                                    str = "nopicture.png";
                                    if (!string.IsNullOrEmpty(item.Photo))
                                    {
                                        str = item.Photo;
                                    }
                                    <td><img class="img-thumbnail img-responsive" alt="str" height="80" width="80" src="@Url.Content("~/Assets/Images/EmpImages/" + str)"></td>
                                }

                                <td>
                                    <label>Mobile: &nbsp;</label>@Html.DisplayFor(modelItem => item.Mobile_No) <br />
                                    @*<label>Alt Mobile: &nbsp;</label>@Html.DisplayFor(modelItem => item.Alt_Mobile_No) <br />*@
                                    <label>Email: &nbsp;</label>@Html.DisplayFor(modelItem => item.Email_Id)<br />
                                    <label>Present Address: &nbsp;</label>@Html.DisplayFor(modelItem => item.Present_Address)<br />
                                    <label>Emergency No: &nbsp;</label>@Html.DisplayFor(modelItem => item.Emergency_Contact_No)
                                </td>
                                <td>
                                    @*<label>BU Name: &nbsp;</label>@Html.DisplayFor(modelItem => item.BU_Name) <br />*@
                                    @*<label>Unit: &nbsp;</label>@Html.DisplayFor(modelItem => item.Unit_Name) <br />*@

                                    <label>Emp. Type.: &nbsp;</label>@Html.DisplayFor(modelItem => item.Employement_Type) <br />
                                    <label>Dept: &nbsp;</label>@Html.DisplayFor(modelItem => item.Department_Name) <br />
                                    @{
                                        if (item.Present_Status > 1)
                                        {
                                            <label>Quite Date: &nbsp;</label>@item.QuitDate.ToShortDateString() <br />
                                            <label>Quite Notes: &nbsp;</label> <br />@Html.DisplayFor(modelItem => item.ResignOrTerminatedNote)
                                        }
                                    }
                                    @*<label>Section: &nbsp;</label>@Html.DisplayFor(modelItem => item.Section_Name)<br />
                                        <label>Line: &nbsp;</label>@Html.DisplayFor(modelItem => item.Line)*@
                                </td>

                                <td>

                                    @Html.ActionLink(" Update", "EditEmployee", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit", @target = "_blank" })<br />
                                    @Html.ActionLink(" Update Photo ", "UpdateEmployeeImage", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit", @target = "_blank" }) <br />
                                    @{
                                        if (item.Present_Status == 1)
                                        {
                                            <a class="glyphicon glyphicon-remove" href="#\" onclick="CreateOtherOrder(@item.ID)" id="lnkOtherCreate"> Resign/Terminate </a><br />
                                        }
                                        else
                                        {
                                            <a class="glyphicon glyphicon-ok" href="#\" onclick="CreateRejoin(@item.ID)" id="lnkRejoin"> Rejoin </a><br />
                                        }
                                    }
                                    @*@Html.ActionLink(" ", "DeleteEmployee", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash" }) &nbsp;*@
                                    @*@Html.ActionLink(" Details", "DetailEmployeeIdWise", new { id = item.ID }, new { @class = "glyphicon glyphicon-list", @target = "_blank" }) &nbsp;*@
                                    @* @Html.ActionLink(" ", "PrintDetailEmployeeIdWise", new { id = item.ID }, new { @class = "glyphicon glyphicon-print" })*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("EmployeeResignAndTerminataion", "EmployeeRecord", FormMethod.Post, new { id = "frmApproveLeaveApplication" }))
{
    <div class="modal fade" id="divOther">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="btnclear" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Employee Status</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label class="control-label">Type</label> &nbsp; <span><i class="ion-star font-red"></i></span>
                                    <span><i class="ion-star font-red"></i></span>
                                    @{
                                        var listItemsLptp = new List<ListItem>
                                                                                                                                                                                                                                                                                  {
                                                                                                                                                                                                                                                                                      new ListItem {Text = "Resigned", Value = "2", Selected = true},
                                                                                                                                                                                                                                                                                      new ListItem {Text = "Terminated", Value = "3"}
                                                                                                                                                                                                                                                                                  };
                                    }
                                    @Html.DropDownList("PresentStatus", new SelectList(listItemsLptp, "Value", "Text"), new { @class = "form-control myselect2", style = "width:100%" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Resign/Terminate Date</label>
                                    &nbsp; <span><i class="ion-star font-red"></i></span>
                                    <div class="input-group date">
                                        <input id="first" name="Date" class="form-control calendarControl" autocomplete="off" type="text" required />

                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="employeeid" name="Id" />

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Notes</label>
                                    &nbsp; <span><i class="ion-star font-red"></i></span>
                                    <div class="input-group" style="width:100%">
                                        <textarea class="form-control" name="Notes" rows="5"></textarea>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    @*<button id='btnreset' type='button' class="btn btn-success"><i class='fa fa-recycle'></i>&nbsp;&nbsp;Reset</button>*@
                    @*<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>*@
                    <button type="submit" id="btnothersave" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("EmployeeRejoin", "EmployeeRecord", FormMethod.Post, new { id = "frmrejoin" }))
{
    <div class="modal fade" id="divrejoin">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="btnclear" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Rejoin Information</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Rejoin Date</label>
                                    &nbsp; <span><i class="ion-star font-red"></i></span>
                                    <div class="input-group date">
                                        <input id="first" name="RejoinDate" class="form-control calendarControl" autocomplete="off" type="text" required />

                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="remployeeid" name="Id" />

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Notes</label>
                                    &nbsp; <span><i class="ion-star font-red"></i></span>
                                    <div class="input-group" style="width:100%">
                                        <textarea class="form-control" name="RejoinNote" rows="5"></textarea>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    @*<button id='btnreset' type='button' class="btn btn-success"><i class='fa fa-recycle'></i>&nbsp;&nbsp;Reset</button>*@
                    @*<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>*@
                    <button type="submit" id="btnothersave" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(document).ready(function () {
            $('#divOther').on('hidden.bs.modal',
                function (e) {
                    $(this).removeData();
                });
            $('#divrejoin').on('hidden.bs.modal',
                function (e) {
                    $(this).removeData();
                });
        });
        function CreateOtherOrder(id) {
            $("#employeeid").val(id);
            $('#divOther').modal('show');
        }

        function CreateRejoin(id) {
            $("#remployeeid").val(id);
            $('#divrejoin').modal('show');
        }
    </script>
}


