﻿@model Oss.Hrms.Models.ViewModels.Dashboard.DashboardVm
@using Oss.Hrms.Models.Services
@{
    /**/

    ViewBag.Title = "Index";
}
<section class="content-header">

    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">HRMS</li>
    </ol>
</section>
@{
    Oss.Hrms.Models.Services.CurrentUser user = (Oss.Hrms.Models.Services.CurrentUser)Session["User"];
    if (user.UserRole.ToString() != "1")
    {
        <!-- Main content -->
        <section class="content">
            <div class="row" style="margin-top:15px">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Notification</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="table5" class="table table-hover table-responsive table-bordered nowrap font-black table5">
                                        <thead>
                                            <tr>
                                                <th style="width:5%;text-align:center">SL</th>
                                                <th style="width:15%;text-align:center">Date</th>
                                                <th style="width:80%;text-align:center">Headline</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                var sl = 1;
                                                if (Model.Data.Notification != null)
                                                {
                                                    foreach (var notification in Model.Data.Notification)
                                                    {
                                                        <tr>
                                                            <td>@sl</td>
                                                            <td>
                                                                @notification.Date.ToString("dd MMM yyyy")
                                                            </td>
                                                            <td style="font-weight:bold;">
                                                                @{
                                                                    if (notification.flag == 1)
                                                                    {
                                                                        <a href="@Url.Action("NotificationDetails", "Common", new { id = notification.Id.ToString()})">@notification.Header</a>
                                                                    }
                                                                    else if (notification.flag == 2)
                                                                    {
                                                                        <a href="@Url.Action("SpecificEmployeePayrollDetails", "Payroll", new { sid = EncryptDecrypt.Encrypt(notification.Id.ToString())})">*** Salary Statement of @notification.Date.ToString("MMM yyyy") ***</a>
                                                                    }
                                                                }

                                                            </td>

                                                        </tr>
                                                        sl++;
                                                    }
                                                }

                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- ./box-body -->

                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>

            <div class="row">
                <div class="col-md-4">
                    <!-- Widget: user widget style 1 -->
                    <div class="box box-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-light-blue-gradient">
                            @*<div class="widget-user-image">
                        <img class="img-circle" src="../dist/img/user7-128x128.jpg" alt="User Avatar">
                    </div>*@
                            <!-- /.widget-user-image -->


                            <h3 class="widget-user-username">Leave Information</h3>
                            <h5 class="widget-user-desc">Year @DateTime.Now.Year</h5>

                        </div>
                        <div class="box-footer no-padding">
                            <table style="width:100%;margin-left:10px" class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th style="width:25%">L. Type</th>
                                        <th style="width:25%">L. Amount</th>
                                        <th style="width:25%">Taken</th>
                                        <th style="width:25%">Balance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (Model.Data.VM_HRMS_Leave_Assign != null)
                                        {
                                            foreach (var data in Model.Data.VM_HRMS_Leave_Assign)
                                            {
                                                <tr>
                                                    <td><span class="badge badge-gray-alt">@data.LeaveName</span></td>
                                                    <td><span class="badge bg-blue">@data.Total</span></td>
                                                    <td><span class="badge bg-red-active">@data.Taken</span></td>
                                                    <td><span class="badge bg-green-active">@data.Remaining</span></td>
                                                </tr>
                                            }
                                        }

                                    }
                                </tbody>


                            </table>
                            @*<ul class="nav nav-stacked">
                        <li><a href="#">Projects <span class="pull-right badge bg-blue">31</span></a></li>
                        <li><a href="#">Tasks <span class="pull-right badge bg-aqua">5</span></a></li>
                        <li><a href="#">Completed Projects <span class="pull-right badge bg-green">12</span></a></li>
                        <li><a href="#">Followers <span class="pull-right badge bg-red">842</span></a></li>
                    </ul>*@
                        </div>
                    </div>
                    <!-- /.widget-user -->
                </div>

                <div class="col-md-4">
                    <!-- Widget: user widget style 1 -->
                    <div class="box box-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-light-blue-active">
                            @*<div class="widget-user-image">
                        <img class="img-circle" src="../dist/img/user7-128x128.jpg" alt="User Avatar">
                    </div>*@
                            <!-- /.widget-user-image -->


                            <h3 class="widget-user-username">Entrance Time</h3>
                            <h5 class="widget-user-desc">@DateTime.Now.Date.ToShortDateString()</h5>

                        </div>
                        <div class="box-footer no-padding" style="height:150px; font-size:40px; line-height: 150px; text-align:center">
                            @Model.Data.Intime
                        </div>
                    </div>
                    <!-- /.widget-user -->
                </div>

                <div class="col-md-4">
                    <!-- Widget: user widget style 1 -->
                    <div class="box box-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-light-blue-gradient">
                            @*<div class="widget-user-image">
                        <img class="img-circle" src="../dist/img/user7-128x128.jpg" alt="User Avatar">
                    </div>*@
                            <!-- /.widget-user-image -->


                            <h3 class="widget-user-username">Attendance History</h3>
                            <h5 class="widget-user-desc">Last 3 Days</h5>

                        </div>
                        <div class="box-footer no-padding">
                            <table style="width:100%;margin-left:10px" class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th style="width:25%">Date</th>
                                        <th style="width:25%">In-Time</th>
                                        <th style="width:25%">Out-Time</th>
                                        <th style="width:25%">Remarks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (Model.Data.AttendanceHistory != null)
                                        {
                                            foreach (var data in Model.Data.AttendanceHistory)
                                            {
                                                <tr>
                                                    <td><span class="badge badge-gray-alt">@data.Date.ToShortDateString()</span></td>
                                                    <td><span class="badge bg-blue">@data.InTime.ToShortTimeString()</span></td>
                                                    <td><span class="badge bg-red-active">@data.OutTime.ToShortTimeString()</span></td>
                                                    <td><span class="badge bg-orange-active">@data.Remarks</span></td>
                                                </tr>
                                            }
                                        }

                                    }
                                </tbody>


                            </table>
                            @*<ul class="nav nav-stacked">
                        <li><a href="#">Projects <span class="pull-right badge bg-blue">31</span></a></li>
                        <li><a href="#">Tasks <span class="pull-right badge bg-aqua">5</span></a></li>
                        <li><a href="#">Completed Projects <span class="pull-right badge bg-green">12</span></a></li>
                        <li><a href="#">Followers <span class="pull-right badge bg-red">842</span></a></li>
                    </ul>*@
                        </div>
                    </div>
                    <!-- /.widget-user -->
                </div>
            </div>

            <div class="row" style="margin-top:15px">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Leave Application</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="tblapp" class="table table-hover table-responsive table-bordered nowrap font-black table5">

                                        <thead>
                                            <tr>
                                                <th>SL</th>
                                                <th>Leave Type</th>
                                                <th>From</th>
                                                <th>To</th>
                                                <th>Days</th>
                                                <th style="text-align:center">Status</th>
                                                @if (user.UserRole.ToString() != "1")
                                                {
                                                    <th style="text-align:center">Supervisor Status</th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int sls = 0;
                                                foreach (var item in Model.Data.LeaveApplication)
                                                {
                                                    <tr>
                                                        <td><b>@(++sls).</b></td>
                                                        @*<td>
                                                                @Html.DisplayFor(modelItem => item.SectionName)
                                                            </td>*@


                                                        <td>
                                                            @item.Leave_Name
                                                        </td>
                                                        <td>
                                                            @item.From.ToString("dd MMM yyyy")
                                                        </td>
                                                        <td>
                                                            @item.To.ToString("dd MMM yyyy")
                                                        </td>
                                                        <td>
                                                            @item.Days
                                                        </td>
                                                        @if (user.UserRole.ToString() != "1")
                                                        {
                                                            <td style="vertical-align:middle;text-align:center">
                                                                @*@Html.DisplayFor(modelItem => item.AttendanceStatus)*@
                                                                @if (item.SupervisorApprovalStatus == 0)
                                                                {
                                                                    <span class="label label-danger">Pending</span>
                                                                }
                                                                else if (item.SupervisorApprovalStatus == 1)
                                                                {
                                                                    <span class="label label-success">Approved</span>
                                                                }
                                                                else if (item.SupervisorApprovalStatus == 2)
                                                                {
                                                                    <span class="label label-warning">Reject</span>
                                                                }
                                                            </td>
                                                        }

                                                        <td style="vertical-align:middle;text-align:center">
                                                            @*@Html.DisplayFor(modelItem => item.AttendanceStatus)*@
                                                            @if (item.LeaveStatus == 0)
                                                            {      
                                                                <span class="label label-danger">Pending</span>
                                                            }
                                                            else if (item.LeaveStatus == 1)
                                                            {
                                                                <span class="label label-success">Approved</span>
                                                            }
                                                            else if (item.LeaveStatus == 2)
                                                            {
                                                                <span class="label label-warning">Reject</span>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- ./box-body -->

                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <div class="row" style="margin-top:15px">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Other Application</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="app" class="table table-hover table-responsive table-bordered nowrap font-black table5">
                                        <thead>
                                            <tr>
                                                <th style="width:5%;text-align:center">SL</th>
                                                <th style="width:10%;text-align:center">Date</th>
                                                <th style="width:60%;text-align:center">Subject</th>
                                                @*<th style="width:15%;text-align:center">Department</th>*@
                                                <th style="width:25%;text-align:center">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                var sla = 1;
                                                if (Model.Data.Applications != null)
                                                {
                                                    foreach (var data in Model.Data.Applications)
                                                    {
                                                        <tr>
                                                            <td>@sla</td>
                                                            <td>
                                                                @data.Application.Date.ToString("dd MMM yyyy")
                                                            </td>

                                                            <td style="font-weight:bold;">
                                                                <a href="@Url.Action("ApplicationDetails","leave", new { id=data.Application.ID})">@data.Application.Subject</a>

                                                            </td>

                                                            @{
                                                                if (data.Application.Status == true)
                                                                {
                                                                    <td style="text-align:center">
                                                                        <label class="label label-danger">Not Acknowledged</label>
                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                    <td style="text-align:center">
                                                                        <label class="label label-primary">Acknowledged</label>
                                                                    </td>

                                                                }
                                                            }

                                                            @*<td></td>*@
                                                        </tr>
                                                        sla++;
                                                    }
                                                }

                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- ./box-body -->

                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
        </section>
    }
    else
    {
        <div class="row" style="margin-top:35px">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Leave Application</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table id="tblapp" class="table table-hover table-responsive table-bordered nowrap font-black table5">

                                    <thead>
                                        <tr>
                                            <th>SL</th>
                                            @*<th>Section Name</th>*@
                                            <th>Employee ID</th>
                                            <th>Name</th>
                                            <th>Leave Type</th>
                                            <th>From</th>
                                            <th>To</th>
                                            <th>Days</th>
                                            <th>Status</th>
                                            @if (user.UserRole.ToString() != "1")
                                            {
                                                <th>Supervisor Status</th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int sls = 0;
                                            foreach (var item in Model.Data.LeaveApplication)
                                            {
                                                <tr>
                                                    <td><b>@(++sls).</b></td>
                                                    @*<td>
                                                            @Html.DisplayFor(modelItem => item.SectionName)
                                                        </td>*@

                                                    <td>
                                                        @item.EmployeeIdentity
                                                    </td>
                                                    <td>
                                                        @item.Name
                                                    </td>
                                                    <td>
                                                        @item.Leave_Name
                                                    </td>
                                                    <td>
                                                        @item.From.ToString("dd MMM yyyy")
                                                    </td>
                                                    <td>
                                                        @item.To.ToString("dd MMM yyyy")
                                                    </td>
                                                    <td>
                                                        @item.Days
                                                    </td>
                                                    @if (user.UserRole.ToString() != "1")
                                                    {
                                                        <td style="vertical-align:middle;text-align:center">
                                                            @*@Html.DisplayFor(modelItem => item.AttendanceStatus)*@
                                                            @if (item.SupervisorApprovalStatus == 0)
                                                            {
                                                                <span class="label label-danger">Pending</span>
                                                            }
                                                            else if (item.SupervisorApprovalStatus == 1)
                                                            {
                                                                <span class="label label-success">Approved</span>
                                                            }
                                                            else if (item.SupervisorApprovalStatus == 2)
                                                            {
                                                                <span class="label label-warning">Reject</span>
                                                            }
                                                        </td>
                                                    }

                                                    <td style="vertical-align:middle;text-align:center">
                                                        @*@Html.DisplayFor(modelItem => item.AttendanceStatus)*@
                                                        @if (item.LeaveStatus == 0)
                                                        {
                                                            <span class="label label-danger">Pending</span>
                                                        }
                                                        else if (item.LeaveStatus == 1)
                                                        {
                                                            <span class="label label-success">Approved</span>
                                                        }
                                                        else if (item.LeaveStatus == 2)
                                                        {
                                                            <span class="label label-warning">Reject</span>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- ./box-body -->

                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <div class="row" style="margin-top:15px">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Other Application</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table id="app" class="table table-hover table-responsive table-bordered nowrap font-black table5">
                                    <thead>
                                        <tr>
                                            <th style="width:5%;text-align:center">SL</th>
                                            <th style="width:10%;text-align:center">Date</th>
                                            <th style="width:15%;text-align:center">Employee</th>
                                            <th style="width:60%;text-align:center">Subject</th>
                                            @*<th style="width:15%;text-align:center">Department</th>*@
                                            <th style="width:5%;text-align:center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var sl = 1;
                                            if (Model.Data.Applications != null)
                                            {
                                                foreach (var data in Model.Data.Applications)
                                                {
                                                    <tr>
                                                        <td>@sl</td>
                                                        <td>
                                                            @data.Application.Date.ToString("dd MMM yyyy")
                                                        </td>
                                                        <td>@data.Employee.Name (@data.Employee.EmployeeIdentity)</td>
                                                        <td style="font-weight:bold;">
                                                            <a href="@Url.Action("ApplicationDetails","leave", new { id=data.Application.ID})">@data.Application.Subject</a>

                                                        </td>

                                                        <td style="text-align:center">
                                                            <a href="@Url.Action("ApplicationAcknowledgement", "Leave", new RouteValueDictionary(new { id = data.Application.ID }))" data-tooltip="tooltip" title="Acknowledged" data-placement="top"><i class="	glyphicon glyphicon-eye-open"></i></a>
                                                        </td>
                                                        @*<td></td>*@
                                                    </tr>
                                                    sl++;
                                                }
                                            }

                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- ./box-body -->

                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
    }

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
