﻿@model Oss.Hrms.Models.ViewModels.HRMS.VM_HRMS_Experience

@{
    ViewBag.Title = "ExperienceIndex";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}

<div class="col-md-12">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="">@Html.ActionLink("Employee", "IndexEmployees", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Spouse", "IndexSpouse", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Child", "IndexChild", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Education", "IndexEducation", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Training", "IndexTraining", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="active">@Html.ActionLink("Experience", "IndexExperience", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Skill", "IndexSkill", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Reference", "IndexReference", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Hobby", "IndexHobby", "EmployeeRecord", new { @class = "elements" }, null)</li>
            @*<li class="">@Html.ActionLink("Salary", "IndexSalary", "EmployeeRecord", new { @class = "elements" }, null)</li>*@
            <li class="">@Html.ActionLink("Facility", "IndexFacility", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Link To Employee", "IndexLinkToEmployee", "EmployeeRecord", new { @class = "elements" }, null)</li>
        </ul>
    </div>
</div>
<br />
<br />
<br />

<div class="panel panel-default border-top border-blue">
<div class="panel-heading pad5A">
    <h3 class="panel-title">Experience Information</h3>
</div>
    <div id="divPanelbody" class="panel-body" @*style="min-height: 45em"*@>
        <div class="row">
            <div class="box-body table-responsive">
                <table id="tablehrms" class="table table-hover table-responsive table-bordered nowrap font-black">
                    <thead>
                        <tr>
                            <th>SL#</th>

                            <th>
                                @Html.DisplayNameFor(model => model.Employee_Identity)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Company_Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Designation)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Department)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Responsibility)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Job_Start_Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Job_End_Date)
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    @{ int i = 0;}
                    <tbody>
                    @foreach (var item in Model.Experiences)
                    {
                        i = i + 1;
                        <tr>
                            <th>@i</th>
                            <td>
                                @Html.DisplayFor(modelItem => item.Employee_Identity)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Company_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Designation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Department)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Responsibility)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Job_Start_Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Job_End_Date)
                            </td>
                            <td>
                                @Html.ActionLink(" ", "EditExperience", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit" })  &nbsp;
                                @Html.ActionLink(" ", "DeleteExperience", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash" })
                            </td>
                        </tr>
                    }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


