﻿@model Oss.Hrms.Models.ViewModels.HRMS.VM_HRMS_LinkToEmployee

@{
    ViewBag.Title = "IndexLinkToEmployee";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<div class="col-md-12">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="">@Html.ActionLink("Employee", "IndexEmployees", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Spouse", "IndexSpouse", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Child", "IndexChild", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Education", "IndexEducation", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Training", "IndexTraining", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Experience", "IndexExperience", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Skill", "IndexSkill", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Reference", "IndexReference", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Hobby", "IndexHobby", "EmployeeRecord", new { @class = "elements" }, null)</li>
            @*<li class="">@Html.ActionLink("Salary", "IndexSalary", "EmployeeRecord", new { @class = "elements" }, null)</li>*@
            <li class="">@Html.ActionLink("Facility", "IndexFacility", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="active">@Html.ActionLink("Employee Setting", "IndexLinkToEmployee", "EmployeeRecord", new { @class = "elements" }, null)</li>
        </ul>
    </div>
</div>
<br />
<br />
<br />

<div class="panel panel-default border-top border-blue">
    <div class="panel-heading pad5A">
        <h3 class="panel-title">Link To Employee Information</h3>
    </div>
    <div id="divPanelbody" class="panel-body" @*style="min-height: 45em"*@>
        <div class="row">
            <div class="box-body table-responsive">
                <table id="tablehrms" class="table table-hover table-responsive table-bordered nowrap font-black">
                    <thead>
                        <tr>
                            <th>SL#</th>
                            <th class="hidden">ID </th>
                            <th>Employee Id. </th>
                            <th>Employee Name</th>
                            <th>Superior Name</th>
                            <th>Superior Type</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    @{
                        var i = 0;
                        <tbody>
                        @foreach (var item in Model.LinkToEmployees)
                        {
                            i = i + 1;
                            <tr>

                                <td>@i</td>
                                <td class="hidden">  @Html.DisplayFor(modelItem => item.ID)</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmployeeIdentity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmployeeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SuperiorName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SuperiorType)
                                </td>
                                <td>
                                    @Html.ActionLink(" ", "EditLinkToEmployee", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit" })  &nbsp;
                                    @*@Html.ActionLink(" ", "DeleteLinkToEmployee", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash" })*@
                                </td>
                            </tr>
                        }
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
</div>


