﻿@model CrimsonERP.Models.ViewModel.VMEmployee
@{
    Layout = null;
}

<!DOCTYPE html>


<style>
    body {
        margin-left: 100px;
        margin-right: 500px;
    }
    /*h4 {
        border-bottom: 2px solid black;
        display: inline;
    }*/

    #page {
        width: 800px;
        margin: 0 auto;
        font-size: 12px;
    }

    @@media print {
        #print, #print * {
            display: none !important;
        }
    }
</style>

<script>
    function printDiv() {
        window.print();
    }
</script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Assets/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Assets/JQuery/jquery-2.1.3.min.js"></script>
</head>
<body>
    <div id="page">
        <div class="text-center">
            <div class="row">
                <h3>
                    <span id="print" style="float: right; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
                        Print
                    </span>
                </h3>
            </div>
        </div>
    </div>

<div style="padding-left: 30px">
        <br />
<div class="col-md-7" style="page-break-after: always; border: darkblue; border-width: .1px; border-style: solid; padding-left: 15px;margin: 0 10px 0 10px">
<table>
<tr>
    <td>@Html.DisplayNameFor(model => model.EmployeeIdentity)</td>
    <td>@Html.DisplayFor(model => model.EmployeeIdentity)</td>
</tr>
<tr>

<td>
    @*<dt></dt>
    <dd></dd>*@

    <dt>@Html.DisplayNameFor(model => model.Name)</dt>
    <dd>@Html.DisplayFor(model => model.Name)</dd>

    <dt>@Html.DisplayNameFor(model => model.Name_BN)</dt>
    <dd>@Html.DisplayFor(model => model.Name_BN)</dd>

    <dt>@Html.DisplayNameFor(model => model.Father_Name)</dt>
    <dd>@Html.DisplayFor(model => model.Father_Name)</dd>

    <dt>@Html.DisplayNameFor(model => model.Mother_Name)</dt>
    <dd>@Html.DisplayFor(model => model.Mother_Name)</dd>

    <dt>@Html.DisplayNameFor(model => model.DOB)</dt>
    <dd>@Html.DisplayFor(model => model.DOB)</dd>

    <dt>@Html.DisplayNameFor(model => model.Gender)</dt>
    <dd>@Html.DisplayFor(model => model.Gender)</dd>

    <dt>@Html.DisplayNameFor(model => model.Designation_Name)</dt>
    <dd>@Html.DisplayFor(model => model.Designation_Name)</dd>

    <dt>@Html.DisplayNameFor(model => model.Country_Name)</dt>
    <dd>@Html.DisplayFor(model => model.Country_Name)</dd>

    <dt>@Html.DisplayNameFor(model => model.BU_Name)</dt>
    <dd>@Html.DisplayFor(model => model.BU_Name)</dd>

    <dt>@Html.DisplayNameFor(model => model.Unit_Name)</dt>
    <dd>@Html.DisplayFor(model => model.Unit_Name)</dd>

    <dt>@Html.DisplayNameFor(model => model.Department_Name)</dt>
    <dd>@Html.DisplayFor(model => model.Department_Name)</dd>

    <dt>@Html.DisplayNameFor(model => model.Section_Name)</dt>
    <dd>@Html.DisplayFor(model => model.Section_Name)</dd>

    <dt>@Html.DisplayNameFor(model => model.Blood_Group)</dt>
    <dd>@Html.DisplayFor(model => model.Blood_Group)</dd>

    <dt>@Html.DisplayNameFor(model => model.Joining_Date)</dt>
    <dd>@Html.DisplayFor(model => model.Joining_Date)</dd>

    <dt>@Html.DisplayNameFor(model => model.Religion)</dt>
    <dd>@Html.DisplayFor(model => model.Religion)</dd>

    <dt>@Html.DisplayNameFor(model => model.Mobile_No)</dt>
    <dd>@Html.DisplayFor(model => model.Mobile_No)</dd>

    <dt>@Html.DisplayNameFor(model => model.Land_Phone)</dt>
    <dd>@Html.DisplayFor(model => model.Land_Phone)</dd>

    <dt>@Html.DisplayNameFor(model => model.Email_Id)</dt>
    <dd>@Html.DisplayFor(model => model.Email_Id)</dd>

    <dt>@Html.DisplayNameFor(model => model.Employement_Type)</dt>
    <dd>@Html.DisplayFor(model => model.Employement_Type)</dd>

    <dt>@Html.DisplayNameFor(model => model.NID_No)</dt>
    <dd>@Html.DisplayFor(model => model.NID_No)</dd>

</td>

<td>
    <dl class="dl-horizontal font-size-14">
        <dt>

        </dt>
        <dd>
            @{
                var str = "";
                str = "nopicture.png";
                if (!string.IsNullOrEmpty(Model.Photo))
                {
                    str = Model.Photo;
                }
                <img class="img-thumbnail img-responsive" alt="str" height="180" width="160" src="@Url.Content("~/Assets/EmpImages/" + str)">
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alt_Mobile_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alt_Mobile_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alt_Person_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alt_Person_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alt_Person_Contact_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alt_Person_Contact_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alt_Person_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alt_Person_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emergency_Contact_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emergency_Contact_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Office_Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Office_Contact)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Passport_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passport_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Present_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Present_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Permanent_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Permanent_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marital_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marital_Status)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Present_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Present_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Overtime_Eligibility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Overtime_Eligibility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

    </dl>
</td>
</tr>
</table> 
 
            <!-- =====================Spouse Information====================================== -->

            <div class="row">
                <h5>Spouse Information </h5>
                <div class="box-body table-responsive">
                    @{
                if (ViewBag.Spouse != null)
                {
                    <table class="table table-hover table-responsive table-bordered nowrap font-black">
                        <tr>
                            <th>SL#</th>
                            <th>SpouseName</th>
                            <th>SpouseDOB</th>
                            <th>Contact No</th>
                            <th>Blood Group</th>
                        </tr>
                        @{
                    var i = 0;
                        }

                        @foreach (var item in ViewBag.Spouse)
                {
                    i = i + 1;
                    <tr>
                        <td>@i</td>
                        <td>@item.SpouseName</td>
                        <td>@item.SpouseDOB.ToString("d")</td>
                        <td>@item.Spouse_Contact_No</td>
                        <td>@item.Spouse_Blood_Group</td>
                    </tr>
        }
                    </table>
        }
                    }
                </div>
            </div> <br />
            <!-- =====================Spouse Information End====================================== -->
            <!-- =====================Child Information ====================================== -->

            <div class="row">
                <h5>Child Information </h5>
                <div class="box-body table-responsive">
                    @{
                if (ViewBag.Child != null)
                {
                    <table class="table table-hover table-responsive table-bordered nowrap font-black">
                        <tr>
                            <th>SL#</th>
                            <th>Child Name</th>
                            <th>Blood Group</th>
                            <th>DOB</th>
                        </tr>
                        @{
                    var i = 0;
                        }

                        @foreach (var item in ViewBag.Child)
                {
                    i = i + 1;
                    <tr>
                        <td>@i</td>
                        <td>@item.Child_Name </td>
                        <td>@item.Child_DOB.ToString("d")</td>
                        <td>@item.Child_Blood_Group</td>
                    </tr>
        }
                    </table>
        }
                    }
                </div>
            </div> <br />

            <!-- =====================Child Information End ====================================== -->
            <!-- =====================Education Information====================================== -->

            <div class="row">
                <h5>Education Information </h5>
                <div class="box-body table-responsive">
                    @{
                if (ViewBag.Education != null)
                {
                    <table class="table table-hover table-responsive table-bordered nowrap font-black">
                        <tr>
                            <th>SL#</th>
                            <th>Degree</th>
                            <th>Institute</th>
                            <th>Group/Subject</th>
                            <th>Passing Year</th>
                            <th>Result</th>
                        </tr>
                        @{
                    var i = 0;
                        }

                        @foreach (var item in ViewBag.Education)
                {
                    i = i + 1;
                    <tr>
                        <td>@i</td>
                        <td>@item.Degree</td>
                        <td>@item.Institute</td>
                        <td>@item.GroupOrSubject</td>
                        <td>@item.Passing_Year</td>
                        <td>@item.Result</td>
                    </tr>
        }
                    </table>
        }
                    }
                </div>
            </div> <br />
            <!-- =====================Education Information End====================================== -->
            <!-- =====================Training Information====================================== -->
            <div class="row">
                <h5>Training Information </h5>
                <div class="box-body table-responsive">
                    @{
                //var spouseList = (List<VM_HRMS_Spouse>)ViewBag.Spouse  ;
                if (ViewBag.Training != null /*&& spouseList.Any()*/)
                {
                    <table class="table table-hover table-responsive table-bordered nowrap font-black">
                        <tr>
                            <th>SL#</th>
                            <th>Course Name</th>
                            <th>Institute</th>
                            <th>Country</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Duration</th>
                        </tr>
                        @{
                    var i = 0;
                        }

                        @foreach (var item in ViewBag.Training)
                {
                    i = i + 1;
                    <tr>
                        <td>@i</td>
                        <td>@(item.Course_Name)</td>
                        <td>@(item.Institute)</td>
                        <td>@(item.Country)</td>
                        <td>@(item.Course_Start_Date.ToString("d"))</td>
                        <td>@(item.Course_End_Date.ToString("d"))</td>
                        <td>@(item.Course_Duration)</td>
                    </tr>
        }
                    </table>
        }
                    }
                </div>
            </div> <br />
            <!-- =====================Training Information End====================================== -->
            <!-- =====================Skill Information====================================== -->

            <div class="row">
                <h5>Skill Information </h5>
                <div class="box-body table-responsive">
                    @{
                //var spouseList = (List<VM_HRMS_Spouse>)ViewBag.Spouse  ;
                if (ViewBag.Skill != null /*&& spouseList.Any()*/)
                {
                    <table class="table table-hover table-responsive table-bordered nowrap font-black">
                        <tr>
                            <th>SL#</th>
                            <th>Skill Type</th>
                            <th>Skill Name</th>
                        </tr>
                        @{
                    var i = 0;
                        }

                        @foreach (var item in ViewBag.Skill)
                {
                    i = i + 1;
                    <tr>
                        <td>@i</td>
                        <td>@(item.Skill_Type)</td>
                        <td>@(item.Skill_Name)</td>
                    </tr>
        }
                    </table>
        }
                    }
                </div>
            </div> <br />

        <!-- =====================Skill Information End====================================== -->

        <!-- =====================Reference Information====================================== -->
            <div class="row">
                <h5>Reference Information </h5>
                <div class="box-body table-responsive">
                    @{
                if (ViewBag.Reference != null)
                {
                    <table class="table table-hover table-responsive table-bordered nowrap font-black">
                        <tr>
                            <th>SL#</th>
                            <th>Referee Name</th>
                            <th>Contact No</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Relation</th>
                        </tr>
                        @{
                    var i = 0;
                        }

                        @foreach (var item in ViewBag.Reference)
                {
                    i = i + 1;
                    <tr>
                        <td>@i</td>
                        <td>@(item.Referee_Name)</td>
                        <td>@(item.Contact_No)</td>
                        <td>@(item.Email_Id)</td>
                        <td>@(item.Address)</td>
                        <td>@(item.Relation)</td>
                    </tr>
        }
                    </table>
        }
                    }
                </div>
            </div> <br />
        <!-- =====================Reference Information End====================================== -->

            <!-- =====================Hobby Information ====================================== -->
        <div class="row">
            <h5>Hobbies</h5>
            <div class="box-body table-responsive">
                @{
                    if (ViewBag.Hobby != null)
                    {
                        <table class="table table-hover table-responsive table-bordered nowrap font-black">
                            <tr>
                                <th>SL#</th>
                                <th>Hobby Name</th>
                                <th>Remarks</th>
                            </tr>
                            @{
                                var i = 0;
                            }

                            @foreach (var item in ViewBag.Hobby)
                            {
                                i = i + 1;
                                <tr>
                                    <td>@i</td>
                                    <td>@(item.Hobby_Name)</td>
                                    <td>@(item.Remarks)</td>
                                </tr>
                            }
                        </table>
                    }
                }
            </div>
        </div> <br />
        <!-- =====================Hobby Information End====================================== -->

            <!-- =====================Salary Information====================================== -->
        <div class="row">
            <h5>Salary Information </h5>
            <div class="box-body table-responsive">
                @{
                    if (ViewBag.Salary != null)
                    {
                        <table class="table table-hover table-responsive table-bordered nowrap font-black">
                            <tr>
                                <th>SL#</th>
                                @*<th>Salary Grade</th>*@
                                <th>Joining Date</th>
                                <th>Joining Salary</th>
                                <th>Payment Mode</th>
                                <th>Bank Name</th>
                                <th>Account No</th>
                                <th>Current Salary</th>
                            </tr>
                            @{
                                var i = 0;
                            }

                            @foreach (var item in ViewBag.Salary)
                            {
                                i = i + 1;
                                <tr>
                                    <td>@i</td>
                                    @*<td>@(item.Salary_Grade)</td>*@
                                    <td>@(item.Joining_Date)</td>
                                    <td>@(item.Joining_Salary)</td>
                                    <td>@(item.Payment_Mode)</td>
                                    <td>@(item.Bank_Name)</td>
                                    <td>@(item.Account_No)</td>
                                    <td>@(item.Current_Salary)</td>
                                </tr>
                            }
                        </table>
                    }
                }
            </div>
        </div> <br />
        <!-- =====================Salary Information End====================================== -->

            <!-- =====================Facility Information End====================================== -->
        <div class="row">
            <h5>Facility Information </h5>
            <div class="box-body table-responsive">
                @{
                    if (ViewBag.Facility != null)
                    {
                        <table class="table table-hover table-responsive table-bordered nowrap font-black">
                            <tr>
                                <th>SL#</th>
                                @*<th>Salary Grade</th>*@
                                <th>Item Name</th>
                                <th>Cost Per Month</th>
                            </tr>
                            @{
                                var i = 0;
                            }

                            @foreach (var item in ViewBag.Facility)
                            {
                                i = i + 1;
                                <tr>
                                    <td>@i</td>
                                    @*<td>@(item.Salary_Grade)</td>*@
                                    <td>@(item.Item_Name)</td>
                                    <td>@(item.Cost_Per_Month)</td>
                                </tr>
                            }
                        </table>
                    }
                }
            </div>
        </div> <br />
        <!-- =====================Facility Information End====================================== -->

            <!-- =====================Superior Information End====================================== -->
        <div class="row">
            <h5>Superior Information </h5>
            <div class="box-body table-responsive">
                @{
            if (ViewBag.Superior != null)
            {
                <table class="table table-hover table-responsive table-bordered nowrap font-black">
                    <tr>
                        <th>SL#</th>
                        <th>Employee Id. </th>
                        <th>Employee Name</th>
                        <th>Line Manager Id.</th>
                        <th>Line Manager Name</th>
                        <th>Admin Id</th>
                        <th>Admin Name</th>
                        <th>Dept. Head Id.</th>
                        <th>Dept. Head Name</th>
                    </tr>
                    @{
                var i = 0;
                    }

                    @foreach (var item in ViewBag.Superior)
            {
                i = i + 1;
                <tr>
                    <td>@i</td>
                    <td>@(item.EmployeeIdentity)</td>
                    <td>@(item.EmployeeName)</td>
                    <td>@(item.LineManagerIdentity)</td>
                    <td>@(item.LineManagerName)</td>
                    <td>@(item.AdminIdentity)</td>
                    <td>@(item.AdminName)</td>
                    <td>@(item.DeptHeadIdentity)</td>
                    <td>@(item.DeptHeadName)</td>
                </tr>
    }

                </table>
    }
                }
            </div>
        </div>
            <!-- =====================Superior Information End====================================== -->
        <br />

        </div>
    </div>
</body>
</html>


