﻿@model Oss.Hrms.Models.ViewModels.HRMS.VMSection

@{
    ViewBag.Title = "EditSection";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
<div id="addform">
    @using (Html.BeginForm("EditSection", "Common", FormMethod.Post, new {data_server = "true", id = "editsection"}))
    {
        <div class="form-horizontal">
            @Html.AntiForgeryToken()
            <div class="row">
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                @Html.HiddenFor(model => model.ID)
                <div class="form-group">
                    @Html.LabelFor(model => model.Dept_ID, htmlAttributes: new {@class = "control-label col-md-4"})
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.Dept_ID, ViewBag.DepartmentList as SelectList, new {@class = "form-control dropdown myselect2"})
                        @Html.ValidationMessageFor(model => model.Dept_ID, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.SectionName, htmlAttributes: new {@class = "control-label col-md-4"})
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.SectionName, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.SectionName, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-7">
                </div>
                <div class="col-md-5">
                    <input type="submit" value="Update" class="btn btn-success"/>
                    <input type="button" value="Cancel" id="" class="btncancel btn btn-primary"/>
                </div>
            </div>
        </div>

    }
        </div>
