﻿@model Oss.Hrms.Models.ViewModels.HRMS.VMUnit

@{
    ViewBag.Title = "EditUnit";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
<div id="addform">
    @using (Html.BeginForm("EditUnit", "Common", FormMethod.Post, new { data_server = "true", id = "editunit" }))
    {
        <div class="form-horizontal">
            @Html.AntiForgeryToken()
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)
                <div class="form-group">
                    @Html.LabelFor(model => model.BusinessUnit_SL, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.BusinessUnit_SL, ViewBag.BusinessUnitall as SelectList, new { @class = "form-control dropdown myselect2" })
                        @*@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.BusinessUnit_SL, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.UnitName, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.UnitName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UnitName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-7">
                </div>
                <div class="col-md-5">
                    <input type="submit" value="Update" class="btn btn-success" />
                    <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
                </div>
            </div>
            </div>
            }
        </div>


