﻿@model Oss.Hrms.Models.ViewModels.HRMS.VM_PostOffice
@{
    ViewBag.Title = "IndexPostOffice";

}
<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">Post Office Information</h3>
    </div>
    <div class="panel-body">
        <div id="dialog-confirm" style="display: none">
            <p>
                <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
                Are you sure to delete?
            </p>
        </div>
        <div id="dialog-edit" style="display: none">
            <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

        </div>
        <section class="content-header">
            @*<h1>
                Add Post Office:
                &nbsp;&nbsp;
                (&nbsp; <a href="AddPostOffice" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
            </h1>*@

            <ol class="breadcrumb">
                <li><a href="~/HRMS/Index"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">
                    Post Office Information
                </li>
            </ol>
        </section>
        <div class="row">
            @{
                int Sl = 0;
            }
            <div class="box">
                <div class="box-body table-responsive">
                    <table id="table2" class="table table-hover table-responsive table-bordered nowrap font-black">
                        <thead>
                            <tr>
                                <th>
                                    SL
                                </th>
                                @*<th class="hidden">
                                    @Html.DisplayNameFor(model => model.District_ID)
                                </th>*@
                                <th>
                                    @Html.DisplayNameFor(model => model.DistrictName)
                                </th>
                                @*<th class="hidden">
                                    @Html.DisplayNameFor(model => model.PoliceStation_ID)
                                </th>*@
                                <th>
                                    @Html.DisplayNameFor(model => model.PoliceStationName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PostOfficeName)
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>SL</th>
                                @*<th class="hidden"></th>*@
                                <th>District</th>
                                <th>Police Station</th>
                                <th>Post Office</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model.CollectionVmDistrict)
                            {
                            <tr>
                                <td><b>@(++Sl).</b></td>
                                @*<td class="hidden">
                                    @Html.DisplayFor(modelItem => item.District_ID)
                                </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.DistrictName)
                                </td>
                                @*<td class="hidden">
                                    @Html.DisplayFor(modelItem => item.PoliceStation_ID)
                                </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.PoliceStationName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PostOfficeName)
                                </td>
                                <td>
                                @if (item.PostOfficeName != null)
                                {
                                    @Html.ActionLink(".", "AddPostOffice", new {id = item.PoliceStation_ID}, new {@class = "lnkCreate glyphicon glyphicon-plus"})
                                    @Html.ActionLink(".", "EditPostOffice", new {id = item.ID, did = item.District_ID}, new {@class = "lnkEdit glyphicon glyphicon-pencil"})
                                    @Html.ActionLink(".", "DeletePostOffice", new {id = item.ID}, new {@class = "lnkDelete glyphicon glyphicon-trash"})
                                }
                                else if (item.PostOfficeName == null)
                                {
                                    @Html.ActionLink(".", "AddPostOffice", new {id = item.PoliceStation_ID}, new {@class = "lnkCreate glyphicon glyphicon-plus"})
                                }

                                </td>

                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>*@
    <script>


        $(document).ready(function () {
            var url = "";


            $("#dialog-edit").dialog({
                autoOpen: false,
                resizable: false,
                height: 300,
                width: 500,
                show: { effect: 'left', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close").hide();
                    $(this).load(url);
                }
            });

            $("#dialog-confirm").dialog({
                autoOpen: false,
                resizable: false,
                height: 170,
                width: 350,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close").hide();

                },
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                        window.location.href = url;
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });


            $(".lnkCreate").click(function (e) {
                $(".ui-dialog-titlebar").html("Post Office: Add New Post Office  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
                url = $(this).attr('href');
                $("#dialog-edit").dialog('open');
                $("#LoadingBar").show();

                return false;
            })

            $(".lnkEdit").click(function (e) {
                $(".ui-dialog-titlebar").html("Post Office: Update This Post Office.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
                url = $(this).attr('href');
                $("#dialog-edit").dialog('open');
                $("#LoadingBar").show();

                return false;
            })

            $(".lnkDelete").click(function (e) {
                $(".ui-dialog-titlebar").html("Post Office: Delete This Post Office.");
                url = $(this).attr('href');
                $(".ui-dialog-title").html("Delete");
                $("#dialog-confirm").dialog('open');

                return false;
            })

            $(".btncancel").click(function (e) {
                $("#dialog-edit").dialog("close");
                return false;
            })
            //$('#dialog-edit').load($('#lnkCreate').attr('href'));
            //$('#dialog-edit').load($('.lnkEdit').attr('href'));
        });
    </script>
}
