﻿
@model List<Oss.Hrms.Models.Entity.Common.Notification>

@{
    ViewBag.Title = "NotificationList";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}

<div class="panel panel-default border-top border-blue">
    <div class="panel-heading pad5A">
        <h3 class="panel-title">Notification List</h3>
    </div>
    <div id="divPanelbody" class="panel-body">
        <div class="box">
            <div class="box-body table-responsive">
                <table id="table2" class="table table-hover table-responsive table-bordered nowrap font-black">
                    <thead>
                        <tr>
                            <th style="width:5%;text-align:center">SL</th>
                            <th style="width:10%;text-align:center">Date</th>
                            <th style="width:70%;text-align:center">Headline</th>
                            @*<th style="width:15%;text-align:center">Department</th>*@
                            <th style="width:10%;text-align:center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var sl = 1;
                            foreach (var data in Model)
                            {
                                <tr>
                                    <td>@sl</td>
                                    <td>
                                        @data.Date.ToString("dd MMM yyyy")
                                    </td>
                                    <td style="font-weight:bold;">@data.HeadLine</td>

                                    <td style="text-align:center">
                                        <a href="@Url.Action("NotificationEdit", "Common", new RouteValueDictionary(new { id = data.ID }))" onclick="target = '_blank';" data-tooltip="tooltip" title="Update Notification" data-placement="top"><i class="fa fa-edit"></i></a>
                                        <a href="@Url.Action("DeleteNotification", "Common", new RouteValueDictionary(new { id = data.ID }))" data-tooltip="tooltip" title="Delete Notification" data-placement="top"><i class="glyphicon glyphicon-trash"></i></a>
                                    </td>
                                    @*<td></td>*@
                                </tr>
                                sl++;
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


