﻿@model Oss.Hrms.Models.Entity.Common.Notification

@{
    ViewBag.Title = "NotificationList";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}

<div class="panel panel-default border-top border-blue">
    <div class="panel-heading pad5A">
        <h3 class="panel-title">Notification Details</h3>
    </div>

    <div id="divPanelbody" class="panel-body">
        <div class="box">
            <div class="box-header text-center">
                <h3 style="font-weight:bold">@Model.HeadLine (@Model.Date.ToString("dd MMM yyyy"))</h3>
            </div>


            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        @Html.Raw(Model.Details)
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
