﻿@model Oss.Hrms.Models.Entity.Common.Notification

@{
    ViewBag.Title = "IndexLine";
}
<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">Notification</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("NotificationIndex", "Common", FormMethod.Post, new { id = "frmsearch" }))
        {
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Date, new { @class = "control-label " })
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        <div class="input-group date">
                            @Html.TextBoxFor(model => model.Date, new { @class = "form-control calendarControl" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="form-group">
                        @Html.LabelFor(model => model.HeadLine, new { @class = "control-label " })&nbsp;
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.TextBoxFor(model => model.HeadLine, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.HeadLine, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header">
                            <h3 class="box-title">
                                Notice Details
                                <small>Notification Body</small>
                            </h3>
                            <!-- tools box -->
                            <div class="pull-right box-tools">
                                <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip"
                                        title="Collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip"
                                        title="Remove">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                            <!-- /. tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body pad">
                            <div class="form-group">
                                @Html.TextAreaFor(model => model.Details, new { id = "editor1", @class = "form-control", @rows = "10", @cols = "80" })
                            </div>
                            @*<form>
                                            <textarea id="editor1" name="editor1" rows="10" cols="80">
                                                        This is my textarea to be replaced with CKEditor.
                                </textarea>
                                        </form>*@
                        </div>
                    </div>

                </div>
                <!-- /.col-->

            </div>

            <div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Save" class="btn btn-primary" style="width:100%" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script src="~/Content/Bower/ckeditor/ckeditor.js"></script>

@section Scripts{

    <script type="text/javascript">
        $(function () {
            // Replace the <textarea id="editor1"> with a CKEditor
            // instance, using default configuration.
            CKEDITOR.replace('editor1')
            //bootstrap WYSIHTML5 - text editor
            //$('.textarea').wysihtml5()
        })
    </script>
}
