﻿@model CrimsonERP.Models.ViewModel.VM_HRMS_JobCircular

@{
    ViewBag.Title = "SpecificJobCircularDetails";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title"> Deatils</h3>
    </div>
    <div class="panel-body">
        <div id="addform">
            @using (Html.BeginForm("SpecificJobCircularDetails", "HRMS", FormMethod.Post, new { id = "specificjobcirculardetails", data_server = "true", enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.Job_Circular_Publish_Date)
                @Html.HiddenFor(model => model.Job_Identification)
                <div class="row">
                    <div class="col-md-6">
                        <label class="col-sm-6 control-label text text-right">Job Title:</label>
                        <div class="col-sm-6">
                            <label id="empID" class="control-label font-size-11">@Model.Job_Title</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-sm-6 control-label text text-right">Job Description:</label>
                        <div class="col-sm-6">
                            <label id="empName" class="control-label font-size-11">@Model.Job_Description</label>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="col-sm-6 control-label text text-right">Job Type:</label>
                        <div class="col-sm-6">
                            <label id="empdesign" class="control-label font-size-11">@Model.Job_Type</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-sm-6 control-label text text-right">Education Qualification:</label>
                        <div class="col-sm-6">
                            <label id="empapplydate" class="control-label font-size-11">@Model.Education_Qualification</label>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="col-sm-6 control-label text text-right">Experience:</label>
                        <div class="col-sm-6">
                            <label id="Affectdate" class="control-label font-size-11">@Model.Experience</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-sm-6 control-label text text-right">Job Location:</label>
                        <div class="col-sm-6">
                            <label id="approveddate" class="control-label font-size-11">@Model.Job_Location</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="col-sm-6 control-label text text-right">Minimum Salary:</label>
                        <div class="col-md-6">
                            <label id="resignApp" class="control-label font-size-11">@Model.Minimum_Salary</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-sm-6 control-label text text-right">Maximum Salary:</label>
                        <div class="col-sm-6">
                            <label id="empLMID" class="control-label font-size-11">@Model.Maximum_Salary</label>
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-sm-6 control-label text text-right">Others Benefit:</label>
                            <div class="col-sm-6">
                                <label id="empLMName" class="control-label font-size-11">@Model.Others_Benefit</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-sm-6 control-label text text-right">Circular Opening Date:</label>
                            <div class="col-sm-6">
                                <label id="empLMstatus" class="control-label font-size-11">@Model.Job_Circular_Opening_Date.ToString("dd-MM-yyyy")</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-sm-6 control-label text text-right">Circular Closing Date:</label>
                            <div class="col-md-6">
                                <label id="empLMComment" class="control-label font-size-11">@Model.Job_Circular_Closing_Date.ToString("dd-MM-yyyy")</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-sm-6 control-label text text-right">Job Circular Status:</label>
                            <div class="col-sm-6">
                                @if (Model.Job_Circular_Status == 1)
                                {
                                <label id="empLMstatus" class="control-label font-size-11">Open</label>
                                }
                                else
                                {
                                <label id="empLMstatus" class="control-label font-size-11">Close</label>
                                }
                                
                            </div>
                        </div>
                    </div>
                    <br/>
                    }
                </div>

    </div>
    <!-- /.box-body -->
    @*<div class="overlay" id="divNotReady">
        <i class="fa fa-refresh fa-spin"></i>
    </div>*@
</div>




