﻿@model Oss.Hrms.Models.ViewModels.User.VmUser_User
@{
  
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
    

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.User_User.ID)
        @Html.HiddenFor(model => model.User_User.IsActive)
        <div class="form-group">
            @Html.LabelFor(model => model.UserNameFromEdit, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.UserNameFromEdit, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-12" } })
                @Html.ValidationMessageFor(model => model.UserNameFromEdit, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control col-md-12" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control col-md-12" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>

        </div>
        @*<div class="form-group">
            @Html.LabelFor(model => model.IsSupperUser, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-6">
                <span>
                    @Html.CheckBoxFor(model => model.IsSupperUser, new { htmlAttributes = new { @class = "checkbox icheck" } })
                </span>
             </div>
        </div>*@
        <div>
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                &nbsp;&nbsp;&nbsp;
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
            </p>
        </div>

    </div>
}



