﻿@model Oss.Hrms.Models.ViewModels.User.VmUser_User

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.User_User.ID)
        @Html.HiddenFor(model => model.User_User.IsActive)
        <div class="form-group">
            @Html.Label("Current Password", htmlAttributes: new { @class = "control-label col-md-4 col-sm-8 col-xs-5" })
         
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.User_User.Password, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.User_User.Password, "", new { @class = "text-danger" })
            </div>
        </div> 
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-4 col-sm-8 col-xs-5" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-4 col-sm-8 col-xs-5" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "ConfirmPassword form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>    
    </div>
 </div>

    <div>
        <div class="col-md-4"></div>
        <div class="col-md-2"></div>
        <p style="margin-left:50px">
            <input type="submit" value="Save" class="btn btn-success" />
            <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
        </p>
    </div>

}







