﻿@model Oss.Hrms.Models.ViewModels.User.VmUser_MenuItem

@{
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
    ViewBag.Title = "User Menu";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {


        var url = "";


        $("#dialog-edit").dialog({
           autoOpen: false,
            resizable: false,
            height: 550,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#lnkCreate").click(function(e) {
            $(".ui-dialog-titlebar").html("Menu: Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        });

        $(".lnkEdit").click(function(e) {
            $(".ui-dialog-titlebar").html("Menu: Edit.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        });

        $(".lnkDelete").click(function(e) {
            $(".ui-dialog-titlebar").html("Menu: Delete.");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Delete");
            $("#dialog-confirm").dialog('open');

            return false;
        });

        $(".btncancel").click(function(e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>


<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>
<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<section class="content-header">
    <h1>
        User Menu:
        &nbsp;&nbsp;
        (&nbsp; <a href="VmUser_MenuItemCreate" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">
            User_Team
        </li>
    </ol>
</section>

<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">


        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            @{
                int Sl = 0;
            }

            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                    <tr>
                        <th>SL</th>
                        <th>
                            @Html.DisplayNameFor(model => model.User_MenuItem.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.User_Menu.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.User_SubMenu.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.User_MenuItem.Method)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.User_MenuItem.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.User_MenuItem.IsAlone)
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.User_MenuItem.Priority)
                            </th>*@
                        <th>
                            Action
                        </th>


                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.DataList)
                    {
                        <tr>
                            <td><b>@(++Sl).</b></td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User_MenuItem.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User_Menu.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User_SubMenu.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User_MenuItem.Method)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User_MenuItem.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User_MenuItem.IsAlone)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.User_MenuItem.Priority)
                                </td>*@

                            <td>
                                @Html.ActionLink(".", "VmUser_MenuItemEdit", new {id = item.User_MenuItem.ID}, new {@class = "lnkEdit glyphicon glyphicon-pencil"}) &nbsp;

                                @Html.ActionLink(".", "VmUser_MenuItemDelete", new {id = item.User_MenuItem.ID}, new {@class = "lnkDelete glyphicon glyphicon-trash"}) &nbsp;

                            </td>
                        </tr>
                    }

                    </tbody>

                </table>
            </div>

        </div>

    </div>

</div>

