﻿@model Oss.Hrms.Models.ViewModels.User.VmUser_User
@{
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
    ViewBag.Title = "User";
}
<script src="~/Assets/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {


        var url = "";
        $("#dialog-edit-Details").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });
        $("#dialog-Password-edit").dialog({
            title: '',
            autoOpen: false,
            resizable: false,
            height: 350,
            width: 500,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });
        $("#dialog-active-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 300,
            width: 500,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            title: 'Delete',
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#dialog-user-Create").dialog({
            autoOpen: false,
            resizable: false,
            height: 550,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });
        $("#dialog-detail").dialog({
            title: 'User Details',
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            },
            buttons: {
                "Close": function () {
                    $(this).dialog("close");
                }
            }
        });

        //$("#dialog-access-buyer").dialog({
        //    autoOpen: false,
        //    resizable: false,
        //    height: 350,
        //    width: 500,
        //    show: { effect: 'left', direction: "right" },
        //    modal: true,
        //    draggable: true,
        //    open: function (event, ui) {
        //        $(".ui-dialog-titlebar-close").hide();
        //        $(this).load(url);
        //    }
        //});

        $("#dialog-access-control").dialog({
            autoOpen: false,
            resizable: false,
            height: 350,
            width: 500,
            show: { effect: 'left', direction: "right" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#CreateUser").click(function (e) {
            url = $(this).attr('href');
            $(".ui-dialog-titlebar").html("Create New User <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            $("#LoadingBar").show();
            $("#dialog-user-Create").dialog('open');
            return false;
        })

        $(".lnkEditDetails").click(function (e) {
            url = $(this).attr('href');
            $(".ui-dialog-titlebar").html("Update User <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            $("#dialog-edit-Details").dialog('open');
            $("#LoadingBar").show();
            return false;
        })
        $(".AdminPasswordEdit").click(function (e) {
            url = $(this).attr('href');
            $(".ui-dialog-titlebar").html("Password Change: <button type='button' style='float: right;' class='btncancel'>&times;</button>");
            $("#dialog-Password-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })
        $(".linkActiveEdit").click(function (e) {
            url = $(this).attr('href');
            $(".ui-dialog-titlebar").html("Are You sure to Active <button type='button' style='float: right;' class='btncancel'>&times;</button>");
            $("#dialog-active-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })
        $(".linkAssessControl").click(function (e) {
            url = $(this).attr('href');
            $(".ui-dialog-titlebar").html("User Assess Control <button type='button' style='float: right;' class='btncancel'>&times;</button>");
            $("#dialog-access-control").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkDelete").click(function (e) {
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })
        $(".lnkDetail").click(function (e) {
            url = $(this).attr('href');
            $("#dialog-detail").dialog('open');

            return false;
        })

        $(".lnkDetail1").click(function (e) {
            url = $(this).attr('href');
            $("#dialog-detail1").dialog('open');

            return false;
        })
        //$('##dialog-user-Create').load($('#CreateUser').attr('href'));
        // $('#dialog-Password-edit').load($('.AdminPasswordEdit').attr('href'));
        // $('#dialog-access-control').load($('.linkAssessControl').attr('href'));
        // $('#dialog-edit-Details').load($('.lnkEditDetails').attr('href'));
        // $('#dialog-active-edit').load($('.linkActiveEdit').attr('href'));
        //$("#lnkCreate").click(function (e) {
        //    url = $(this).attr('href');
        //    $(".ui-dialog-titlebar").html("User Assess Control <button type='button' style='float: right;' class='btncancel'>&times;</button>");

        //    $("#LoadingBar").show();
        //    $("#dialog-access-buyer").dialog('open');

        //    return false;
        //})


    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit-Details" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>

<div id="dialog-active-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>
<div id="dialog-detail1" style="display: none">
</div>
<div id="dialog-user-Create" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-Password-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-access-control" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
@*<div id="dialog-access-buyer" style="display: none">
        <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

    </div>*@

<section class="content-header">
    <h1>
        User &nbsp;&nbsp;
        (&nbsp; <a href="VmUser_UserCreate" id="CreateUser"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">User</li>

    </ol>
</section>

<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            <!-- /.box-header -->
            @*@{
                    int Sl = 0;
                }*@
            <div class="box-body table-responsive">
                <table class="table table-striped jambo_table bulk_action">

                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td style="vertical-align:middle">
                                    <div style="padding:0px 50px" class="center">
                                        @if (item.User_User.IsActive == true)
                                        {
                                            <span class="label label-success">Active</span>
                                        }
                                        else
                                        {
                                            <span class="label label-danger">Inactive</span>
                                        }

                                    </div>
                                </td>
                                <td>

                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="box-body">
                                            <div class="col-md-6">
                                                <div class="col-md-12">
                                                    <label style="width:100px;">@Html.DisplayNameFor(modelItem => item.User_User.UserName):</label>
                                                    <span> @Html.DisplayFor(modelItem => item.User_User.UserName)</span>
                                                </div>

                                                <div class="col-md-12">
                                                    <label style="width:100px;">@Html.DisplayNameFor(modelItem => item.User_User.Name):</label>
                                                    <span> @Html.DisplayFor(modelItem => item.User_User.Name)</span>
                                                </div>
                                                <div class="col-md-12">
                                                    <label style="padding-right:50px;">@Html.DisplayNameFor(modelItem => item.User_User.Address):</label>
                                                    <span> @Html.DisplayFor(modelItem => item.User_User.Address)</span>
                                                </div>
                                                <div class="col-md-12">
                                                    <label style="width:100px;">@Html.DisplayNameFor(modelItem => item.User_User.Email):</label>
                                                    <span> @Html.DisplayFor(modelItem => item.User_User.Email)</span>
                                                </div>
                                                <div class="col-md-12">
                                                    <label style="width:100px;">@Html.DisplayNameFor(modelItem => item.User_User.Mobile):</label>
                                                    <span> @Html.DisplayFor(modelItem => item.User_User.Mobile)</span>
                                                </div>
                                            </div>

                                            <div class="col-md-5">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-2"></div>

                                                <div class="col-md-4">
                                                    @*@{
                                                            var pic = "nopic.png";
                                                            if (!string.IsNullOrEmpty(item.User_User.Photo))
                                                            {
                                                                pic = item.User_User.Photo;
                                                            }
                                                        }*@
                                                    @*<img style="width:150px;" height="150" class="img-rounded" src="@Url.Content("~/CustomeFile/ProfilePic/"+ @pic)" />*@
                                                    <img style="width:100px;" height="100" class="img-rounded" src="@Url.Content(item.User_User.Photo)" />


                                                </div>

                                                <div class="col-md-2">
                                                    <div style="padding:2px 50px" class="center">
                                                        <div>
                                                            @Html.ActionLink("Active", "Active", new { id = item.User_User.ID.ToString() }, new { title = "To Active User", @class = "linkActiveEdit btn btn-primary btn-flat", @style = "color:white" })
                                                        </div>

                                                    </div>

                                                    <div style="padding:2px 50px" class="center">
                                                        <div>
                                                            @Html.ActionLink("Edit Details", "VmUser_UserEdit", new { id = item.User_User.ID.ToString() }, new { title = "To Edit User Info", @class = "lnkEditDetails btn btn-primary btn-flat", @style = "color:white" })
                                                        </div>

                                                    </div>


                                                    @*<div style="padding:2px 50px" class="center">
                                                            <div>
                                                                @Html.ActionLink("AccessControl", "AccessControl", new { id =item.User_User.ID.ToString() }, new { title = "Define User Access", @class = "linkAssessControl btn btn-primary btn-flat", @style = "color:white" })
                                                            </div>

                                                        </div>*@

                                                    <div style="padding:2px 50px" class="center">
                                                        <div>
                                                            @Html.ActionLink("Change Password", "AdminPasswordEdit", new { id = item.User_User.ID.ToString() }, new { title = "To Change User Password", @class = "AdminPasswordEdit btn btn-primary btn-flat", @style = "color:white" })
                                                        </div>
                                                    </div>

                                                    <div style="padding:2px 50px" class="center">
                                                        <div>
                                                            @Html.ActionLink("Delete User", "DeleteUser", new { id = item.User_User.ID.ToString() }, new { title = "To Delete User", @class = "lnkDelete btn btn-danger btn-flat", @style = "color:white" })
                                                        </div>
                                                    </div>
                                                    @*<div style="padding:2px 50px" class="center">
                                                            <div>
                                                                @Html.ActionLink("User Assign", "VmAssignUser", new { id = item.User_User.ID }, new { title = "To Edit User Info",@class = "btn btn-primary btn-flat", @style = "color:white" })
                                                            </div>

                                                        </div>*@

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>






