﻿@model Oss.Hrms.Models.ViewModels.User.VmUser_User

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";

}
@using (Html.BeginForm("VmUser_UserEdit", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.User_User.ID)
    @Html.HiddenFor(model => model.User_User.IsActive)
<div class="form-horizontal">
    <h4></h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        @Html.LabelFor(model => model.UserNameFromEdit, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.UserNameFromEdit, new { htmlAttributes = new { @class = "form-control col-md-12" } })
            @Html.ValidationMessageFor(model => model.UserNameFromEdit, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.User_User.Name, htmlAttributes: new { @class = "control-label col-md-3 " })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.EditorFor(model => model.User_User.Name, new { htmlAttributes = new { @onfocus = "blur()", @class = "form-control col-md-12" } })
            @Html.ValidationMessageFor(model => model.User_User.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.User_User.Address, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.EditorFor(model => model.User_User.Address, new { htmlAttributes = new { @onfocus = "blur()", @class = "form-control col-md-12" } })
            @Html.ValidationMessageFor(model => model.User_User.Address, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.User_User.Email, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.EditorFor(model => model.User_User.Email, new { htmlAttributes = new { @onfocus = "blur()", @class = "form-control col-md-12" } })
            @Html.ValidationMessageFor(model => model.User_User.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.User_User.Mobile, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.EditorFor(model => model.User_User.Mobile, new { htmlAttributes = new { @onfocus = "blur()", @class = "form-control col-md-12" } })
            @Html.ValidationMessageFor(model => model.User_User.Mobile, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.User_Department.DeptName, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.DropDownListFor(model => model.User_User.User_DepartmentFK, ViewBag.UserDepartment as SelectList, "--Select Department--", new { @class = "form-control col-md-12" })
            @Html.ValidationMessageFor(model => model.User_User.User_DepartmentFK, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.User_User.User_RoleFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.DropDownListFor(model => model.User_User.User_RoleFK, ViewBag.UserRoles as SelectList, "--Select User Role--", new { @class = "form-control myselect2" })
            @Html.ValidationMessageFor(model => model.User_User.User_RoleFK, "", new { @class = "text-danger" })
        </div>
    </div>
    <div>
        <div class="col-md-4"></div>
        <div class="col-md-2"></div>
        <p style="margin-left:50px">
            <input type="submit" value="Save" class="btn btn-success" />
            &nbsp;&nbsp;&nbsp;
            <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
        </p>
    </div>
</div>
}

