﻿@model Oss.Hrms.Models.ViewModels.User.VmUser_Role

@{
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
    ViewBag.Title = "User Role List";
}
<script src="~/Assets/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    $(document).ready(function () {

        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 300,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Create User Role.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Update User Role. <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("");
            $("#dialog-edit").dialog('open');

            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Delete User Role. <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })
        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        // $('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>


<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
</div>

<section class="content-header">
    <h1>
        User Role: &nbsp;&nbsp;
        (&nbsp; <a href="VmUser_RoleCreate" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        @*<li><a href="~/Marketing/Dashboard">Marketing</a></li>*@
        <li class="active"> User Role</li>
    </ol>
</section>

<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            @{
                int sl = 0;
            }
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>

                            <th>
                                @Html.DisplayNameFor(model => model.User_Role.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.User_Role.Description)
                            </th>

                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++sl).</b></td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.User_Role.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User_Role.Description)
                                </td>

                                <td>
                                    @Html.ActionLink(".", "VmUser_RoleEdit", new { id =item.User_Role.ID.ToString() }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                    @Html.ActionLink(".", "VmUser_RoleDelete", new { id = item.User_Role.ID.ToString() }, new { @class = "lnkDelete glyphicon glyphicon-trash" })
                                    @*@Html.ActionLink("Assign Role", "VmUser_RoleAssign", new { id = Model.VmControllerHelper.Encrypt(item.User_Role.ID.ToString()) }, new { @target = "_blank" })*@
                                </td>
                            </tr>
                        }

                    </tbody>

                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
