﻿@model Oss.Hrms.Models.ViewModels.User.VmUser_Role

@{

    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
    ViewBag.Title = "User Role Assign";
}

<script src="~/Assets/plugins/jQuery/jquery-2.2.3.min.js"></script>
@Styles.Render("~/plugins/iCheck/square/blue.css")

<script>
    $(document).ready(function () {
        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Add Item.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Item Edit.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Item Edit");
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Item Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>

<section class="content-header">
    <h1></h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        @*<li><a href="/Marketing/VmMkt_BOMIndex">Bill Of Materials</a></li>*@
        <li><a href="#">User Role</a></li>
        <li class="active"></li>
    </ol>
</section>


<div class="clearfix"></div>
<!-- /.row -->
<div class="row" Style="border:1px solid gray;padding:8px;background:#e1efbb;">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            @*<div class="box-header">
                    <h3 class="box-title"></h3>
                </div>*@
            <!-- /.box-header -->
            <div class="box-body">


                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3>
                            Role Info :
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="box-body col-md-5">

                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.User_Role.Name)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.User_Role.Name)">
                            </div>

                        </div>
                        <div class="box-body col-md-5">


                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.User_Role.Description)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.User_Role.Description)">
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>

                @Html.HiddenFor(x => x.User_Role.ID)
                <div class="box box-info">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">


                                @{int i = 0;
                                    string top = "";
                                    string sub = "";
                                   
                                }
                                @while (i < Model.DataListVmRoleDetails.Count())
                                {
                                    if (top != Model.DataListVmRoleDetails[i].Top)
                                    {
                                        <tr>
                                            <td colspan="3">
                                                <div class="">
                                                    <center>
                                                        <b style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;font-size:28px;color:navy">
                                                            @Model.DataListVmRoleDetails[i].Top
                                                        </b>
                                                    </center>
                                                </div>
                                            </td>

                                        </tr>
                                        top = Model.DataListVmRoleDetails[i].Top;
                                    }
                                    else if (sub != Model.DataListVmRoleDetails[i].Menu)
                                    {
                                       
                                            <tr>
                                                <td colspan="3">
                                                    <div class="">
                                                        <b style="font-family:Calibri;font-size:22px;float:right;padding-right:50px;color:darkgreen">
                                                            @Model.DataListVmRoleDetails[i].Menu
                                                        </b>
                                                    </div>
                                                </td>

                                            </tr>
                                            sub = Model.DataListVmRoleDetails[i].Menu;
                                    }
                                    else
                                    {

                                        <tr>

                                            <td>
                                                <b style="font-family:Calibri;font-size:18px;">
                                                    @Model.DataListVmRoleDetails[i].Item
                                                </b>

                                            </td>
                                            <td>
                                                <b style="font-family:Calibri;font-size:18px;">
                                                    @Model.DataListVmRoleDetails[i].Description
                                                </b>


                                            </td>
                                            <td>
                                                <div class="">
                                                    @Html.HiddenFor(model => model.DataListVmRoleDetails[i].ID)
                                                    @Html.HiddenFor(model => model.DataListVmRoleDetails[i].RoleID)
                                                    @Html.HiddenFor(model => model.DataListVmRoleDetails[i].MenuID)
                                                    @Html.CheckBoxFor(model => model.DataListVmRoleDetails[i].IsSelected, new { htmlAttributes = new { @class="checkbox icheck"} })
                                                </div>
                                            </td>
                                        </tr>
                                        i++;
                                    }

                                }

                            </table>
                            <div>
                                <div class="col-md-5"></div>
                                <div class="col-md-5"></div>
                                <p style="margin-left:50px">
                                    <input type="submit" value="Assign" class="btn btn-lg btn-success" />
                                    <a class="btn btn-link" href="~/User/VmUser_RoleIndex">Cancel</a>
                                </p>
                            </div>
                        </div>
                    }
                   
                </div>

            </div>
            <!-- /.box-body -->
          
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
@Scripts.Render("~/plugins/iCheck/icheck.min.js")
