﻿@model Oss.Hrms.Models.ViewModels.HRMS.VMEmployee
@{
    ViewBag.Title = "Employee Details";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<div class="panel panel-default content-box border-top border-green">
    <div id="dialog-edit" style="display: none">
        <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/35.gif" />
    </div>
    <div class="panel-heading">
        <h3 class="panel-title">Details Information of  @Model.Name </h3>
    </div>
    <div class="panel-body">
        <div class="panel panel-default content-box border-top border-green">
            <div class="panel-heading">
                <h3 class="panel-title">Basic Information</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <td style="font-weight: bold">Employee Id</td>
                                <td>@Html.DisplayFor(model => model.EmployeeIdentity)</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold">Name</td>
                                <td>@Html.DisplayFor(model => model.Name)</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold">Name(Bangla)</td>
                                <td> @Html.DisplayFor(model => model.Name_BN)</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold">Father Name</td>
                                <td> @Html.DisplayFor(model => model.Father_Name)</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold">Mother Name</td>
                                <td> @Html.DisplayFor(model => model.Mother_Name)</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold">Date of Birth</td>
                                <td> @Html.DisplayFor(model => model.DOB)</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold">Gender </td>
                                <td> @Html.DisplayFor(model => model.Gender)</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <td style="font-weight: bold">Photo</td>
                                <td>
                                    @{
                                        var str = "";
                                        str = "nopicture.png";
                                        if (!string.IsNullOrEmpty(Model.Photo))
                                        {
                                            str = Model.Photo;
                                        }
                                        <img class="img-thumbnail img-responsive" alt="str" height="180" width="160" src="@Url.Content("~/Assets/Images/EmpImages/" + str)">
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold">Present Address</td>
                                <td> @Html.DisplayFor(model => model.Present_Address)</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold">Department</td>
                                <td> @Html.DisplayFor(model => model.Department_Name)</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-info">
                    <div class="panel-heading text-center">
                        <h4>Application From</h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-12">
                            <div class="row" style="padding-bottom:10px;">
                                @Html.ActionLink("Promotion and Wage Increment", "ApplicationForm", new { id = Model.ID, bid =31 }, new { @class = "lnkEdit btn btn-default btn-block" })
                            </div>
                            <div class="row" style="padding-bottom:10px;">
                                @Html.ActionLink("Age Eligibility Testimonial", "ApplicationForm", new { id = Model.ID, bid =32 }, new { @class = "lnkEdit btn btn-default btn-block" })
                            </div>
                            <div class="row" style="padding-bottom:10px;">
                                @Html.ActionLink("Yearly Wage Increment", "ApplicationForm", new { id = Model.ID, bid = 33 }, new { @class = "lnkEdit btn btn-default btn-block" })
                            </div>
                            <div class="row" style="padding-bottom:10px;">
                                @Html.ActionLink("Rejoin form-1", "ApplicationForm", new { id = Model.ID, bid = 34 }, new { @class = "lnkEdit btn btn-default btn-block" })
                            </div>
                            <div class="row" style="padding-bottom:10px;">
                                @Html.ActionLink("Rejoin form-2", "ApplicationForm", new { id = Model.ID, bid = 35 }, new { @class = "lnkEdit btn btn-default btn-block" })
                            </div>
                            <div class="row" style="padding-bottom:10px;">
                                @Html.ActionLink("Resign Letter-3", "ApplicationForm", new { id = Model.ID, bid = 36 }, new { @class = "lnkEdit btn btn-default btn-block" })
                            </div>
                            <div class="row" style="padding-bottom:10px;">
                                @Html.ActionLink("Resign Letter", "ApplicationForm", new { id = Model.ID, bid = 37}, new { @class = "lnkEdit btn btn-default btn-block" })
                            </div>
                            <div class="row" style="padding-bottom:10px;">
                                @Html.ActionLink("Appoinment Letter", "ApplicationForm", new { id = Model.ID, bid = 38 }, new { @class = "lnkEdit btn btn-default btn-block" })
                            </div>
                            @*<div class="row" style="padding-bottom:10px;">
                                    @Html.ActionLink("Wage Increment", "ApplicationForm", new { id = Model.ID, bid = 39 }, new { @class = "lnkEdit btn btn-default btn-block" })
                                </div>
                                <div class="row" style="padding-bottom:10px;">
                                    @Html.ActionLink("Change Section and Wage Increment", "ApplicationForm", new { id = Model.ID, bid = 40 }, new { @class = "lnkEdit btn btn-default btn-block" })
                                </div>
                                
                                
                                <div class="row" style="padding-bottom:10px;">
                                    @Html.ActionLink("Job Applicant Details Information", "ApplicationForm", new { id = Model.ID, bid = 41 }, new { @class = "lnkEdit btn btn-default btn-block" })
                                </div>
                                <div class="row" style="padding-bottom:10px;">
                                    @Html.ActionLink("Back Ground Check", "ApplicationForm", new { id = Model.ID, bid = 42 }, new { @class = "lnkEdit btn btn-default btn-block" })
                                </div>
                                <div class="row" style="padding-bottom:10px;">
                                    @Html.ActionLink("Age Vefification Certificate", "ApplicationForm", new { id = Model.ID, bid = 43 }, new { @class = "lnkEdit btn btn-default btn-block" })
                                </div>*@
                                <div class="row" style="padding-bottom:10px;">
                                    @Html.ActionLink("Final Settlement", "ApplicationForm", new { id = Model.ID, bid = 44 }, new { @class = "lnkEdit btn btn-default btn-block" })
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4">
                <div class="panel panel-success">
                    <div class="panel-heading text-center">
                        <h4>Job Description</h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-12">
                            <div class="row" style="padding-bottom:10px;">
                                @Html.ActionLink("Folding Man Packing", "JobDescriptionForm", new { id = Model.ID, bid = 11 }, new { @target="_blank", @class = "btn btn-default btn-block" })
                            </div>
                            <div class="row" style="padding-bottom:10px;">
                                @Html.ActionLink("Folding Man", "JobDescriptionForm", new { id = Model.ID, bid = 12 }, new { @target = "_blank", @class = "btn btn-default btn-block" })
                            </div>
                            <div class="row" style="padding-bottom:10px;">
                                @Html.ActionLink("Input Man", "JobDescriptionForm", new { id = Model.ID, bid = 13 }, new { @target = "_blank", @class = "btn btn-default btn-block" })
                            </div>
                            <div class="row" style="padding-bottom:10px;">
                                @Html.ActionLink("Knitting Operator", "JobDescriptionForm", new { id = Model.ID, bid = 14 }, new { @target = "_blank", @class = "btn btn-default btn-block" })
                            </div>
                            <div class="row" style="padding-bottom:10px;">
                                @Html.ActionLink("Store Loader/Helper", "JobDescriptionForm", new { id = Model.ID, bid = 15 }, new { @target = "_blank", @class = "btn btn-default btn-block" })
                            </div>
                            <div class="row" style="padding-bottom:10px;">
                                @Html.ActionLink("Packing Man Description", "JobDescriptionForm", new { id = Model.ID, bid = 16 }, new { @target = "_blank", @class = "btn btn-default btn-block" })
                            </div>
                            <div class="row" style="padding-bottom:10px;">
                                @Html.ActionLink("Packing Man Responsibility", "JobDescriptionForm", new { id = Model.ID, bid = 17 }, new { @target = "_blank", @class = "btn btn-default btn-block" })
                            </div>
                            <div class="row" style="padding-bottom:10px;">
                                @Html.ActionLink("Poly Man Description", "JobDescriptionForm", new { id = Model.ID, bid = 18 }, new { @target = "_blank", @class = "btn btn-default btn-block" })
                            </div>
                            <div class="row" style="padding-bottom:10px;">
                                @Html.ActionLink("Poly Man Responsibility", "JobDescriptionForm", new { id = Model.ID, bid = 19 }, new { @target = "_blank", @class = "btn btn-default btn-block" })
                            </div>
                            <div class="row" style="padding-bottom:10px;">
                                @Html.ActionLink("Print Assistant", "JobDescriptionForm", new { id = Model.ID, bid = 20 }, new { @target = "_blank", @class = "btn btn-default btn-block" })
                            </div>
                            <div class="row" style="padding-bottom:10px;">
                                @Html.ActionLink("Security Incharge", "JobDescriptionForm", new { id = Model.ID, bid = 21 }, new { @target = "_blank", @class = "btn btn-default btn-block" })
                            </div>
                            <div class="row" style="padding-bottom:10px;">
                                @Html.ActionLink("Security Supervisor", "JobDescriptionForm", new { id = Model.ID, bid = 22 }, new { @target = "_blank", @class = "btn btn-default btn-block" })
                            </div>
                            <div class="row" style="padding-bottom:10px;">
                                @Html.ActionLink("Security Guard", "JobDescriptionForm", new { id = Model.ID, bid = 23 }, new { @target = "_blank", @class = "btn btn-default btn-block" })
                            </div>
                            <div class="row" style="padding-bottom:10px;">
                                @Html.ActionLink("Sewing Operator", "JobDescriptionForm", new { id = Model.ID, bid = 24 }, new { @target = "_blank", @class = "btn btn-default btn-block" })
                            </div>
                            <div class="row" style="padding-bottom:10px;">
                                @Html.ActionLink("Sewing Operator Responsibility", "JobDescriptionForm", new { id = Model.ID, bid = 25}, new { @target = "_blank", @class = "btn btn-default btn-block" })
                            </div>
                            <div class="row" style="padding-bottom:10px;">
                                @Html.ActionLink("Spot Man", "JobDescriptionForm", new { id = Model.ID, bid = 26 }, new { @target = "_blank", @class = "btn btn-default btn-block" })
                            </div>
                            <div class="row" style="padding-bottom:10px;">
                                @Html.ActionLink("Cutter Man", "JobDescriptionForm", new { id = Model.ID, bid = 27 }, new { @target = "_blank", @class = "btn btn-default btn-block" })
                            </div>
                            <div class="row" style="padding-bottom:10px;">
                                @Html.ActionLink("Cutter Assistant", "JobDescriptionForm", new { id = Model.ID, bid = 28 }, new { @target = "_blank", @class = "btn btn-default btn-block" })
                            </div>
                            <div class="row" style="padding-bottom:10px;">
                                @Html.ActionLink("Finishing Assistant", "JobDescriptionForm", new { id = Model.ID, bid = 29 }, new { @target = "_blank", @class = "btn btn-default btn-block" })
                            </div>
                          
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                </div>
            </div>
            <div class="col-lg-4">
                @if (Model.Gender.Equals("Female"))
                {
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <h4>Maternity Form</h4>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <div class="row" style="padding-bottom:10px;">
                                    @Html.ActionLink("Maternity Leave", "ApplicationForm", new { id = Model.ID, bid = 1 }, new { @class = "lnkEdit btn btn-default btn-block" })
                                </div>
                                <div class="row" style="padding-bottom:10px;">
                                    @Html.ActionLink("Maternity welfare Leave-B", "ApplicationForm", new { id = Model.ID, bid = 2 }, new { @class = "lnkEdit btn btn-default btn-block" })
                                </div>
                                <div class="row" style="padding-bottom:10px;">
                                    @Html.ActionLink("Maternity welfare Leave-C", "ApplicationForm", new { id = Model.ID, bid = 3 }, new { @class = "lnkEdit btn btn-default btn-block" })
                                </div>
                                <div class="row" style="padding-bottom:10px;">
                                    @Html.ActionLink("Maternity Leave Certificate-1", "ApplicationForm", new { id = Model.ID, bid = 4 }, new { @class = "lnkEdit btn btn-default btn-block" })
                                </div>
                                <div class="row" style="padding-bottom:10px;">
                                    @Html.ActionLink("Maternity Leave Certificate-2", "ApplicationForm", new { id = Model.ID, bid = 5 }, new { @class = "lnkEdit btn btn-default btn-block" })
                                </div>
                                <div class="row" style="padding-bottom:10px;">
                                    @Html.ActionLink("Maternity welfare Facilities-D", "ApplicationForm", new { id = Model.ID, bid = 6 }, new { @class = "lnkEdit btn btn-default btn-block" })
                                </div>
                                <div class="row" style="padding-bottom:10px;">
                                    @Html.ActionLink("Maternity welfare Allowance", "ApplicationForm", new { id = Model.ID, bid = 7 }, new { @class = "lnkEdit btn btn-default btn-block" })
                                </div>
                                <div class="row" style="padding-bottom:10px;">
                                    @Html.ActionLink("All Maternity From", "ApplicationForm", new { id = Model.ID, bid = 8 }, new { @class = "lnkEdit btn btn-default btn-block" })
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {

            var url = "";

            $("#dialog-edit").dialog({
                autoOpen: false,
                resizable: false,
                height: 400,
                width: 500,
                show: { effect: 'left', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close").hide();
                    $(this).load(url);
                }
            });

            $("#lnkCreate").click(function (e) {
                $(".ui-dialog-titlebar")
                    .html("Employee Application Form  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
                url = $(this).attr('href');
                $("#dialog-edit").dialog('open');
                $("#LoadingBar").show();

                return false;
            });

            $(".lnkEdit").click(function (e) {
                $(".ui-dialog-titlebar")
                    .html("Employee Application Form  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
                url = $(this).attr('href');
                $("#dialog-edit").dialog('open');
                $("#LoadingBar").show();

                return false;
            });

            $(".btncancel1").click(function (e) {
                $("#dialog-edit").dialog("close");
                return false;
            });

            $(".btncancel").click(function (e) {
                $("#dialog-edit").dialog("close");
                return false;
            });

        });
    </script>
}