﻿@model Oss.Hrms.Models.ViewModels.Leave.VM_HRMS_Holiday

@{
    ViewBag.Title = "AddHoliDay";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.OffDay, htmlAttributes: new { @class = "control-label  col-md-4" })
                <div class="input-group date" @*data-datetimepicker-startdate="true"*@>
                    @Html.TextBoxFor(model => model.OffDay, new {Value="", @class = "form-control calendarControl" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                    @Html.ValidationMessageFor(model => model.OffDay, "", new { @class = "text-danger" })
            </div>
        <div class="row">
            
            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            
        </div>

        <div class="form-group">
            <div class="col-md-7">
            </div>
            <div class="col-md-5">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
            </div>
        </div>
    </div>
}


@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    
    <script>
        $(document).ready(function() {

            $('[data-datetimepicker-startdate]').datetimepicker({
                //minDate: currentDate,
                format: 'MM-DD-YYYY'
                //format: 'YYYY-MM-DD'
            }).on('dp.change',
                function (ev) {
                    // $('#date-daily').change();
                    var date = ev.date._d;
                    // $('[data-datetimepicker-endate]').data("DateTimePicker").minDate(ev.date);
                    // var date = moment(val).format('DD MMMM YYYY') + ' (' + moment(val).fromNow() + ')';
                    var stdate = moment(date).format('MM/DD/YYYY');
                    //$("#hidStartdate").val(stdate);
                    var elemId = $(this).attr('data-startdate-model');
                    $("#" + elemId).val(stdate);
                });
        });
    </script>
}*@
