﻿@model Oss.Hrms.Models.ViewModels.Leave.VM_HRMS_Leave_Assign

@{
    ViewBag.Title = "AddPreviousLeaveInformation";
}
@using (Html.BeginForm("AddPreviousLeaveInformation", "Leave", FormMethod.Post, new { id = "AddPreviousLeaveInformation", data_server = "true", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*@Html.HiddenFor(model => model.EmployeeIds)*@
    @*@Html.HiddenFor(model => model.LeaveTypeId)*@
    <div class="panel panel-default border-top border-blue">
        <div class="panel-heading pad5A">
            <h3 class="panel-title">Previous Leave Data Manage</h3>
        </div>
        <div id="divPanelbody" class="panel-body" style="min-height: 45em">
            <div class="row ">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="EmployeeId">Card Title + Card No</label>
                        @Html.DropDownListFor(model => model.EmployeeId, ViewBag.Employee as IEnumerable<SelectListItem>,
                            "Select Employee", new {@id = "EmployeeId", @class = "form-control  myselect2"})
                        @Html.ValidationMessageFor(model => model.EmployeeId, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.LabelFor(model => model.year, new {@class = "control-label "})&nbsp;
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.DropDownListFor(model => model.year, ViewBag.LeaveYearList as IEnumerable<SelectListItem>,
                            "Select Year ", new {@class = "form-control myselect2"})
                        @Html.ValidationMessageFor(model => model.year, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.LabelFor(model => model.LeaveTypeId, new {@class = "control-label "})&nbsp;
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.DropDownListFor(model => model.LeaveTypeId, ViewBag.LeaveType as IEnumerable<SelectListItem>,
                            "Select Leave", new {id = "ddlLeaveTypeId", @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.LeaveTypeId, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Total, new {@class = "control-label"})
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.TextBoxFor(model => model.Total, new
                        {
                            Value = "",
                            id = "txtTotal",
                            @class = "form-control"@*,@readonly="readonly"*@})
                        @Html.ValidationMessageFor(model => model.Total, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Taken, new {@class = "control-label"})
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.TextBoxFor(model => model.Taken, new
                        {
                            Value = "",
                            id = "txtTotal",
                            @class = "form-control"@*,@readonly="readonly"*@})
                        @Html.ValidationMessageFor(model => model.Taken, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group mrg25T">
                        <input type="submit" value="Save" class="btn btn-primary"/>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function() {
           
            
        });
    </script>
}
