﻿@model Oss.Hrms.Models.ViewModels.HRMS.VmApplication

@{
    ViewBag.Title = "NotificationList";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}

<div class="panel panel-default border-top border-blue">
    <div class="panel-heading pad5A">
        <h3 class="panel-title">Application Details</h3>
    </div>

    <div id="divPanelbody" class="panel-body">
        <div class="box">
            <div class="box-header">

                <div class="col-md-12" style="margin-top:10px">
                    <div>
                        <h5 style="font-weight:bold">Date :  @Model.Application.Date.ToShortDateString()</h5>
                    </div>
                    <div style="margin-top:5px">
                        <h5 style="font-weight:bold">@Model.Employee.Name</h5>
                    </div>
                    <div style="margin-top:5px">
                        <h5 style="font-weight:bold">@Model.Employee.EmployeeIdentity</h5>
                    </div>
                    <div style="margin-top:10px">
                        <h5 style="font-weight:bold">Subject :  @Model.Application.Subject</h5>
                    </div>
                </div>
                
            </div>


            <div class="box-body">
                    <div class="col-md-12">
                        @Html.Raw(Model.Application.Details)
                    </div>
                </div>
            </div>

    </div>
</div>


