﻿@model Oss.Hrms.Models.ViewModels.Leave.VM_HRMS_Holiday

@{
    ViewBag.Title = "IndexEmployeeOffDay";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<div class="panel panel-default border-top border-blue">
    <div class="panel-heading pad5A">
        <h3 class="panel-title">Holidays</h3>
    </div>
    <div id="divPanelbody" class="panel-body" @*style="min-height: 45em"*@>

        <div id="dialog-confirm" style="display: none">
            <p>
                <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
                Are you sure to delete?
            </p>
        </div>
        <div id="dialog-edit" style="display: none">
            <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

        </div>
        <section class="content-header">
            <h1>
                Add Holidays:
                &nbsp;&nbsp;
                (&nbsp; <a href="AddHoliDay" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
            </h1>

            <ol class="breadcrumb">
                <li><a href="~/EmployeeRecord/Index"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">
                    Holiday Information
                </li>
            </ol>
        </section>
        @{
            Oss.Hrms.Models.Services.CurrentUser user = (Oss.Hrms.Models.Services.CurrentUser)Session["User"];

        }
        <div class="box">
            <div class="box-body table-responsive">
                <table id="table2" class="table table-hover table-responsive table-bordered nowrap font-black">
                    <thead>
                        <tr>
                            <th>SL#</th>
                            <th>
                                @Html.DisplayNameFor(model => model.OffDay)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>

                            @{
                                if (user.UserRole.ToString() == "1")
                                {

                                    <th>Action</th>
                                }
                            }
                           
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>SL</th>
                            <th>Off Day</th>
                            <th>Decsription</th>
                            @{
                                if (user.UserRole.ToString() == "1")
                                {

                                    <th>Action</th>
                                }
                            }
                        </tr>
                    </tfoot>
                    <tbody>
                        @{
                            var i = 0;
                        }

                        @foreach (var item in Model.Holidays)
                        {
                            i = i + 1;
                        <tr>
                            <td>@i</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OffDay)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>

                            @{
                                if (user.UserRole.ToString() == "1")
                                {
                                    <td>
                                        @Html.ActionLink(" ", "EditHoliDay", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit lnkEdit" }) &nbsp;
                                        @Html.ActionLink(" ", "DeleteHoliDay", new { id = item.ID }, new { @class = "lnkDelete  glyphicon glyphicon-trash" })
                                    </td>
                                }

                            }

                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>*@
    <script>


        $(document).ready(function () {
            var url = "";


            $("#dialog-edit").dialog({
                autoOpen: false,
                resizable: false,
                height: 300,
                width: 500,
                show: { effect: 'left', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close").hide();
                    $(this).load(url);
                }
            });

            $("#dialog-confirm").dialog({
                autoOpen: false,
                resizable: false,
                height: 170,
                width: 350,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close").hide();

                },
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                        window.location.href = url;
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });


            $("#lnkCreate").click(function (e) {
                $(".ui-dialog-titlebar").html("Holiday: Add Holiday  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
                url = $(this).attr('href');
                $("#dialog-edit").dialog('open');
                $("#LoadingBar").show();

                return false;
            })

            $(".lnkEdit").click(function (e) {
                $(".ui-dialog-titlebar").html("Holiday: Update This Holiday.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
                url = $(this).attr('href');
                $("#dialog-edit").dialog('open');
                $("#LoadingBar").show();

                return false;
            })

            $(".lnkDelete").click(function (e) {
                $(".ui-dialog-titlebar").html("Holiday: Delete This Holiday.");
                url = $(this).attr('href');
                $(".ui-dialog-title").html("Delete");
                $("#dialog-confirm").dialog('open');

                return false;
            })

            $(".btncancel").click(function (e) {
                $("#dialog-edit").dialog("close");
                return false;
            })
            //$('#dialog-edit').load($('#lnkCreate').attr('href'));
            //$('#dialog-edit').load($('.lnkEdit').attr('href'));
        });
    </script>
}
