﻿@model Oss.Hrms.Models.ViewModels.Leave.VM_HRMS_Leave_Application

@{
    ViewBag.Title = "LeaveDetail";
}
<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">Details Information </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.EmployeeIdentity)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EmployeeIdentity)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.DesignationName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DesignationName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.From)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.From)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.To)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.To)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Purpose)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Purpose)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.JoiningWorkAfterLeave)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.JoiningWorkAfterLeave)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.RecommendedName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.RecommendedName)
                    </dd>
                    @*<dt>
            @Html.DisplayNameFor(model => model.HRDepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HRDepartmentName)
        </dd>*@
                    <dt>
                        @Html.DisplayNameFor(model => model.Comment)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Comment)
                    </dd>
                    @*<dt>
            @Html.DisplayNameFor(model => model.FM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FM)
        </dd>*@
                </dl>
            </div>
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    @*<dt>
            @Html.DisplayNameFor(model => model.SectionName)
        </dt>*@

                    @*<dd>
            @Html.DisplayFor(model => model.SectionName)
        </dd>*@
                    <dt>
                        @Html.DisplayNameFor(model => model.Leave_Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Leave_Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Days)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Days)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.StayDuringLeave)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.StayDuringLeave)
                    </dd>

                    @*<dt>
            @Html.DisplayNameFor(model => model.SectionInchargeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionInchargeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.APMorPMName)
        </dt>*@

                    @*<dd>
            @Html.DisplayFor(model => model.APMorPMName)
        </dd>*@
                    <dt>
                        @Html.DisplayNameFor(model => model.ApprovedByName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ApprovedByName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.LeavePaidType)
                    </dt>
                    <dd>
                        @if (@Model.LeavePaidType == 1)
                        {
                            <span class="label label-success">Paid Leave</span>
                        }
                        else if (@Model.LeavePaidType == 2)
                        {
                            <span class="label label-warning">UnPaid Leave</span>
                        }
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ApplicationSubmitDate)
                    </dt>

                    <dd>
                        @Model.ApplicationSubmitDate.Value.ToString("yyyy-MM-dd")
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

@*<h2>LeaveDetail</h2>

    <div>
        <h4>VM_HRMS_Leave_Application</h4>
        <hr />

    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
