﻿@using System.Web.UI.WebControls
@model Oss.Hrms.Models.ViewModels.Leave.VM_HRMS_Leave_Application
@*@model IEnumerable<Oss.Hrms.Models.ViewModels.Leave.VM_HRMS_Leave_Application>*@
@{
    /**/

    ViewBag.Title = "ViewLeaveApplicationInfo";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<style>
    .example-modal .modal {
        position: relative;
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        display: block;
        z-index: 1;
    }

    .example-modal .modal {
        background: transparent !important;
    }
</style>
<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">Leave Information </h3>
    </div>
    <div class="panel-body">
        <div id="addform">
            @using (Html.BeginForm("ViewLeaveApplicationInfo", "Leave", FormMethod.Post, new { data_server = "true", id = "ViewLeaveApplicationInfo" }))
            {
                <div class="row ">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.LeaveApplication.EmployeeId, new { @class = "control-label " })&nbsp;
                            &nbsp; <span><i class="ion-star font-red"></i></span>
                            @Html.DropDownListFor(model => model.LeaveApplication.EmployeeId, ViewBag.EmployeeList as IEnumerable<SelectListItem>,
                                                                      "Select Employee", new { @class = "form-control myselect2" })
                            @Html.ValidationMessageFor(model => model.LeaveApplication.EmployeeId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.LeaveApplication.From, new { @class = "control-label" })
                            &nbsp; <span><i class="ion-star font-red"></i></span>
                            <div class="input-group date">
                                @Html.TextBoxFor(model => model.LeaveApplication.From, new { Value = "", @class = "form-control calendarControl ", autocomplete = "off" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.LeaveApplication.From, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.LeaveApplication.To, new { @class = "control-label" })
                            &nbsp; <span><i class="ion-star font-red"></i></span>
                            <div class="input-group date">
                                @Html.TextBoxFor(model => model.LeaveApplication.To, new { Value = "", @class = "form-control calendarControl", autocomplete = "off" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.LeaveApplication.To, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" style="margin-top:25px">
                            <input type="submit" value="View Leave Info " id="btnviewshift" class="btn btn-primary" />
                        </div>
                    </div>
                </div>

            }
        </div>
        <div id="viewform">
            <div class="col-md-12">
                @{
                    int Sl = 0;
                    Oss.Hrms.Models.Services.CurrentUser user = (Oss.Hrms.Models.Services.CurrentUser)Session["User"];
                }
                @*@{
                    List<VM_HRMS_Leave_Application> listfbinfo = ViewBag.LeaveList as List<VM_HRMS_Leave_Application>;*@
                @if (Model.DataList1 != null && Model.DataList1.Any())
                {
                    <div class="box">
                        <div class="box-body table-responsive">
                            <table id="table2" class="table table-hover table-responsive table-bordered nowrap font-black">
                                <thead>
                                    <tr>
                                        <th>
                                            SL
                                        </th>
                                        @*<th>
                                                @Html.DisplayNameFor(model => model.SectionName)
                                            </th>*@
                                        <th>
                                            @Html.DisplayNameFor(model => model.EmployeeIdentity)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.LeaveTypeId)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.From)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.To)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Days)
                                        </th>
                                        @if (user.UserRole.ToString() != "1")
                                        {
                                            <th>
                                                @Html.DisplayNameFor(model => model.SupervisorApprovalStatus)
                                            </th>
                                        }
                                        <th>
                                            @Html.DisplayNameFor(model => model.LeaveStatus)
                                        </th>
                                        <th>
                                            Details
                                        </th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>SL</th>
                                        @*<th>Section Name</th>*@
                                        <th>Employee ID</th>
                                        <th>Name</th>
                                        <th>Leave Type</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Days</th>
                                        <th>Status</th>
                                        @if (user.UserRole.ToString() != "1")
                                        {
                                            <th>Supervisor Status</th>
                                        }
                                        <th>Details</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var item in Model.DataList1)
                                    {
                                        <tr>
                                            <td><b>@(++Sl).</b></td>
                                            @*<td>
                                                    @Html.DisplayFor(modelItem => item.SectionName)
                                                </td>*@
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EmployeeIdentity)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Leave_Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.From)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.To)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Days)
                                            </td>
                                            @if (user.UserRole.ToString() != "1")
                                            {
                                                <td style="vertical-align:middle;text-align:center">
                                                    @*@Html.DisplayFor(modelItem => item.AttendanceStatus)*@
                                                    @if (item.SupervisorApprovalStatus == 0)
                                                    {
                                                        <span class="label label-danger">Pending</span>
                                                    }
                                                    else if (item.SupervisorApprovalStatus == 1)
                                                    {
                                                        <span class="label label-success">Approved</span>
                                                    }
                                                    else if (item.SupervisorApprovalStatus == 2)
                                                    {
                                                        <span class="label label-warning">Reject</span>
                                                    }
                                                </td>
                                            }

                                            <td style="vertical-align:middle;text-align:center">
                                                @*@Html.DisplayFor(modelItem => item.AttendanceStatus)*@
                                                @if (item.LeaveStatus == 0)
                                                {
                                                    <span class="label label-danger">Pending</span>
                                                }
                                                else if (item.LeaveStatus == 1)
                                                {
                                                    <span class="label label-success">Approved</span>
                                                }
                                                else if (item.LeaveStatus == 2)
                                                {
                                                    <span class="label label-warning">Reject</span>
                                                }
                                            </td>
                                            <td>
                                                @if (user.UserRole.ToString() == "1" && item.LeaveStatus == 0)
                                                {


                                                    @:@Html.ActionLink(" Reject", "DeleteLeaveApplication", new { id = item.ID }, new { @title = "Reject Leave", @class = "glyphicon glyphicon-remove" }) &nbsp;<br />
                                                    <a class="glyphicon glyphicon-user" href="#\" onclick="CreateOtherOrder(@item.ID,'@item.From.ToShortDateString()','@item.To.ToShortDateString()','@item.Days','@item.EmployeeId','@item.LeaveTypeId')" id="lnkOtherCreate"> Approve </a> @:&nbsp;<br />
































                                                    @*@:@Html.ActionLink(" Approve", "ApproveLeaveApplication", new { id = item.ID }, new { @title = "Approval Leave", @class = "glyphicon glyphicon-user" }) &nbsp;<br />*@
                                                }
                                                @if (item.SupervisorApprovalStatus == 0)
                                                {
                                                    @:@Html.ActionLink(" Edit", "EditLeaveApplication", new { id = item.ID }, new { @title = "Edit Leave", @class = "glyphicon glyphicon-pencil" }) &nbsp;<br />
                                                    @:@Html.ActionLink(" Delete", "DeleteLeaveApplicationByUser", new { id = item.ID }, new { @title = "Delete Leave", @class = "glyphicon glyphicon-trash" }) &nbsp;<br />
                                                }
                                                @Html.ActionLink(" Details", "LeaveDetail", new { id = item.ID }, new { @title = "Leave Details", @class = "glyphicon glyphicon-list" }) &nbsp;

                                                @*@Html.ActionLink(" Print", "GetLeaveSlip", new { id = item.ID }, new { @target = "_blank", @title = "Leave Slip", @class = "glyphicon glyphicon-print" }) &nbsp;<br />*@
                                                @*@Html.ActionLink(" LeaveApplication", "LeaveApplicationFrom", new { id = item.ID }, new { @target = "_blank", @title = "Leave Application From", @class = "glyphicon glyphicon-print" }) &nbsp;*@

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
                @*}*@
            </div>
        </div>
        @using (Html.BeginForm("ApproveLeaveApplication", "Leave", FormMethod.Post, new { data_server = "true", id = "frmApproveLeaveApplication" }))
        {
            <div class="modal fade" id="divOther">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button id="btnclear" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Approve Leave</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row hide" id="divleavebalance">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" id="Lblleavebalance" Value="No Leave Assign Yet" class="form-control" readonly="readonly" />

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">From</label>
                                            &nbsp; <span><i class="ion-star font-red"></i></span>
                                            <div class="input-group date">
                                                <input id="first" name="From" class="form-control calendarControl" autocomplete="off" type="text" required />

                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">To</label>
                                            &nbsp; <span><i class="ion-star font-red"></i></span>
                                            <div class="input-group date">
                                                <input id="second" name="To" class="form-control calendarControl" autocomplete="off" type="text" required />

                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Days</label>
                                        <input id="total" name="Days" class="form-control" autocomplete="off" type="text" onfocus="blur()" />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Leave Type</label> &nbsp; <span><i class="ion-star font-red"></i></span>
                                        @{ var listItemsLptp = new List<ListItem>
                                                                                                                                                                                                                                                                                                               {
                                                                                                                                                                                                                                                                                                                   new ListItem {Text = "Paid", Value = "1", Selected = true},
                                                                                                                                                                                                                                                                                                                   new ListItem {Text = "UnPaid", Value = "2"}
                                                                                                                                                                                                                                                                                                               }; }
                                        @Html.DropDownList("PaidTypeId", new SelectList(listItemsLptp, "Value", "Text"), new { @class = "form-control myselect2", style = "width:100%" })
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="txtId" name="Id" />
                        </div>
                        <div class="modal-footer">

                            @*<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>*@
                            <button type="submit" id="btnothersave" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {

            $('#divOther').on('hidden.bs.modal',
                function (e) {
                    $(this).removeData();
                });
        });
        function CreateOtherOrder(id, from, to, days, eid, lid) {
            $('#second').val(to);
            $('#first').val(from);
            $('#total').val(days);
            $('#txtId').val(id);
            getLeaveAmountforLeaveApplication(eid, lid);
            $('#divOther').modal('show');
        }

        function parseDate(str) {
            var mdy = str.split('/');
            return new Date(mdy[0] - 1, mdy[1], mdy[2]);
            // return new Date(mdy[2], mdy[1], mdy[0] - 1);
        }

        function datediff(first, second) {
            // Take the difference between the dates and divide by milliseconds per day.
            // Round to nearest whole number to deal with DST.
            return Math.round((second - first) / (1000 * 60 * 60 * 24));
        }

        // alert(datediff(parseDate(first.value), parseDate(second.value)));
        $("#second").change(function () {
            var tot = 0;

            var fdate = new Date(first.value.replace(/-/g, "/"));
            var dateTime = moment(fdate).format("YYYY/MM/DD");
            tot = (datediff(parseDate(dateTime), parseDate(second.value)));
            $('#total').val(tot+1);
        });

            function getLeaveAmountforLeaveApplication(eid,lid) {
                if (eid !== "" && lid !== "") {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("GetLeaveInformationInformation", "Leave")",
                        datatype: "Json",
                        data: { empId: eid, leavetypeid:lid },
                        success: function (data) {
                            if (data.Lblleavebalance != null) {
                                //document.getElementById("Lblleavebalance").value = data.Lblleavebalance;
                                $('#Lblleavebalance').val(data.Lblleavebalance);
                                $('#divleavebalance').removeClass("hide");
                            }

                        },
                        error: function(xhr, status) {
                            alert('This Leave Type Is Not Assigned For This Current Employee');
                        }
                    });
                } else {
                    alert('Select Employee ID and Leave Type');
                }
            }
    </script>


}