﻿@model Oss.Hrms.Models.ViewModels.Leave.VM_HRMS_Leave_Assign

@{
    ViewBag.Title = "ViewEmployeeLeaveAssignInfo";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">Leave Assign Information </h3>
    </div>
    <div class="panel-body">
        <div id="addform">
            @using (Html.BeginForm("ViewEmployeeLeaveAssignInfo", "Leave", FormMethod.Post, new { data_server = "true", id = "eiewemployeeleaveassigninfo" }))
            {
                <div class="row ">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.EmployeeId, new { @class = "control-label " })&nbsp;
                            &nbsp; <span><i class="ion-star font-red"></i></span>
                            @Html.DropDownListFor(model => model.EmployeeId, ViewBag.Employee as IEnumerable<SelectListItem>,
                                "Select Employee", new { @class = "form-control myselect2" })
                            @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.LeaveTypeId, new {@class = "control-label "})&nbsp;
                            &nbsp; <span><i class="ion-star font-red"></i></span>
                            @Html.DropDownListFor(model => model.LeaveTypeId, ViewBag.LeaveTypeList as IEnumerable<SelectListItem>,
                                "Select Leave", new {@class = "form-control myselect2"})
                            @Html.ValidationMessageFor(model => model.LeaveTypeId, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.year, new {@class = "control-label "})&nbsp;
                            &nbsp; <span><i class="ion-star font-red"></i></span>
                            @Html.DropDownListFor(model => model.year, ViewBag.LeaveYearList as IEnumerable<SelectListItem>,
                                "Select Year", new {@class = "form-control myselect2"})
                            @Html.ValidationMessageFor(model => model.year, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    @*<div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.EndDate, new { @class = "control-label" })
                            &nbsp; <span><i class="ion-star font-red"></i></span>
                            <div class="input-group date" data-datetimepicker-startdate="true">
                                @Html.TextBoxFor(model => model.EndDate, new { Value = "", @class = "form-control" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
                    <div class="col-md-3">
                        <div class="form-group mrg25T">
                            <input type="submit" value="View Assign Leave " id="btnviewshift" class="btn btn-primary"/>
                        </div>
                    </div>
                </div>

            }
        </div>
        <div id="viewform">
            <div class="col-md-12 mrg10T">
                @{
                    int Sl = 0;
                }

                @if (Model.DataListhrHrmsLeaveAssigns != null && Model.DataListhrHrmsLeaveAssigns.Any())
                {
                    <div class="box">
                        <div class="box-body table-responsive">
                            <table id="table2" class="table table-hover table-responsive table-bordered nowrap font-black">
                                <thead>
                                    <tr>
                                        <th>
                                            SL
                                        </th>
                                        @*<th>
                                            @Html.DisplayNameFor(model => model.CardTitle)
                                        </th>*@
                                        <th>
                                            @Html.DisplayNameFor(model => model.EmployeeIdentity)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.year)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.LeaveName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Total)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Taken)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Remaining)
                                        </th>
                                    </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>SL</th>
                                    @*<th>Card Title</th>*@
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Year</th>
                                    <th>Leave</th>
                                    <th>Total</th>
                                    <th>Taken</th>
                                    <th>Remaining</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                @foreach (var item in Model.DataListhrHrmsLeaveAssigns)
                                {
                                    <tr>
                                        <td><b>@(++Sl).</b></td>
                                       
                                        @*<th>
                                            @Html.DisplayFor(modelItem => item.CardTitle)
                                        </th>*@
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EmployeeIdentity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.year)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LeaveName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Total)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Taken)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Remaining)
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

