﻿@model Oss.Hrms.Models.ViewModels.Leave.VM_HRMS_Leave_Type
@{
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
    ViewBag.Title = "View Attendance Leave Type";
}


<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">Leave Type</h3>
    </div>
    <div class="panel-body">
        <div id="dialog-confirm" style="display: none">
            <p>
                <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
                Are you sure to delete?
            </p>
        </div>
        <div id="dialog-edit" style="display: none">
            <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

        </div>
        <section class="content-header">
            <h1>
                Add Leave Type:
                &nbsp;&nbsp;
                (&nbsp; <a href="AddHrmsLeaveType" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
            </h1>

            <ol class="breadcrumb">
                <li><a href="~/HRMS/Index"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">
                    Leave Type
                </li>
            </ol>
        </section>
        <div class="row">
            @{
        int Sl = 0;
            } @if (Model.DataList != null && Model.DataList.Any())
              {
                  <div class="box-body table-responsive">
                      <table id="tablehrms" class="table table-hover table-responsive table-bordered nowrap font-black">
                          <tr>
                              <th>
                                  SL
                              </th>
                              <th>
                                  @Html.DisplayNameFor(model => model.Leave_Name)
                              </th>
                              <th>
                                  @Html.DisplayNameFor(model => model.Leave_Amount)
                              </th>
                              <th>
                                  Action
                              </th>
                          </tr>
                          @foreach (var item in Model.DataList)
                          {
                              <tr>
                                  <td><b>@(++Sl).</b></td>
                                  <td>
                                      @Html.DisplayFor(modelItem => item.Leave_Name)
                                  </td>
                                  <td>
                                      @Html.DisplayFor(modelItem => item.Leave_Amount)
                                  </td>

                                  <td>
                                      @Html.ActionLink(".", "EditHrmsLeaveType", new { id = item.ID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;

                                      @Html.ActionLink(".", "DeleteHrmsLeaveType", new { id = item.ID }, new { @class = "lnkDelete glyphicon glyphicon-trash" }) &nbsp;
                                  </td>

                              </tr>
                          }
                      </table>
                  </div>
              }
       
        </div>
        <div class="clearfix"></div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>*@
    <script>


        $(document).ready(function () {
            var url = "";


            $("#dialog-edit").dialog({
                autoOpen: false,
                resizable: false,
                height: 300,
                width: 500,
                show: { effect: 'left', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close").hide();
                    $(this).load(url);
                }
            });

            $("#dialog-confirm").dialog({
                autoOpen: false,
                resizable: false,
                height: 170,
                width: 350,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close").hide();

                },
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                        window.location.href = url;
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });


            $("#lnkCreate").click(function (e) {
                $(".ui-dialog-titlebar").html("Leave Type: Add New Leave Type  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
                url = $(this).attr('href');
                $("#dialog-edit").dialog('open');
                $("#LoadingBar").show();

                return false;
            })

            $(".lnkEdit").click(function (e) {
                $(".ui-dialog-titlebar").html("Leave Type: Update This Leave Type.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
                url = $(this).attr('href');
                $("#dialog-edit").dialog('open');
                $("#LoadingBar").show();

                return false;
            })

            $(".lnkDelete").click(function (e) {
                $(".ui-dialog-titlebar").html("Leave Type: Delete This Leave Type.");
                url = $(this).attr('href');
                $(".ui-dialog-title").html("Delete");
                $("#dialog-confirm").dialog('open');

                return false;
            })

            $(".btncancel").click(function (e) {
                $("#dialog-edit").dialog("close");
                return false;
            })
            //$('#dialog-edit').load($('#lnkCreate').attr('href'));
            //$('#dialog-edit').load($('.lnkEdit').attr('href'));
        });
    </script>
}



