﻿@model Oss.Hrms.Models.ViewModels.Promotion.VMPromotions
@{
    ViewBag.Title = "PromotionList";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<section class="content-header">
    <h1>
       Promotion List
     
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "EmployeeRecord")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Promotion</li>
        <li class="active">Promotion List</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div id="dialog-edit" style="display: none">
        </div>
        <div class="panel panel-default border-top border-blue">
            <div class="panel-heading pad5A">
                <h3 class="panel-title">Employee Promotion List</h3>
            </div>
           
            <div class="panel-body table-responsive">
                <div style="padding-bottom:5px;">
                    <a href="@Url.Action("PromotionDetails","Promotion")" id="lnkCreate" class="btn btn-primary">Create Promotion</a>
                </div>
                <table id="tablehrms" class="table table-hover table-responsive table-bordered nowrap font-black">
                    <thead>
                        <tr>
                            <th>
                                CardNO
                            </th>
                            <th>
                                Employee Name
                            </th>
                            <th>
                                Section
                            </th>
                            <th>
                                Designation
                            </th>
                            <th>
                                From CardNO
                            </th>
                            <th>
                                From Section
                            </th>
                            <th>
                                From Designation
                            </th>
                            <th>
                                Salary
                            </th>
                            <th>
                                Incre.Salary
                            </th>
                            @*<th>
                        Action
                    </th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CCardNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmployeeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CSection)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CDesignation)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PCardNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PSection)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PDesignation)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PSalary)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CSalary)
                                </td>
                                @*<td>
                            @Html.ActionLink(".", "UpdateSalary", new { id = item.EmployeeID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                        </td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}