﻿@model Oss.Hrms.Models.ViewModels.Promotion.VMPromotions
@{
    ViewBag.Title = "Promotion";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<section class="content-header">
    <h1>
        Promotion
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "EmployeeRecord")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Promotion</li>
    </ol>
</section>
<section class="content">
    <div class="row">

        <div class="col-lg-7 col-md-6">
            @using (Html.BeginForm("PromotionDetails", "Promotion", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="panel panel-default border-top border-blue">
                    <div class="panel-heading pad5A">
                        <h3 class="panel-title">Employee Promotion</h3>
                    </div>
                    <div id="divPanelbody" class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Employee Name</label>
                                    @Html.DropDownListFor(model => model.EmployeeID, ViewBag.Emp as IEnumerable<SelectListItem>, "Select Employee Name", new { @class = "form-control myselect2" })
                                    @Html.ValidationMessageFor(model => model.EmployeeID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" style="padding-top:25px;">
                                    <div class="col-md-offset-3">
                                        <input type="submit" value="Show" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @using (Html.BeginForm("CreatePromotion", "Promotion", FormMethod.Post))
            {
                @Html.HiddenFor(model => model.EmployeeID)
                <div class="panel panel-default border-top border-blue">
                    <div class="panel-heading pad5A">
                        <h3 class="panel-title">Employee Promotion Information</h3>
                    </div>
                    <div id="divPanelbody" class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CardTitle, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CardTitle, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CardTitle, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CardNo, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CardNo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CardNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PromotionDate, new { @class = "control-label" })
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.PromotionDate, new { @class = "form-control calendarControl", autocomplete = "off" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.PromotionDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.DepartmentId, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.DepartmentId, ViewBag.Department as IEnumerable<SelectListItem>, "Select Employee Department", new { @class = "form-control myselect2" })
                            @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SectionId, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.SectionId, ViewBag.Section as IEnumerable<SelectListItem>, "Select Employee Section", new { @class = "form-control myselect2" })
                            @Html.ValidationMessageFor(model => model.SectionId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.DesignationId, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.DesignationId, ViewBag.Designation as IEnumerable<SelectListItem>, "Select Employee Designation", new { @class = "form-control myselect2" })
                            @Html.ValidationMessageFor(model => model.DesignationId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.GradeId, new { @class = "control-label " })&nbsp;
                            @Html.DropDownListFor(model => model.GradeId, new SelectList(ViewBag.Grade, "Value", "Text"), "Select Employee Grade", new { @class = "form-control myselect2" })
                            @Html.ValidationMessageFor(model => model.GradeId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.LineId, new { @class = "control-label " })&nbsp;
                            @Html.DropDownListFor(model => model.LineId, new SelectList(ViewBag.Line, "Value", "Text"), "Select Employee Grade", new { @class = "form-control myselect2" })
                            @Html.ValidationMessageFor(model => model.LineId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.BusinessUnitId, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.BusinessUnitId, ViewBag.BusinessUnit as IEnumerable<SelectListItem>, "Select Employee BusinessUnit", new { @class = "form-control myselect2" })
                            @Html.ValidationMessageFor(model => model.BusinessUnitId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.UnitId, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.UnitId, ViewBag.Unit as IEnumerable<SelectListItem>, "Select Employee Unit", new { @class = "form-control myselect2" })
                            @Html.ValidationMessageFor(model => model.UnitId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group pull-right">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="col-lg-5 col-md-6" id="info">
            <div class="panel panel-default content-box border-top border-green">
                <div class="panel-heading">
                    <h3 class="panel-title">Basic Information</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.VMEmployee.CardTitle, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.VMEmployee.CardTitle, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.VMEmployee.EmployeeIdentity, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.VMEmployee.EmployeeIdentity, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.VMEmployee.Joining_Date, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.VMEmployee.Joining_Date, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.VMEmployee.Name, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.VMEmployee.Name, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.VMEmployee.Section_Name, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.VMEmployee.Section_Name, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.VMEmployee.Designation_Name, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.VMEmployee.Designation_Name, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.VMEmployee.Department_Name, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.VMEmployee.Department_Name, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.VMEmployee.Line, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.VMEmployee.Line, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.VMEmployee.Grade, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.VMEmployee.Grade, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {

            var empId = '@Model.VMEmployee';
            $('#info').hide();
            if (empId == null) {
                $('#info').hide();
            }
            else {
                $('#info').show();
            }
        });
    </script>
}