﻿@model Oss.Hrms.Models.ViewModels.Bonus.VMBonus
@{
    ViewBag.Title = "Bonus Details";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<section class="content-header">
    <h1>
        Fastival Bonus
        <small>Assigned Employee</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "EmployeeRecord")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Payroll</li>
        <li><a href="@Url.Action("ManageBonus", "Payroll")"><i class="fa fa-dashboard"></i> Manage Bonus</a></li>
        <li class="active"> Bonus Details</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="panel panel-default border-top border-blue">
            <div id="dialog-edit" style="display: none">
            </div>
            <div id="divPanelbody" class="panel-body table-responsive">
                <table id="table2" class="table table-hover table-responsive table-bordered nowrap font-black">
                    <thead>
                        <tr>
                            <th>
                                CardNo
                            </th>
                            <th>
                                Employee Name
                            </th>
                            <th>
                                Designation
                            </th>
                            <th>
                                Section Name
                            </th>
                            <th>
                                JoinDate
                            </th>
                            <th>
                                Basic Pay
                            </th>
                            <th>
                                Gross Salary
                            </th>
                            <th>
                                Tenure
                            </th>
                            <th>
                                BonusRate(%)
                            </th>
                            <th>
                                BonusTaka
                            </th>
                            <th>
                                StampTaka
                            </th>
                            <th>
                                PayableTaka
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                CardNo
                            </th>
                            <th>
                                Employee Name
                            </th>
                            <th>
                                Designation
                            </th>
                            <th>
                                Section Name
                            </th>
                            <th>
                                JoinDate
                            </th>
                            <th>
                                Basic Pay
                            </th>
                            <th>
                                Gross Salary
                            </th>
                            <th>
                                TenureDate
                            </th>
                            <th>
                                BonusRate(%)
                            </th>
                            <th>
                                BonusTaka
                            </th>
                            <th>
                                StampTaka
                            </th>
                            <th>
                                PayableTaka
                            </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CardNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmployeeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Designation)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Section)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PreviewJoinDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BasicAmount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GrossSalary)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TenureDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BonusPercentRate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BonusAmount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StampDeduction)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PayableAmount)
                                </td>
                                @*<td>
                                        <div class="col-lg-offset-1">
                                            @Html.ActionLink(".", "VmPayrollDetails", new { id = item.ID + "X" + item.EmpIDFK }, new { @class = "lnkEdit glyphicon glyphicon-list-alt" })
                                        </div>
                                    </td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {

            var url = "";

            $("#dialog-edit").dialog({
                autoOpen: false,
                resizable: false,
                height: 400,
                width: 500,
                show: { effect: 'left', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close").hide();
                    $(this).load(url);
                }
            });

            $("#lnkCreate").click(function (e) {
                $(".ui-dialog-titlebar")
                    .html("Payroll Update  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
                url = $(this).attr('href');
                $("#dialog-edit").dialog('open');
                $("#LoadingBar").show();

                return false;
            });

            $(".lnkEdit").click(function (e) {
                $(".ui-dialog-titlebar")
                    .html("Payroll Details.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
                url = $(this).attr('href');
                $("#dialog-edit").dialog('open');
                $("#LoadingBar").show();

                return false;
            });

            $(".btncancel").click(function (e) {
                $("#dialog-edit").dialog("close");
                return false;
            });
        });
    </script>
}

