﻿@model Oss.Hrms.Models.Entity.HRMS.EmployeePayroll
@{
    ViewBag.Title = "CreateSalary";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
<div id="addform">
    @using (Html.BeginForm("CreateEmployeeSalary", "Payroll", FormMethod.Post, new { data_server = "true", id = "createSalary" }))
    {
        <div class="form-horizontal">

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.EmployeeFK, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.EmployeeFK, ViewBag.Emp as IEnumerable<SelectListItem>, "Select Employee Name", new { @class = "form-control SerchingDropDown" })
                            @Html.ValidationMessageFor(model => model.EmployeeFK, "", new { @class = "text-danger" })
                        </div>
                 
                        <div class="form-group">
                            @Html.LabelFor(model => model.GrossAmount, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.GrossAmount, new { htmlAttributes = new { @class = "form-control", data_input_numeric = true } })
                            @Html.ValidationMessageFor(model => model.GrossAmount, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <div class="col-md-7">
                            </div>
                            <div class="col-md-5">
                                <input type="submit" value="Create" class="btn btn-success" />
                                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
