﻿@model List<Oss.Hrms.Models.ViewModels.Salary.VmEmployeePayroll>
@{
    ViewBag.Title = "ManageSalary";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<section class="content-header">
    <h1>
        Manage
        <small>Employee Salary</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "EmployeeRecord")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Payroll</li>
        <li class="active">Manage Salary</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div id="dialog-edit" style="display: none"></div>
            <div class="panel panel-default border-top border-blue">
                <div class="panel-heading">
                    <h3 class="panel-title">Employee Salary Information</h3>
                </div>
                <div class="panel-body">
                    <div class="box-body table-responsive">
                        <div style="padding-bottom:5px;">
                            <a href="CreateEmployeeSalary" id="lnkCreate" class="btn btn-primary">Create Salary</a>
                        </div>
                        <table id="table2" class="table table-hover table-responsive table-bordered nowrap font-black">
                            <thead>
                                <tr>
                                    <th>
                                        CardNO
                                    </th>
                                    <th>
                                        Employee Name
                                    </th>
                                    <th>
                                        Designation
                                    </th>
                                    <th>
                                        Department
                                    </th>
                                    <th>
                                        Gross Salary
                                    </th>

                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>CardNO</th>
                                    <th>EmployeeName</th>

                                    <th>Designation</th>
                                    <th>
                                        Department
                                    </th>
                                    <th> Gross Salary</th>
                                    <th>.</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.Employee.EmployeeIdentity
                                        </td>
                                        <td>
                                            @item.Employee.Name
                                        </td>
                                        <td>
                                            @item.Designation.Name
                                        </td>

                                        <td>
                                            @item.Department.DeptName
                                        </td>
                                        <td>
                                            @item.EmployeePayroll.GrossAmount
                                        </td>
                                        <td>
                                            <a href="#\" onclick="CreatePromotion(@item.Employee.ID)" title="Salary Increment" class="glyphicon glyphicon-arrow-up"></a>&nbsp;
                                            @*@Html.ActionLink(".", "UpdateSalary", new { id = item.Employee.ID }, new { title = "Salary Increment", @class = "lnkEdit glyphicon glyphicon-arrow-up" }) &nbsp;*@

                                            @Html.ActionLink(".", "DeleteEmployeeSalary", new { Id = item.EmployeePayroll.ID }, new { title = "Delete", @class = "glyphicon glyphicon-trash" })

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                @using (Html.BeginForm("SalaryIncreament", "Payroll", FormMethod.Post, new { id = "frmPromotion" }))
                {
                    <div class="modal fade" id="divPromotion">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button id="btnclear" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">Salary Inreament</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-horizontal">
                                        <input type="hidden" name="empid" id="hidempid" />
                                        <div class="row">

                                            <div class="form-group">
                                                <label class="control-label col-md-4">New Gross Salary</label>
                                                <div class="col-md-6">
                                                    <input class="form-control" name="grossamt"  required type="number" id="grossamt" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Affected From</label>
                                                <div class="col-md-6">
                                                    <input class="calendarControl form-control" name="affdate"  required type="text" id="affdate"  autocomplete="off" />
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    @*<button id='btnreset' type='button' class="btn btn-success"><i class='fa fa-recycle'></i>&nbsp;&nbsp;Reset</button>*@
                                    @*<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>*@
                                    <button type="submit" id="btnothersave" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {

            var url = "";

            $("#dialog-edit").dialog({
                autoOpen: false,
                resizable: false,
                height: 400,
                width: 500,
                show: { effect: 'left', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close").hide();
                    $(this).load(url);
                }
            });

            $("#lnkCreate").click(function (e) {
                $(".ui-dialog-titlebar")
                    .html(
                        "Manage Salary : Create Employee Salary  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
                url = $(this).attr('href');
                $("#dialog-edit").dialog('open');
                //$("#LoadingBar").show();

                return false;
            });

            $(".lnkEdit").click(function (e) {
                $(".ui-dialog-titlebar")
                    .html(
                        "Manage Salary : Update Employee Salary  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
                url = $(this).attr('href');
                $("#dialog-edit").dialog('open');
                //$("#LoadingBar").show();

                return false;
            });

            $(".btncancel").click(function (e) {
                $("#dialog-edit").dialog("close");
                return false;
            });
            //$('#dialog-edit').load($('#lnkCreate').attr('href'));
            //$('#dialog-edit').load($('.lnkEdit').attr('href'));

        });

        function CreatePromotion(id) {
            $("#hidempid").val(id);
            $('#divPromotion').modal('show');
        }
    </script>
}

