﻿@model Oss.Hrms.Models.ViewModels.HRMS.VM_HRMS_Payroll
@{
    ViewBag.Title = "EmployeeSalaryCard";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}


    <div class="row">

        <div class="col-lg-7 col-md-6">
            @using(Html.BeginForm("EmployeeSalaryCard", "Payroll", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="panel panel-default border-top border-blue">
                    <div class="panel-heading pad5A">
                        <h3 class="panel-title">Employee Application</h3>
                    </div>
                    <div id="divPanelbody" class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Employee Name</label>
                                    @Html.DropDownListFor(model => model.EmpIDFK, ViewBag.Emp as IEnumerable<SelectListItem>, "Select Employee Name", new { @class = "form-control myselect2" })
                                    @Html.ValidationMessageFor(model => model.EmpIDFK, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" style="padding-top:25px;">
                                    <div class="col-md-offset-3">
                                        <input type="submit" value="Show" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
           
            @using (Html.BeginForm("EmployeeSalaryCardSave", "Payroll", FormMethod.Post))
            {
                @Html.HiddenFor(model => model.EmpIDFK)
                <div class="panel panel-default border-top border-blue">
                    <div class="panel-heading pad5A">
                        <h3 class="panel-title">Employee Payroll Information</h3>
                    </div>
                    <div id="divPanelbody" class="panel-body">
                        @if (Model.EODRecordList != null)
                        {
                            <table class="table table-hover table-responsive table-bordered nowrap font-black">
                                <thead>
                                    <tr>
                                        <th>
                                            Salary Head
                                        </th>

                                        <th>
                                            Amount
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int item = 0; Model.EODRecordList.Count > item; item++)
                                    {
                                    <tr>
                                        <td>
                                            @Html.HiddenFor(model => model.EODRecordList[item].EODRecordID)
                                            @Html.HiddenFor(model => model.EODRecordList[item].EmployeeID)
                                            @Html.HiddenFor(model => model.EODRecordList[item].EODRefFK)
                                            @Html.DisplayFor(model => model.EODRecordList[item].SalaryItem, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.EODRecordList[item].Amount, new { htmlAttributes = new { @class = "form-control" } })
                                        </td>
                                    </tr>
                                    }

                                </tbody>
                            </table>
                            <div class="row">
                                <div class="form-group pull-right">
                                    <input type="submit" value="Update" class="btn btn-primary" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
           
        </div>

        <div class="col-lg-5 col-md-6" id="info">
            <div class="panel panel-default content-box border-top border-green">
                <div class="panel-heading">
                    <h3 class="panel-title">Basic Information</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.VMEmployee.EmployeeIdentity, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.VMEmployee.EmployeeIdentity, new { htmlAttributes = new { @class = "form-control", @disabled= "disabled" } })
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.VMEmployee.CardNo, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.VMEmployee.CardNo, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.VMEmployee.CardTitle, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.VMEmployee.CardTitle, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.VMEmployee.Name_BN, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.VMEmployee.Name_BN, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.VMEmployee.Designation_Name, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.VMEmployee.Designation_Name, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.VMEmployee.Department_Name, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.VMEmployee.Department_Name, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.VMEmployee.Section_Name, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.VMEmployee.Section_Name, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.VMEmployee.Line, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.VMEmployee.Line, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.VMEmployee.Grade, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.VMEmployee.Grade, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    $(document).ready(function () {

        var empId = '@Model.VMEmployee';
        $('#info').hide();
        if (empId == null) {
            $('#info').hide();
        }
        else {
            $('#info').show();
        }

    });
</script>
}