﻿@model Oss.Hrms.Models.ViewModels.HRMS.VM_HRMS_Payroll
@{
    ViewBag.Title = "EmployeeBasicPay";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}


<div class="row">

    <div class="col-lg-12 col-md-12">
        @using (Html.BeginForm("EmployeeBasicPay", "Payroll", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-default border-top border-blue">
                <div class="panel-heading pad5A">
                    <h3 class="panel-title">Employee Application</h3>
                </div>
                <div id="divPanelbody" class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Employee Name</label>
                                @Html.DropDownListFor(model => model.ID, ViewBag.Designation as IEnumerable<SelectListItem>, "Select a Designation", new { @class = "form-control myselect2" })
                                @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        
                        <div class="col-md-5">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Allowance Name</th>
                                        <th>Amount</th>
                                        <th>IsFixed</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Basic Pay</label>
                                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2" style="padding-top:20px;padding-left:20px" ;>
                            <div class="form-group">
                                <div class="checkbox icheck">
                                    <label>
                                        @Html.CheckBoxFor(model => model.AddAllowance)AddAllowance
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group" style="padding-top:25px;">
                                <div class="col-md-offset-3">
                                    <input type="submit" value="Add & Load" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        @using (Html.BeginForm("EmployeeBasicPaySave", "Payroll", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.ID)
            <div class="panel panel-default border-top border-blue">
                <div class="panel-heading pad5A">
                    <h3 class="panel-title">Employee Payroll Information</h3>
                </div>
                <div id="divPanelbody" class="panel-body">
                    <table id="tablehrms" class="table table-hover table-responsive table-bordered nowrap font-black">
                        <thead>
                            <tr>
                                <th>
                                    CardTitle
                                </th>
                                <th>
                                    CardNo
                                </th>
                                <th>
                                    Employee Name
                                </th>
                                <th>
                                    Designation
                                </th>
                                <th>
                                    Grade
                                </th>
                                <th>
                                    Basic Pay
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int item = 0; Model.ListEmployee.Count > item; item++)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => model.ListEmployee[item].CardTitle, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.ListEmployee[item].CardNo, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.HiddenFor(model => model.ListEmployee[item].ID)
                                        @Html.DisplayFor(model => model.ListEmployee[item].Name, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.ListEmployee[item].Designation_Name, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.ListEmployee[item].Grade, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.ListEmployee[item].BasicPay, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    <div class="row">
                        <div class="form-group pull-right">
                            <input type="submit" value="Update" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
    $(document).ready(function () {

        var empId = '@Model.VMEmployee';
        $('#info').hide();
        if (empId == null) {
            $('#info').hide();
        }
        else {
            $('#info').show();
        }

    });
    </script>
}
