﻿@model List<Oss.Hrms.Models.ViewModels.Salary.VmPayrollDetails>
@using Oss.Hrms.Models.Entity.HRMS
@using Oss.Hrms.Models.Services
@{
    ViewBag.Title = "ManagePayroll";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<section class="content-header">
    <h1>
        Manage
        <small>Employee Payroll Details</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "EmployeeRecord")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Details Payroll</li>
        <li class="active">Manage Details Payroll</li>
    </ol>
</section>
<div class="col-lg-12 col-md-12">
    <div class="panel panel-default border-top border-blue">
        <div class="panel-heading">
            <h3 class="panel-title">
                Details Payroll Information
            </h3>&nbsp;

        </div>
        <div id="divPanelbody" class="panel-body">
            <div class="table table-responsive">
                <table id="tablehrms" class="table table-hover table-responsive table-bordered nowrap font-black">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>Employee Name</th>
                            <th>Designation</th>
                            <th>Department</th>
                            <th>T.Calculated Salary</th>
                            <th>Total Deduction</th>
                            <th>Other Deduction</th>
                            <th>Adjustment</th>
                            <th>Expense Adjustment</th>
                            <th>Final Amount</th>
                            <th>Remarks</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    @{
                        if (Model != null)
                        {
                            int sl = 1;
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td style="font-weight:bold">@sl</td>
                                    <td style="font-weight:bold">@item.Employee.Name (@item.Employee.EmployeeIdentity)</td>
                                    <td>@item.Designation.Name</td>
                                    <td>@item.Department.DeptName</td>
                                    <td style="text-align:right">@item.PayrollDetails.TotalPayble</td>
                                    <td style="text-align:right">@item.PayrollDetails.TotalDeduction</td>
                                    <td id="deduction_@item.PayrollDetails.ID" style="text-align:right">@item.PayrollDetails.OtherDeduction</td>
                                    <td id="adjustment_@item.PayrollDetails.ID" style="text-align:right">@item.PayrollDetails.OtherAdjustment</td>
                                    <td id="expense_@item.PayrollDetails.ID" style="text-align:right">@item.PayrollDetails.ExpenseAdjustment</td>
                                    <td style="font-weight:bold;text-align:right">@item.PayrollDetails.TotalAmountToBePaid</td>
                                    <td id="remark_@item.PayrollDetails.ID">@item.PayrollDetails.Remarks</td>
                                    <td>
                                        @{
                                            if (item.PayrollMaster.PayrollStatus == 1)
                                            {
                                                @Html.ActionLink(".", "SelaryReprocess", new { did = item.PayrollDetails.ID, mid = item.PayrollMaster.ID, fromdate = item.PayrollMaster.FromDate, todate = item.PayrollMaster.ToDate }, new { title = "Salary Re-Process", @class = "fa fa-gear" })
                                                <a id="@item.PayrollDetails.ID" href="#\" class="fa fa-balance-scale" title="Other Deduction/Adjustment" onclick="otheradjustment(@item.PayrollDetails.ID,@item.PayrollMaster.ID)">.</a>
                                            }
                                        }
                                        @Html.ActionLink(".", "SpecificEmployeePayrollDetails", new { sid = EncryptDecrypt.Encrypt(item.PayrollDetails.ID.ToString())}, new { title = "Payroll Details", target = "_blank", @class = "glyphicon glyphicon-list" })
                                    </td>
                                </tr>
                                    sl = sl + 1;
                                }
                            </tbody>
                        }
                    }
                </table>
            </div>
        </div>
        @using (Html.BeginForm("PayrollAdjustement", "Payroll", FormMethod.Post, new { id = "frmPromotion" }))
        {
            <div class="modal fade" id="divPromotion">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button id="btnclear" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Other Adjustment/Deduction</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-horizontal">
                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">O.Deduction Amount</label>
                                        <div class="col-md-6">
                                            <input class="form-control" name="OtherDeduction" required type="number" id="txtOtherDeduction" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">O.Adjustment Amount</label>
                                        <div class="col-md-6">
                                            <input class="form-control" name="OtherAdjustment" required type="number" id="txtOtherAdjustment" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Expense Claim Amount</label>
                                        <div class="col-md-6">
                                            <input class="form-control" name="ExpenseAdjustment" required type="number" id="txtExpenseAdjustment" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Remarks</label>
                                        <div class="col-md-6">
                                            <textarea name="Remarks" id="txtRemark" class="form-control" rows="2"></textarea>
                                        </div>

                                    </div>
                                    <input type="hidden" name="DetailsId" id="hidDetailsId" />
                                    <input type="hidden" name="MasterId" id="hidMasterId" />
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            @*<button id='btnreset' type='button' class="btn btn-success"><i class='fa fa-recycle'></i>&nbsp;&nbsp;Reset</button>*@
                            @*<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>*@
                            <button type="submit" id="btnothersave" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        function otheradjustment(detailsid, masterid) {
            
            var id = detailsid;
            $("#hidDetailsId").val(id);
            $("#hidMasterId").val(masterid);
            $('#txtOtherDeduction').val($('#deduction_' + id).text().trim());
            $('#txtOtherAdjustment').val($('#adjustment_' + id).text().trim());
            $('#txtExpenseAdjustment').val($('#expense_' + id).text().trim());
            $('#txtRemark').val($('#remark_' + id).text().trim());
            $('#divPromotion').modal('show');

        }
    </script>
}