﻿@model Oss.Hrms.Models.ViewModels.Salary.VMSalaryIncrement
@{
    ViewBag.Title = "SalaryIncrement";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<section class="content-header">
    <h1>
        Incremented Salary
        <small>List</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "EmployeeRecord")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Payroll</li>
        <li class="active">Incremented Salary</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Search Yearly Increment by CardTitle Wise</h3>
                    <!-- /.box-tools -->
                </div>
                <div class="box-body">
                    @using (Html.BeginForm("IncrementList", "Payroll", FormMethod.Post))
                    {
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.CardTitleId, ViewBag.CardTitleList as IEnumerable<SelectListItem>, "Select a CardTitle", new { @class = "form-control myselect2" })
                                @Html.ValidationMessageFor(model => model.CardTitleId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="submit" value="Preview" class="btn btn-primary" />
                            </div>
                        </div>
                        
                    }
                </div>
            </div>
        </div>
    </div>
    @if (Model.DataList.Any() && Model.DataList != null)
    {
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-default border-top border-blue">
                    <div class="panel-heading">
                        <h3 class="panel-title">@Model.Title</h3>
                    </div>
                    <div class="panel-body">
                        <div class="box-body table-responsive">
                            <table id="tablehrms" class="table table-hover table-responsive table-bordered nowrap font-black">
                                <thead>
                                    <tr>
                                        <th>
                                            CardNO
                                        </th>
                                        <th>
                                            Employee Name
                                        </th>
                                        <th>
                                            Designation
                                        </th>
                                        <th>
                                            JoinDate
                                        </th>
                                        <th>
                                            Basic
                                        </th>
                                        <th>
                                            Gross
                                        </th>
                                        @*<th>
                                            Rate(%)
                                        </th>
                                        <th>
                                            Amount
                                        </th>*@
                                        <th>
                                            EffectDate
                                        </th>
                                        <th>
                                            Section
                                        </th>
                                    </tr>
                                </thead>
                                @*<tfoot>
                                    <tr>
                                        <th>CardNO</th>
                                        <th>Employee Name</th>
                                        <th>Designation</th>
                                        <th>JoinDate</th>
                                        <th>Basic</th>
                                        <th>Gross</th>
                                        <th>Rate(%)</th>
                                        <th>Amount</th>
                                        <th>EffectDate</th>
                                        <th>Section</th>
                                    </tr>
                                </tfoot>*@
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CardNo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EmployeeName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Designation)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ViewJoinDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BasicAmount)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.GrossSalary)
                                            </td>
                                            @*<td>
                                                @Html.DisplayFor(modelItem => item.IncrementRate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IncrementAmount)
                                            </td>*@
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ViewEfectDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Section)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</section>
