﻿@model List<Oss.Hrms.Models.ViewModels.Salary.VmPayrollManage>
@using Oss.Hrms.Models.Entity.HRMS
@{
    ViewBag.Title = "ManagePayroll";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}

<section class="content-header">
    <h1>
        Manage
        <small>Employee Payroll</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "EmployeeRecord")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Payroll</li>
        <li class="active">Manage Payroll</li>
    </ol>
</section>
<section class="content">
    <div class="col-lg-12 col-md-12">
        <div class="panel panel-default border-top border-blue">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Payroll Information (
                    <a href="#" onclick="CreatePromotion()" class="glyphicon glyphicon-plus"></a> )
                </h3>&nbsp;

            </div>
            <div id="divPanelbody" class="panel-body">

                <table id="tablehrms" class="table table-hover table-responsive table-bordered nowrap font-black">
                    <thead>
                        <tr>
                            <th>Payroll Title</th>
                            <th>From Date</th>
                            <th>To Date</th>
                            <th>Department</th>
                            <th>Total Member</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    @{
                        if (Model != null)
                        {
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.PayrollMaster.PayrollTitle</td>
                                        <td>@item.PayrollMaster.FromDate.ToString("dd MMM yyyy")</td>
                                        <td>@item.PayrollMaster.ToDate.ToString("dd MMM yyyy")</td>

                                        <td>
                                            <table>
                                                @{
                                                    foreach (var data in item.Departments)
                                                    {

                                                        <tr>
                                                            <td style="font-weight:bold">@data.DeptName</td>
                                                        </tr>


                                                    }
                                                }
                                            </table>
                                        </td>
                                        <td style="font-weight:bold">@item.TotalMemebers</td>

                                        @{
                                            if (item.PayrollMaster.PayrollStatus == 1)
                                            {
                                                <td>
                                                    <a id="report_@item.PayrollMaster.ID" onclick="showhider(@item.PayrollMaster.ID,@item.PayrollMaster.PayrollStatus)" class="label label-warning">Running</a>
                                                    <select class="report" id="ddlreport_@item.PayrollMaster.ID" style="display:none">
                                                        <option value="1">Running</option>
                                                        <option value="2">Finalized</option>
                                                        <option value="3">Paid</option>
                                                    </select>
                                                </td>
                                            }
                                            else if (item.PayrollMaster.PayrollStatus == 2)
                                            {
                                                <td>
                                                    <a id="report_@item.PayrollMaster.ID" onclick="showhider(@item.PayrollMaster.ID,@item.PayrollMaster.PayrollStatus)" class="label label-primary">Finalized</a>
                                                    <select  class="report" id="ddlreport_@item.PayrollMaster.ID" style="display:none">
                                                        <option value="1">Running</option>
                                                        <option value="2">Finalized</option>
                                                        <option value="3">Paid</option>
                                                    </select>
                                                </td>
                                            }
                                            else if (item.PayrollMaster.PayrollStatus == 3)
                                            {
                                                <td>
                                                    <a id="report_@item.PayrollMaster.ID" onclick="showhider(@item.PayrollMaster.ID,@item.PayrollMaster.PayrollStatus)" class="label label-success">Paid</a>
                                                    <select  class="report" id="ddlreport_@item.PayrollMaster.ID" style="display:none">
                                                        <option value="1">Running</option>
                                                        <option value="2">Finalized</option>
                                                        <option value="3">Paid</option>
                                                    </select>
                                                </td>
                                            }
                                        }
                                                <td>

                                                    @Html.ActionLink(".", "EmployeePayrollDetails", new { id = item.PayrollMaster.ID }, new { title = "Payroll Details", target = "_blank", @class = "glyphicon glyphicon-share" }) &nbsp;
                                                    @Html.ActionLink(".", "EmployeePayrollDelete", new { id = item.PayrollMaster.ID }, new { title = "Payroll Delete",  @class = "glyphicon glyphicon-trash" }) &nbsp;
                                                    @*@Html.ActionLink(".", "ClosePayroll", new { id = item.PayrollMaster.ID }, new { title = "Close Payroll", @class = "lnkClose glyphicon glyphicon-remove" }) &nbsp;
        @Html.ActionLink("Salary.Sheet", "GetSalarySheet", new { id = item.PayrollMaster.ID }, new { title = "Generate Salary Sheet", @class = "lnkSheet glyphicon glyphicon-print" }) &nbsp;*@
                                                </td>
                                    </tr>
                                }
                            </tbody>
                        }
                    }
                </table>
            </div>
            @using (Html.BeginForm("CreateEmployeePayroll", "Payroll", FormMethod.Post, new { id = "frmPromotion" }))
            {
                <div class="modal fade" id="divPromotion">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button id="btnclear" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">Create Payroll</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-horizontal">
                                    <div class="row">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Payroll Title</label>
                                            <div class="col-md-6">
                                                <input class="form-control" name="PayrollTitle" required type="text" id="PayrollTitle" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4">From Date</label>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <input class="calendarControl form-control" name="FromDate" required type="text" id="FromDate" autocomplete="off" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4">To Date</label>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <input class="calendarControl form-control" name="ToDate" required type="text" id="ToDate" autocomplete="off" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-4">Department(s)</label>
                                            <div class="col-md-6">
                                                @Html.DropDownList("DepartmentFk", ViewBag.Employee as IEnumerable<SelectListItem>, new { @class = "form-control myselect2", @multiple = "multiple", @required = "required" })
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Payment Date</label>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <input class="calendarControl form-control" name="PaymentDate" required type="text" id="PaymentDate" autocomplete="off" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Bonus Percentage</label>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <input class="form-control" name="BonusPercent" required type="number" id="BonusPercent" value="0" />
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-percent"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Payroll</label>
                                            <div class="col-md-6">
                                                @Html.DropDownList("PayrollSettingFk", ViewBag.Payroll as IEnumerable<SelectListItem>, new { @class = "form-control myselect2", @required = "required" })
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Remarks</label>
                                            <div class="col-md-6">
                                                <textarea name="Remarks" class="form-control" rows="2"></textarea>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                @*<button id='btnreset' type='button' class="btn btn-success"><i class='fa fa-recycle'></i>&nbsp;&nbsp;Reset</button>*@
                                @*<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>*@
                                <button type="submit" id="btnothersave" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
@section Scripts {
    <script type="text/javascript">
        function CreatePromotion() {
            $('#divPromotion').modal('show');
        }
         function showhider(id,val) {
             $('#report_' + id).hide();
             //$('#ddlreport_' + planid).val($('#hidr_' + planid).val());
             $('#ddlreport_' + id).val(val);
             $('#ddlreport_' + id).show();

        }
        $(".report").change(function (e) {
            e.preventDefault();
            var str = this.id.split("_").pop();

            var v = $("#ddlreport_" + str).val();
    
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ChangePayrollStatus", "Payroll")',
                    datatype: "Json",
                    data: { payrollid: str, status: v, },
                    success: function (data) {
                        if (data) {
                            location.reload();
                        }
                    }
                });
        });
    </script>
}
