﻿@model Oss.Hrms.Models.ViewModels.HRMS.VM_HRMS_Payroll
@{
    ViewBag.Title = "ManagePayroll";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<section class="content-header">
    <h1>
        Manage
        <small>Employee Payroll</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "EmployeeRecord")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Payroll</li>
        <li class="active">Manage Payroll</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div id="dialog-confirm" style="display: none">
            <p>
                <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
                Are you sure! You want to close this payroll?
            </p>
        </div>
        <div id="dialog-edit" style="display: none">
        </div>
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-default border-top border-blue">
                <div class="panel-heading">
                    <h3 class="panel-title">Payroll Information</h3>
                </div>
                <div id="divPanelbody" class="panel-body">
                    <div style="padding-bottom:5px;">
                        <a href="CreatePayroll" id="lnkCreate" class="btn btn-primary">Create Payroll</a>
                    </div>
                    <table id="tablehrms" class="table table-hover table-responsive table-bordered nowrap font-black">
                        <thead>
                            <tr>
                                <th>Payroll Title</th>
                                <th>FromDate</th>
                                <th>ToDate</th>
                                <th>Total Member</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PayrollDataList)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FromDate)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ToDate)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TotalEmployee)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PayrollStatus)</td>
                                    <td>
                                        @if (item.PayrollStatus.Equals("Running"))
                                        {
                                            @Html.ActionLink("Process.Payroll", "ProcessPayroll", new { id = item.PayRollID }, new { title = "Porocess Payroll", target = "_blank", @class = "lnkEdit glyphicon glyphicon-cog" })
                                        }
                                        &nbsp;@Html.ActionLink(".", "PayrollDetails", new { id = item.PayRollID }, new { title = "Payroll Details", target = "_blank", @class = "glyphicon glyphicon-share" }) &nbsp;
                                        @Html.ActionLink(".", "ClosePayroll", new { id = item.PayRollID }, new { title = "Close Payroll", @class = "lnkClose glyphicon glyphicon-remove" }) &nbsp;
                                        @Html.ActionLink("Salary.Sheet", "GetSalarySheet", new { id = item.PayRollID }, new { title = "Generate Salary Sheet", @class = "lnkSheet glyphicon glyphicon-print" }) &nbsp;
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript">
            $(document).ready(function () {

                var url = "";

                $("#dialog-edit").dialog({
                    autoOpen: false,
                    resizable: false,
                    height: 400,
                    width: 500,
                    show: { effect: 'left', direction: "up" },
                    modal: true,
                    draggable: true,
                    open: function (event, ui) {
                        $(".ui-dialog-titlebar-close").hide();
                        $(this).load(url);
                    }
                });

                $("#dialog-confirm").dialog({
                    autoOpen: false,
                    resizable: false,
                    height: 170,
                    width: 350,
                    show: { effect: 'drop', direction: "up" },
                    modal: true,
                    draggable: true,
                    open: function (event, ui) {
                        $(".ui-dialog-titlebar-close").hide();

                    },
                    buttons: {
                        "OK Close It": function () {
                            $(this).dialog("close");
                            window.location.href = url;
                        },
                        "Cancel": function () {
                            $(this).dialog("close");
                        }
                    }
                });

                $("#lnkCreate").click(function (e) {
                    $(".ui-dialog-titlebar")
                        .html("Manage Payroll : Create Payroll  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
                    url = $(this).attr('href');
                    $("#dialog-edit").dialog('open');
                    //$("#LoadingBar").show();

                    return false;
                });

                $(".lnkEdit").click(function (e) {
                    $(".ui-dialog-titlebar")
                        .html(
                            "Manage Payroll : Process Payroll  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
                    url = $(this).attr('href');
                    $("#dialog-edit").dialog('open');
                    //$("#LoadingBar").show();

                    return false;
                });

                $(".lnkSheet").click(function (e) {
                    $(".ui-dialog-titlebar")
                        .html(
                            "Manage Payroll : Generate Salary Sheet   <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
                    url = $(this).attr('href');
                    $("#dialog-edit").dialog('open');
                    //$("#LoadingBar").show();

                    return false;
                });

                $(".lnkClose").click(function (e) {
                    $(".ui-dialog-titlebar").html("Manage Payroll: Close Payroll");
                    url = $(this).attr('href');
                    $(".ui-dialog-title").html("Delete");
                    $("#dialog-confirm").dialog('open');

                    return false;
                });

                $(".btncancel").click(function (e) {
                    $("#dialog-edit").dialog("close");
                    return false;
                });
                //$('#dialog-edit').load($('#lnkCreate').attr('href'));
                //$('#dialog-edit').load($('.lnkEdit').attr('href'));
            });
        </script>
    }
