﻿@model Oss.Hrms.Models.ViewModels.Bonus.VMBonus
@{
    ViewBag.Title = "ManageBonus";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<section class="content-header">
    <h1>
        Manage
        <small>Fastival Bonus</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "EmployeeRecord")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Payroll</li>
        <li class="active">Fastival Bonus</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div id="dialog-edit" style="display: none">
            </div>
            <div class="panel panel-default border-top border-blue">
                <div class="panel-heading">
                    <h3 class="panel-title">Bonus Information</h3>
                </div>
                <div class="panel-body table-responsive">
                    <div style="padding-bottom:5px;">
                        <a href="CreateBonus" id="lnkCreate" class="btn btn-primary">Create Bonus</a>
                    </div>
                    <table id="table2" class="table table-hover table-responsive table-bordered nowrap font-black">
                        <thead>
                            <tr>
                                <th>
                                    BonusTitle
                                </th>
                                <th>
                                    PaymentDate
                                </th>
                                <th>
                                    BonusStatus
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BonusTitle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PaymentDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BonusStatus)
                                    </td>
                                    <td>
                                        @*@Html.ActionLink(".", "UpdateBonus", new { id = item.BonusId }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;*@

                                        @if (item.BonusStatus.Equals("Running"))
                                        {
                                            @Html.ActionLink(".", "ProcessBonus", new { id = item.BonusId }, new { title = "Porocess Bonus", target = "_blank", @class = "lnkEdit glyphicon glyphicon-cog" })
                                        }
                                        &nbsp;@Html.ActionLink(".", "BonusDetails", new { id = item.BonusId }, new { title = "Bonus Details", target = "_blank", @class = "glyphicon glyphicon-share" }) &nbsp;
                                        @Html.ActionLink(".", "CloseBonus", new { id = item.BonusId }, new { title = "Close Bonus", @class = "lnkClose glyphicon glyphicon-remove" }) &nbsp;
                                        @*@Html.ActionLink(".", "GetSalarySheet", new { id = item.PayRollID }, new { title = "Generate Salary Sheet", @class = "lnkSheet glyphicon glyphicon-print" }) &nbsp;*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {

            var url = "";

            $("#dialog-edit").dialog({
                autoOpen: false,
                resizable: false,
                height: 400,
                width: 500,
                show: { effect: 'left', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close").hide();
                    $(this).load(url);
                }
            });

            $("#lnkCreate").click(function (e) {
                $(".ui-dialog-titlebar")
                    .html(
                        "Manage Bonus : Create Bonus  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
                url = $(this).attr('href');
                $("#dialog-edit").dialog('open');
                //$("#LoadingBar").show();

                return false;
            });

            $(".lnkEdit").click(function (e) {
                $(".ui-dialog-titlebar")
                    .html(
                        "Manage Salary : Update Employee Salary  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
                url = $(this).attr('href');
                $("#dialog-edit").dialog('open');
                //$("#LoadingBar").show();

                return false;
            });

            $(".btncancel").click(function (e) {
                $("#dialog-edit").dialog("close");
                return false;
            });
            //$('#dialog-edit').load($('#lnkCreate').attr('href'));
            //$('#dialog-edit').load($('.lnkEdit').attr('href'));
        });
    </script>
}