﻿@model List<Oss.Hrms.Models.ViewModels.Salary.VmPayrollSetting>
@{
    ViewBag.Title = "ManageSalary";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<section class="content-header">
    <h1>
        Payroll
        <small>Payroll Settings</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "EmployeeRecord")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Payroll</li>
        <li class="active">Payroll Settings</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div id="dialog-edit" style="display: none"></div>
            <div class="panel panel-default border-top border-blue">
                <div class="panel-heading">
                    <h3 class="panel-title">Payroll Settings Information</h3>
                </div>
                <div class="panel-body">
                    <div class="box-body table-responsive">
                        <div style="padding-bottom:5px;">
                            <a onclick="CreatePromotion()" id="lnkCreate" class="btn btn-primary">Create Payroll Settings</a>
                        </div>
                        <div class="box box-solid">
                            <!-- /.box-header -->
                            <div class="box-group" id="accordion">
                                <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                                @{
                                    foreach (var data in Model)
                                    {
                                        <div class="panel box box-primary">
                                            <div class="box-header with-border">
                                                <h4 class="box-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse_@data.PayrollSettingMaster.ID" aria-expanded="true" class="">
                                                        @data.PayrollSettingMaster.Reference
                                                    </a>
                                                    
                                                </h4>
                                                <h4 class="pull-right">
                                                    <a class="glyphicon glyphicon-trash" href="@Url.Action("RemoveSetting","Payroll",new { id=data.PayrollSettingMaster.ID})"></a>
                                                </h4>
                                            </div>
                                            <div id="collapse_@data.PayrollSettingMaster.ID" class="panel-collapse collapse" aria-expanded="@data.PayrollSettingMaster.Status" style="">
                                                <div class="box-body">
                                                    <table class="table-responsive table-condensed">
                                                        <thead>
                                                            <tr>
                                                                <th style="width:6%"></th>
                                                                <th style="width:1%"></th>
                                                                <th style="width:6%"></th>
                                                                <th style="width:5%"></th>

                                                                <th style="width:9%"></th>
                                                                <th style="width:1%"></th>
                                                                <th style="width:6%"></th>
                                                                <th style="width:5%"></th>

                                                                <th style="width:7%"></th>
                                                                <th style="width:1%"></th>
                                                                <th style="width:6%"></th>
                                                                <th style="width:5%"></th>

                                                                <th style="width:9%"></th>
                                                                <th style="width:1%"></th>
                                                                <th style="width:6%"></th>
                                                                <th style="width:5%"></th>

                                                                <th style="width:12%"></th>
                                                                <th style="width:1%"></th>
                                                                <th style="width:6%"></th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td style="font-weight:bold">Basic</td>
                                                                <td style="font-weight:bold">:</td>
                                                                <td>@data.PayrollSetting.Basic %</td>
                                                                <td></td>

                                                                <td style="font-weight:bold">House Rent</td>
                                                                <td style="font-weight:bold">:</td>
                                                                <td>@data.PayrollSetting.HouseRent %</td>
                                                                <td></td>

                                                                <td style="font-weight:bold">Medical</td>
                                                                <td style="font-weight:bold">:</td>
                                                                <td>@data.PayrollSetting.Medical %</td>
                                                                <td></td>

                                                                <td style="font-weight:bold">Conveyance</td>
                                                                <td style="font-weight:bold">:</td>
                                                                <td>@data.PayrollSetting.Conveyance %</td>
                                                                <td></td>

                                                                <td style="font-weight:bold">
                                                                    Provident Fund
                                                                </td>
                                                                <td style="font-weight:bold">:</td>
                                                                <td>@data.PayrollSetting.ProvidentFund %</td>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                        <tfoot>
                                                            <tr style="font-weight:bold">
                                                                <td colspan="19">@data.PayrollSettingMaster.Remarks</td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                }

                            </div>

                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>
                @using (Html.BeginForm("CreatePayrollSetting", "Payroll", FormMethod.Post, new { id = "frmPromotion" }))
                {
                    <div class="modal fade" id="divPromotion">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button id="btnclear" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">Salary Inreament</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-horizontal">
                                        <div class="row">

                                            <div class="form-group">
                                                <label class="control-label col-md-4">Reference Name</label>
                                                <div class="col-md-6">
                                                    <input class="form-control" name="reference" required type="text" id="reference" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Basic</label>
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <input class="form-control" name="Basic" required type="number" id="Basic" step="any" />
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-percent"></span>
                                                        </span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">House Rent</label>
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <input class="form-control" name="HouseRent" required type="number" id="HouseRent" step="any"/>
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-percent"></span>
                                                        </span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Medical</label>
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <input class="form-control" name="Medical" required type="number" id="Medical" step="any"/>
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-percent"></span>
                                                        </span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Conveyance</label>
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <input class="form-control" name="Conveyance" required type="number" id="Conveyance" step="any"/>
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-percent"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Provident Fund</label>
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <input class="form-control" name="ProvidentFund" required type="number" id="ProvidentFund" step="any"/>
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-percent"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Remarks</label>
                                                <div class="col-md-6">
                                                    <textarea class="form-control" name="remarks" id="Remarks" rows="3"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    @*<button id='btnreset' type='button' class="btn btn-success"><i class='fa fa-recycle'></i>&nbsp;&nbsp;Reset</button>*@
                                    @*<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>*@
                                    <button type="submit" id="btnothersave" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        function CreatePromotion(id) {
            $('#divPromotion').modal('show');
        }
    </script>
}

