﻿@model Oss.Hrms.Models.ViewModels.HRMS.VM_HRMS_Payroll

@{
    ViewBag.Title = "Process Payroll";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
<div id="addform">
    <div class="col-lg-12 col-md-12">
        <div class="row">
            @using (Html.BeginForm())
            {
                <div class="form-horizontal">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.PayRollID)
                    @Html.HiddenFor(model => model.FromDate)
                    @Html.HiddenFor(model => model.ToDate)
                    <div class="box-body">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PayRollName, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.PayRollName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.PayRollName, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CardID, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.CardID, ViewBag.CardTitleList as IEnumerable<SelectListItem>, "Select a Card Title", new { @class = "form-control myselect2" })
                                    @Html.ValidationMessageFor(model => model.CardID, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.UnitID, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.UnitID, ViewBag.UnitList as IEnumerable<SelectListItem>, "Select a Unit", new { @class = "form-control myselect2" })
                                    @Html.ValidationMessageFor(model => model.UnitID, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PaymentDate, new { @class = "control-label" })
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.PaymentDate, new { @id = "pdate", @class = "form-control calendarControl" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.PaymentDate, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-5">
                                        <input type="submit" value="Process" id="process" class="btn btn-success" />
                                        <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
                                    </div>
                                </div>
                            </div>



                        </div>


                    </div>
                </div>

            }
        </div>
    </div>
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            console.log("ready!");
            //$("#process").click(function () {
            //    //alert("Handler for .click() called.");
            //    $("#process").attr("disabled", "disabled");
            //});
        });
    </script>
}
