﻿@model Oss.Hrms.Models.ViewModels.Salary.VMSalaryIncrement
@{
    ViewBag.Title = "SalaryIncrement";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<section class="content-header">
    <h1>
        Yearly Salary
        <small>Increment</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "EmployeeRecord")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Payroll</li>
        <li class="active">Salary Increment</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Employee Yearly Increment by CardTitle Wise</h3>
                    <!-- /.box-tools -->
                </div>
                <div class="box-body">
                    @using (Html.BeginForm("SalaryIncrement", "Payroll", FormMethod.Post))
                    {
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.CardTitleId, ViewBag.CardTitleList as IEnumerable<SelectListItem>, "Select a CardTitle", new { @class = "form-control myselect2" })
                                @Html.ValidationMessageFor(model => model.CardTitleId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="submit" value="Preview" class="btn btn-primary" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            @Html.ActionLink("Incremented Salary", "IncrementList", null, new { @class = "btn btn-danger pull-right", @target = "_blank" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    @if (Model.DataList.Any() && Model.DataList!=null)
    {
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-default border-top border-blue">
                    <div class="panel-heading">
                        <h3 class="panel-title">@Model.Title</h3>
                    </div>
                    @using (Html.BeginForm("CreateIncrementSalary", "Payroll", FormMethod.Post, new { data_server = "true", id = "salaryYearlyIncrement" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="panel-body">
                            <div style="padding-bottom:10px;">
                                <div class="col-md-12">
                                    <input type="submit" value="Save" class="btn btn-success" />
                                </div>
                            </div>
                            <div class="box-body table-responsive">
                                <table class="table table-hover table-responsive table-bordered nowrap font-black">
                                    <thead>
                                        <tr>
                                            <th>
                                                CardNO
                                            </th>
                                            <th>
                                                Employee Name
                                            </th>
                                            <th>
                                                Designation
                                            </th>
                                            <th>
                                                JoinDate
                                            </th>
                                            <th>
                                                Basic
                                            </th>
                                            <th>
                                                Gross
                                            </th>
                                            <th>
                                                Rate(%)
                                            </th>
                                            <th>
                                                Amount
                                            </th>
                                            <th>
                                                EffectDate
                                            </th>
                                            <th>
                                                Section
                                            </th>
                                        </tr>
                                    </thead>
                                    @*<tfoot>
                                            <tr>
                                                <th>CardNO</th>
                                                <th>Employee Name</th>
                                                <th>Designation</th>
                                                <th>JoinDate</th>
                                                <th>Basic</th>
                                                <th>Gross</th>
                                                <th>Rate(%)</th>
                                                <th>Amount</th>
                                                <th>EffectDate</th>
                                                <th>Section</th>
                                            </tr>
                                        </tfoot>*@
                                    <tbody>
                                        @for (int item = 0; item < Model.DataList.Count(); ++item)
                                        {
                                            if (Model.DataList[item].BasicAmount <= 0)
                                            {
                                                <tr class="text-danger">
                                                    <td>
                                                        @Html.HiddenFor(modelItem => Model.DataList[item].EmployeeID)
                                                        @Html.HiddenFor(modelItem => Model.DataList[item].EfectDate)
                                                        @Html.HiddenFor(modelItem => Model.DataList[item].IncrementBasic)
                                                        @Html.HiddenFor(modelItem => Model.DataList[item].IncrementHouse)
                                                        @Html.HiddenFor(modelItem => Model.DataList[item].OTAllow)
                                                        @Html.HiddenFor(modelItem => Model.DataList[item].OTRate)
                                                        @Html.EditorFor(modelItem => Model.DataList[item].IsChecked)
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].CardNo)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].EmployeeName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].Designation)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].ViewJoinDate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].BasicAmount)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].GrossSalary)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].IncrementRate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].IncrementAmount)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].ViewEfectDate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].Section)
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.HiddenFor(modelItem => Model.DataList[item].EmployeeID)
                                                        @Html.HiddenFor(modelItem => Model.DataList[item].EfectDate)
                                                        @Html.HiddenFor(modelItem => Model.DataList[item].IncrementBasic)
                                                        @Html.HiddenFor(modelItem => Model.DataList[item].IncrementHouse)
                                                        @Html.HiddenFor(modelItem => Model.DataList[item].OTAllow)
                                                        @Html.HiddenFor(modelItem => Model.DataList[item].OTRate)
                                                        @Html.EditorFor(modelItem => Model.DataList[item].IsChecked)
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].CardNo)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].EmployeeName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].Designation)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].ViewJoinDate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].BasicAmount)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].GrossSalary)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].IncrementRate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].IncrementTotal)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].ViewEfectDate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].Section)
                                                    </td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                    
                </div>
            </div>
        </div>
    }
        
    
   
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}