﻿@model Oss.Hrms.Models.ViewModels.Salary.VmPayrollDetails
@{
    Layout = null;
}
<style>
    h4 {
        border-bottom: 2px solid black;
        display: inline;
    }

    .trclass {
        border: 1px solid #000;
        font-size: 13px;
        font-weight: 800
    }

    .container {
        height: 50px;
        text-align: center;
        font-size: 13px;
        font-weight: 700;
    }

    #page {
        width: 900px;
        margin: 0 auto;
        font-size: 12px;
    }

    @@media print {
        #print, #print * {
            display: none !important;
        }
    }
</style>
<script>
    function printDiv() {
        window.print();
    }
</script>
@Styles.Render("~/Assets/bootstrap/css/bootstrap.min.css")
<div id="page">
    <div>
        <table style="width: 100%">
            <tr>
                <td style="width: 15%"></td>
                <td style="width: 70%; text-align: center">
                    <h4>Salary Details (From @Model.PayrollMaster.FromDate.ToString("dd MMM yyyy") To @Model.PayrollMaster.ToDate.ToString("dd MMM yyyy"))</h4>

                </td>
                <td style="width: 15%">
                    <span id="print" style="float: right;  vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
                        Print
                    </span>
                </td>
            </tr>
        </table>

        <hr style="width: 100%; color: black; height: 1px; background-color:black;" />

        <table style="width:100%">
            <tr>
                <td style="width:14%;font-weight:bold">Name</td>
                <td style="width:1%;font-weight:bold">: </td>
                <td style="width:39%;">
                    @Model.Employee.Name
                </td>
                <td style="width:14%;font-weight:bold">ID</td>

                <td style="width:1%;font-weight:bold">: </td>
                <td style="width:39%;">
                    @Model.Employee.EmployeeIdentity
                </td>

            </tr>
            <tr>
                <td style="width:14%;font-weight:bold">Designation</td>
                <td style="width:1%;font-weight:bold">: </td>
                <td style="width:39%;">
                    @Model.Designation.Name
                </td>
                <td style="width:14%;font-weight:bold">Department</td>
                <td style="width:1%;font-weight:bold">: </td>
                <td style="width:39%;">
                    @Model.Department.DeptName
                </td>
            </tr>
            <tr>
                <td style="width:14%;font-weight:bold">Joining Date</td>
                <td style="width:1%;font-weight:bold">: </td>
                <td style="width:39%;">
                    @Model.Employee.Joining_Date.ToString("dd MMM yyyy")
                </td>
            </tr>
        </table>
        <br />
        <div style="text-align:center;font-weight:bold">(All deduction are based on current gross salary)</div>
        <br />

        <table style="width:100%" border="1">
            <tr style="font-weight:bold">
                <td colspan="4">&nbsp; Current Gross Salary : @Model.GrossSalary</td>
            </tr>
            <tr style="font-weight:bold">
                <td colspan="4">&nbsp; Total Days : @Model.PayrollDetails.TotalDays</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;font-weight:bold">Earning</td>
                <td colspan="2" style="text-align:center;font-weight:bold">Deduction</td>
            </tr>
            <tr>
                <td style="width:35%;font-weight:bold"> &nbsp;Income</td>
                <td style="width:15%;text-align:right">
                    @(Model.PayrollDetails.TotalPayble - Model.PayrollDetails.BonusAmount - Model.PayrollDetails.OtherAdjustment-Model.PayrollDetails.ExpenseAdjustment)
                </td>
                <td style="width:35%;font-weight:bold"> &nbsp;Absent+Unpaid Deduction (@Model.PayrollDetails.AbsentDays Days)</td>
                <td style="width:15%;text-align:right">
                    @Model.PayrollDetails.AbsentDeduction
                </td>

            </tr>
            <tr>
                <td style="width:35%;font-weight:bold"> &nbsp;Bonus (@Model.PayrollDetails.BonusPercent %)</td>
                <td style="width:15%;text-align:right">
                    @Model.PayrollDetails.BonusAmount
                </td>
                <td style="width:35%;font-weight:bold"> &nbsp;Late Deduction (@Model.PayrollDetails.LateDays Days)</td>
                <td style="width:15%;text-align:right">
                    @Model.PayrollDetails.LateDeduction
                </td>

            </tr>
            <tr>
                <td style="width:35%;font-weight:bold"> &nbsp;Other Adjustment</td>
                <td style="width:15%;text-align:right">
                    @Model.PayrollDetails.OtherAdjustment
                </td>
                <td style="width:35%;font-weight:bold"> &nbsp;Inform Late Deduction (@Model.PayrollDetails.InformLateDays Days)</td>
                <td style="width:15%;text-align:right">
                    @Model.PayrollDetails.InformLateDeduction
                </td>

            </tr>
            <tr>
                <td style="width:35%;font-weight:bold"> &nbsp;Expense Adjustment</td>
                <td style="width:15%;text-align:right">@Model.PayrollDetails.ExpenseAdjustment</td>
                <td style="width:35%;font-weight:bold"> &nbsp;Other Deduction</td>
                <td style="width:15%;text-align:right">
                    @Model.PayrollDetails.OtherDeduction
                </td>

            </tr>
            <tr>
                <td style="width:35%;font-weight:bold">&nbsp;Total Income</td>
                <td style="width:15%;font-weight:bold;text-align:right">@Model.PayrollDetails.TotalPayble</td>
                <td style="width:35%;font-weight:bold"> &nbsp;Total Deduction</td>
                <td style="width:15%;font-weight:bold;text-align:right">
                    @Model.PayrollDetails.TotalDeduction
                </td>

            </tr>
            <tr style="height:35px">
                <td colspan="2" style="font-weight:bold;text-align:center">Amount To Be Paid</td>
                <td colspan="2" style="font-weight:bold;text-align:center">@Model.PayrollDetails.TotalAmountToBePaid</td>
            </tr>
        </table>
        <br />
        <br />
        <br />
        <div style="text-align:center;font-weight:bold;font-size:22px">Salary Details</div>
        <table style="width:100%;font-weight:bold" border="1">
            <tr>
                <td colspan="2">&nbsp; Current Gross Salary : @Model.GrossSalary</td>
            </tr>
            @{
                var basic = Model.PayrollSetting.Basic * Model.GrossSalary / 100;
                var house = (Model.PayrollSetting.HouseRent * basic) / 100;
                var medical = (Model.PayrollSetting.Medical * basic) / 100;
                var conveyance = (Model.PayrollSetting.Conveyance * basic) / 100;
                var pf = (Model.PayrollSetting.ProvidentFund * basic) / 100;
                var total = basic + house + medical + conveyance + pf;
                <tr>

                    <td>&nbsp; Basic Salary</td>
                    <td style="text-align:right">@(String.Format("{0:0.00#}", basic))</td>
                </tr>
                <tr>
                    <td>&nbsp; House Rent</td>
                    <td style="text-align:right">@(String.Format("{0:0.00#}", house))</td>
                </tr>
                <tr>
                    <td>&nbsp; Medical Allowance</td>
                    <td style="text-align:right">@(String.Format("{0:0.00#}", medical))</td>
                </tr>
                <tr>
                    <td>&nbsp; Conveyance Allowance</td>
                    <td style="text-align:right">@(String.Format("{0:0.00#}", conveyance))</td>
                </tr>
                <tr>
                    <td>&nbsp; Provident Fund</td>
                    <td style="text-align:right">@(String.Format("{0:0.00#}", pf))</td>
                </tr>
                <tr style="height:25px">
                    <td style="text-align:center">Total</td>
                    <td style="text-align:right">@(String.Format("{0:0.00#}", total))</td>
                </tr>
            }

        </table>
    </div>
</div>
