﻿@model Oss.Hrms.Models.ViewModels.HRMS.VM_HRMS_Payroll
@{
    ViewBag.Title = "Assign Night Bill";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
<div id="addform">
    @using (Html.BeginForm("UpdateBill", "Payroll", FormMethod.Post, new { data_server = "true", id = "updateBill" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.EmployeeID)
        @Html.HiddenFor(model => model.BasicAmount)
        <div class="panel-heading pad5A">
            <h3 class="panel-title">@Model.EmployeeName 's Update Night & HD Bill</h3>
        </div>
        <div class="form-horizontal">
            
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="bg-gray-light">
                                    <th>
                                        Night Rate
                                    </th>
                                    <th>
                                        Holiday Rate
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        @for (int i = 0; i < Model.EODRecordList.Count; i++)
                                        {
                                        <th>
                                            @Html.HiddenFor(model => model.EODRecordList[i].EODRecordID)
                                            @Html.HiddenFor(model => model.EODRecordList[i].EmployeeID)
                                            @Html.HiddenFor(model => model.EODRecordList[i].EODRefFK)
                                            @Html.EditorFor(model => model.EODRecordList[i].Amount, new { htmlAttributes = new { @class = "form-control", data_input_numeric = true } })
                                            @Html.ValidationMessageFor(model => model.EODRecordList[i].Amount, "", new { @class = "text-danger" })
                                        </th>
                                        }
                                    </tr>
                            </tbody>
                        </table>                       
                        <div class="form-group">
                            <div class="col-md-7">
                            </div>
                            <div class="col-md-5">
                                <input type="submit" value="Update" class="btn btn-success" />
                                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

