﻿@model Oss.Hrms.Models.ViewModels.HRMS.VM_HRMS_Payroll
@{
    ViewBag.Title = "UpdateSalary";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
<div id="addform">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            @using (Html.BeginForm("UpdateSalary", "Payroll", FormMethod.Post))
            {
                @Html.HiddenFor(model => model.EmployeeID)
                @Html.HiddenFor(model => model.Title)
                @Html.HiddenFor(model => model.EmployeeType)
                @Html.HiddenFor(model => model.EffectDate)
                <div class="panel-heading pad5A">
                    <h3 class="panel-title">@Model.EmployeeName 's Update Salary</h3>
                </div>
                <div class="form-horizontal">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-12">
                                @*<div class="form-group">
                                    @Html.LabelFor(model => model.OTAllow, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.OTAllow, ViewBag.OTAllowance as IEnumerable<SelectListItem>, "Select Employee Alocation", new {@id="OT", @class = "form-control myselect2" })
                                    @Html.ValidationMessageFor(model => model.OTAllow, "", new { @class = "text-danger" })
                                </div>*@
                                @*<div class="row">
                                    <div class="col-lg-5">
                                        <div class="form-group" id="OnlyOT">
                                            @Html.LabelFor(model => model.OTPerRate, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.OTPerRate, new { htmlAttributes = new { @class = "form-control", data_input_numeric = true } })
                                            @Html.ValidationMessageFor(model => model.OTPerRate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div>
                                            .
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="form-group" id="OnlyAB">
                                            @Html.LabelFor(model => model.AttendenceBonus, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.AttendenceBonus, new { htmlAttributes = new { @class = "form-control", data_input_numeric = true } })
                                            @Html.ValidationMessageFor(model => model.AttendenceBonus, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>*@
                                
                                <div class="form-group">
                                    @Html.LabelFor(model => model.GrossSalary, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.GrossSalary, new { htmlAttributes = new { @class = "form-control", data_input_numeric = true } })
                                    @Html.ValidationMessageFor(model => model.GrossSalary, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <div class="col-md-7">
                                    </div>
                                    <div class="col-md-5">
                                        <input type="submit" value="Update" class="btn btn-success" />
                                        <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
   
</div>
@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {

            $("#OnlyOT").hide();
            $("#OnlyAB").hide();

            var id = '@Model.OTAllow';
            if (id == "0")
            {
                $("#OnlyOT").show();
                $("#OnlyAB").hide();
            }
            else if (id == "1")
            {
                $("#OnlyOT").show();
                $("#OnlyAB").show();
            }
            else if (id == "2") {
                $("#OnlyAB").show();
                $("#OnlyOT").hide();
            }
            else if (id == "3") {
                $("#OnlyAB").hide();
                $("#OnlyOT").hide();
            }

            $('#OT').on('change', function () {
                if (this.value == "0")
                {
                    $("#OnlyOT").show();
                    $("#OnlyAB").hide();
                }
                else if (this.value == "2") {
                    $("#OnlyAB").show();
                    $("#OnlyOT").hide();
                }
                else if (this.value == "1") {
                    $("#OnlyOT").show();
                    $("#OnlyAB").show();
                }
                else if (this.value == "3") {
                    $("#OnlyOT").hide();
                    $("#OnlyAB").hide();
                }
            })
        });
    </script>
}*@
