﻿input[type="text"]:-moz-read-only, input[type="tel"]:-moz-read-only, input[type="email"]:-moz-read-only, input[type="datetime"]:-moz-read-only, input[type="date"]:-moz-read-only, input[type="number"]:-moz-read-only, input[type="checkbox"]:-moz-read-only {
            background-color: #e5e5e5;
            cursor: no-drop;
            color: navy;
            font-weight: bold;
        }

        input[type="text"]:read-only, input[type="tel"]:read-only, input[type="email"]:read-only, input[type="datetime"]:read-only, input[type="date"]:read-only, input[type="number"]:read-only, input[type="checkbox"]:read-only {
            background-color: #e5e5e5;
            cursor: no-drop;
            color: navy;
            font-weight: bold;
        }

        .btn-file {
            position: relative;
            overflow: hidden;
        }

            .btn-file input[type=file] {
                position: absolute;
                top: 0;
                right: 0;
                min-width: 100%;
                min-height: 100%;
                font-size: 100px;
                text-align: right;
                filter: alpha(opacity=0);
                opacity: 0;
                outline: none;
                background: white;
                cursor: inherit;
                display: block;
            }