﻿@if ((Session["success_div"] != null && Session["success_msg"] != null) && Session["success_div"].ToString() == "true")
{
    Session["success_div"] = null;
    <text>
    <script>
        swal.setDefaults({
            confirmButtonColor: '#9CD159',
            showLoaderOnConfirm: true,
            allowOutsideClick: true
        });
        swal({
            title: 'SUCCESS!',
            text: '@Session["success_msg"].ToString()',
            html: true,
            type: 'success'
        });
    </script>
    </text>
    Session["success_msg"] = null;
}
else if ((Session["error_div"] != null && Session["error_msg"] != null) && Session["error_div"].ToString() == "true")
{
    Session["error_div"] = null;
    <text>
    <script>
        swal.setDefaults({
            confirmButtonColor: '#9CD159',
            showLoaderOnConfirm: true,
            allowOutsideClick: true
        });
        swal({
            title: 'ERROR!',
            text: '@Session["error_msg"].ToString()',
                html: true,
                type: 'error'
            });
    </script>
    </text>
    Session["error_msg"] = null;
}
else if ((Session["warning_div"] != null && Session["warning_msg"] != null) && Session["warning_div"].ToString() == "true")
{
    Session["warning_div"] = null;
    <text>
    <script>
        swal.setDefaults({
            confirmButtonColor: '#9CD159',
            showLoaderOnConfirm: true,
            allowOutsideClick: true
        });
        swal({
            title: 'WARNING!',
            text: '@Session["warning_msg"].ToString()',
                        html: true,
                        type: 'warning'
                    });
    </script>
    </text>
    Session["warning_msg"] = null;
}
else if ((Session["info_div"] != null && Session["info_msg"] != null) && Session["info_div"].ToString() == "true")
{
    Session["info_div"] = null;
    <text>
    <script>
        swal.setDefaults({
            confirmButtonColor: '#9CD159',  
            showLoaderOnConfirm: true,
            allowOutsideClick: true
        });
        swal({
            title: 'INFORMATION!',
            text: '@Session["info_msg"].ToString()',
                      html: true,
                      type: 'info'
                  });
    </script>
    </text>
    Session["info_msg"] = null;
}